 <!-- 底部 -->
 <div class="down">
   <div class="common3">
     <!-- 上部 -->
     <div class="up">
       <div class="list">
         <ul class="list-left">
           <li><a href="">联系我们</a></li>
           <li><a href="">返回</a></li>
           <li><a href="">Stopfake</a></li>
           <li><a href="">产品保养</a></li>
           <li><a href="">常问问题</a></li>
         </ul>
         <ul class="list-right">
           <li><a href="">销售条款</a></li>
           <li><a href="">使用条款</a></li>
           <li><a href="">隐私</a></li>
           <li><a href="">可访问性声明</a></li>
         </ul>
       </div>
       <div class="find-shop">
         <span>找一家商店</span>
         <a href="">
           <img src="/images/find-store01.jpeg" alt="">
         </a>
       </div>
     </div>
     <!-- 下部 -->
     <div class="np">
       <div class="np-left">
         <a href=""><img src="/images/Snipaste_2019-05-13_12-01-21.png" alt=""></a>
       </div>
       <div class="contact">
         <p>联系方式: </p>
         <div class="down-form">
           <input type="text" placeholder="您的邮箱">
           <button>o k</button>
         </div>
       </div>
       <div class="np-right">
         <ul>
           <li><a href="javasirpt:;"><i></i><span data-toggle="modal" data-target="#myModal">Mainland China</span></a></li>
           <li><a href=""><i></i><span>Chinese</span></a></li>
         </ul>
       </div>
     </div>
   </div>
 </div>

 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
   <div class="modal-dialog" role="document" style="width: 820px;">
     <div class="modal-content" style="border-radius:0px; width: 900px">
       <div class="modal-header" style="border: none">
         <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
             aria-hidden="true">&times;</span></button>
         <h4 class="modal-title" id="myModalLabel">选择国家</h4>
         <div class="modal-xian"></div>
       </div>
       <div class="modal-body">
         <div class="bian">
           <p></p>
           <div class="meizhou">
             <p>美洲</p>
             <ul>
               <li><a href=""><i></i><span>美国</span></a></li>
               <li><a href=""><i></i><span>加拿大</span></a></li>
               <li><a href=""><i></i><span>其他国家</span></a></li>
             </ul>
           </div>
           <div class="ouzhou">
             <p>欧洲</p>
             <ul>
               <li><a href=""><i></i><span>法国</span></a></li>
               <li><a href=""><i></i><span>英国</span></a></li>
               <li><a href=""><i></i><span>意大利</span></a></li>
               <li><a href=""><i></i><span>德国</span></a></li>
               <li><a href=""><i></i><span>西班牙</span></a></li>
               <li><a href=""><i></i><span>瑞士</span></a></li>
               <li><a href=""><i></i><span>荷兰</span></a></li>
             </ul>
             <ul>
               <li><a href=""><i></i><span>卢森堡</span></a></li>
               <li><a href=""><i></i><span>比利时</span></a></li>
               <li><a href=""><i></i><span>奥地利</span></a></li>
               <li><a href=""><i></i><span>爱尔兰</span></a></li>
               <li><a href=""><i></i><span>葡萄牙</span></a></li>
               <li><a href=""><i></i><span>摩纳哥</span></a></li>
               <li><a href=""><i></i><span>希腊</span></a></li>
             </ul>
           </div>
           <div class="yatai">
             <p>亚太地区</p>
             <ul>
               <li><a href=""><i></i><span>中国大陆</span></a></li>
               <li><a href=""><i></i><span>新加坡</span></a></li>
               <li><a href=""><i></i><span>马来西亚</span></a></li>
               <li><a href=""><i></i><span>台湾</span></a></li>
               <li><a href=""><i></i><span>日本</span></a></li>
               <li><a href=""><i></i><span>澳大利亚</span></a></li>
               <li><a href=""><i></i><span>香港特别行政区和澳门特区</span></a></li>
             </ul>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>