 <!-- 底部 -->
 <div class="down">
        <div class="common3">
          <!-- 上部 -->
          <div class="up">
            <div class="list">
              <ul class="list-left">
                <li><a href="">联系我们</a></li>
                <li><a href="">返回</a></li>
                <li><a href="">Stopfake</a></li>
                <li><a href="">产品保养</a></li>
                <li><a href="">常问问题</a></li>
              </ul>
              <ul class="list-right">
                <li><a href="">销售条款</a></li>
                <li><a href="">使用条款</a></li>
                <li><a href="">隐私</a></li>
                <li><a href="">可访问性声明</a></li>
              </ul>
            </div>
            <div class="find-shop">
              <span>找一家商店</span>
              <a href="">
                  <img src="/images/find-store01.jpeg" alt="">
              </a>
            </div>
          </div>
          <!-- 下部 -->
          <div class="np">
            <div class="np-left">
              <a href=""><img src="/images/Snipaste_2019-05-13_12-01-21.png" alt=""></a>
            </div>
            <div class="contact">
              <p>联系方式: </p>
              <div class="down-form">
                  <input type="text" placeholder="您的邮箱">
                  <button>o k</button>
              </div>
            </div>
            <div class="np-right">
              <ul>
                <li><a href=""><i></i><span>Mainland China</span></a></li>
                <li><a href=""><i></i><span>Chinese</span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      