<div class="het-fixed" id="het-fix">
    <div class="het">
      <!-- 左 -->
      <div class="het-left">
        <ul class="dl-jm">
          <!-- 用户登录 -->
          <li>
            <a href="">
              <i class="fa fa-user-o fa-fw"></i>
              <span>我的账户</span>
            </a>
          </li>
          <!-- 帮助 -->
          <li class="hover-help">
            <a href="" class="help-a">
              <i class="fa fa-exclamation fa-fw"></i>
              <span>帮助</span>
              <i class="fa fa-caret-down  fa-1x fa-fw"></i>
            </a>
            <!-- 鼠标移入的列表 -->
            <div class="help">
              <div>
                <ul>
                  <li><a href="">常见问题</a> </li>
                  <li><a href="">送货政策</a> </li>
                  <li><a href="">产品保养</a> </li>
                  <li><a href="">退货政策</a> </li>
                  <li><a href="">创造回报</a> </li>
                  <li><a href="">隐私政策</a> </li>
                  <li><a href="">Stopfake</a> </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 左边的下拉导航 -->
      <div class="topLeft-list">
        <!-- 女士 -->
        <div class="women">
          <div class="women-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">发现FW19</a></li>
              <li><a href="">Nudes</a></li>
              <li><a href="">Portugaba</a></li>
              <li><a href="">查看所有女士</a></li>
            </ol>
          </div>
          <div class="women-part">
            <ul>
              <li><a href="">图标</a></li>
              <li></li>
              <li><a href="">乃依</a></li>
              <li><a href="">Eloise的</a></li>
              <li><a href="">Iriza</a></li>
              <li><a href="">New Very Prive</a></li>
              <li><a href="">皮嘉尔</a></li>
              <li><a href="">Pigalle Follies</a></li>
              <li><a href="">简单的泵</a></li>
              <li><a href="">凯特</a></li>
              <li><a href="">So 凯特</a></li>
            </ul>
            <ul>
              <li><a href="">鞋</a></li>
              <li></li>
              <li><a href="">婴儿鞋</a></li>
              <li><a href="">球鞋</a></li>
              <li><a href="">靴子</a></li>
              <li><a href="">晚间</a></li>
              <li><a href="">公寓</a></li>
              <li><a href="">骡子</a></li>
              <li><a href="">平台</a></li>
              <li><a href="">水泵</a></li>
              <li><a href="">凉鞋</a></li>
              <li><a href="">楔子</a></li>
            </ul>
            <ul>
              <li><a href="">手袋</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">顶部把手</a></li>
              <li><a href="">斜挎包</a></li>
              <li><a href="">腰带包和迷你包</a></li>
              <li><a href="">手提包</a></li>
              <li><a href="">背包</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">晚装包</a></li>
              <li><a href="">所有手袋</a></li>
            </ul>
            <ul>
              <li><a href="">饰品</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">钱包</a></li>
              <li><a href="">链钱包</a></li>
              <li><a href="">持卡人</a></li>
              <li><a href="">手机套</a></li>
              <li><a href="">Keyrings＆Charms</a></li>
              <li><a href="">所有配件
                </a></li>
            </ul>
          </div>
        </div>
        <div class="women-good">
          <ul>
            <li>
              <div><a href=""><img src="/images/expendWomen.jpg" alt=""><span class="new">上新</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="/images/expend.jpg" alt=""><span>BOM DIA PORTUGABA！</span></a></div>
            </li>
          </ul>
        </div>
        <!-- 男士 -->
        <div class="man">
          <div class="man-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">发现FW19</a></li>
              <li><a href="">Degraloubi</a></li>
              <li><a href="">跑Loubi Run</a></li>
              <li><a href="">查看所有男士</a></li>
            </ol>
          </div>
          <div class="man-part">
            <ul>
              <li><a href="">经典</a></li>
              <li></li>
              <li><a href="">蒲公英</a></li>
              <li><a href="">Greggo</a></li>
              <li><a href="">Lou Spikes</a></li>
              <li><a href="">路易</a></li>
              <li><a href="">皮克船</a></li>
              <li><a href="">Rantus</a></li>
              <li><a href="">视Roadie</a></li>
            </ul>
            <ul>
              <li><a href="">鞋</a></li>
              <li></li>
              <li><a href="">球鞋</a></li>
              <li><a href="">牛津</a></li>
              <li><a href="">德比</a></li>
              <li><a href="">皮便鞋</a></li>
              <li><a href="">踝靴</a></li>
              <li><a href="">船鞋</a></li>
              <li><a href="">帆布鞋和凉鞋</a></li>
            </ul>
            <ul>
              <li><a href="">手袋</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">顶部把手</a></li>
              <li><a href="">斜挎包</a></li>
              <li><a href="">腰带包和迷你包</a></li>
              <li><a href="">手提包</a></li>
              <li><a href="">背包</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">晚装包</a></li>
              <li><a href="">所有手袋</a></li>
            </ul>
            <ul>
              <li><a href="">饰品</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">钱包</a></li>
              <li><a href="">链钱包</a></li>
              <li><a href="">持卡人</a></li>
              <li><a href="">手机套</a></li>
              <li><a href="">Keyrings＆Charms</a></li>
              <li><a href="">所有配件
                </a></li>
            </ul>
          </div>
        </div>
        <div class="man-good">
          <ul>
            <li>
              <div><a href=""><img src="/images/Expend4.jpg" alt=""><span class="new">上新</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="/images/expendMen.jpg" alt=""><span style="right: 400px;">发现新娘！</span></a>
              </div>
            </li>
          </ul>
        </div>
        <!-- 新娘 -->
        <div class="bridal">
          <div class="beauty-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">Loubigraffiti</a></li>
              <li><a href="">Goldomania</a></li>
              <li><a href="">婚礼现场</a></li>
            </ol>
          </div>
          <div class="bridal-part">
            <ul>
              <li><a href="">新娘</a></li>
              <li></li>
              <li><a href="">独家我们的</a></li>
            </ul>
            <ul>
              <li><a href="">新郎</a></li>
              <li></li>
              <li><a href="">独家我们的</a></li>
            </ul>
            <ul>
              <li><a href="">宝宝</a></li>
              <li></li>
            </ul>
            <ul>
              <li><a href="">就像这个时候</a></li>
              <li></li>
              </a></li>
            </ul>
          </div>
        </div>
        <div class="bridal-good">
          <ul>
            <li>
              <div><a href=""><img src="/images/Expend2.jpg" alt=""><span class="new">新娘</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="/images/Expend3.jpg" alt=""><span style="right: 400px;">发现新娘！</span></a></div>
            </li>
          </ul>
        </div>
        <!-- 美妆 -->
        <div class="beauty">
          <div class="beauty-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">Loubigraffiti</a></li>
              <li><a href="">Goldomania</a></li>
              <li><a href="">Loubilaque Lip</a></li>
              <li><a href="">Loubilaque唇彩</a></li>
              <li><a href="">Rouge Louboutin</a></li>
            </ol>
          </div>
          <div class="beauty-part">
            <ul>
              <li><a href="">钉子</a></li>
              <li></li>
              <li><a href="">Rouge Louboutin</a></li>
              <li><a href="">Eloise的</a></li>
              <li><a href="">Noirs</a></li>
              <li><a href="">流行音乐</a></li>
            </ul>
            <ul>
              <li><a href="">嘴唇</a></li>
              <li></li>
              <li><a href="">Rouge Louboutin</a></li>
              <li><a href="">丝滑缎</a></li>
              <li><a href="">天鹅绒哑光</a></li>
              <li><a href="">纯粹的Voile</a></li>
              <li><a href="">Loubilaque</a></li>
              <li><a href="">Loubibelle</a></li>
              <li><a href="">Lip Definer</a></li>
            </ul>
            <ul>
              <li><a href="">眼部收藏</a></li>
              <li></li>
              <li><a href="">Tapeàl'Oeil</a></li>
              <li><a href="">Les Yeux Noirs</a></li>
              <li><a href="">Oeil Vinyle</a></li>
              <li><a href="">Oeil Velours</a></li>
              <li><a href="">眉毛定义者</a></li>
            </ul>
            <ul>
              <li><a href="">香水</a></li>
              <li></li>
              <li><a href="">比基尼Questa Sera</a></li>
              <li><a href="">Tornade金发女郎</a></li>
              <li><a href="">在天堂遇到麻烦</a></li>
              </a></li>
            </ul>
          </div>
        </div>
        <div class="beauty-good">
          <ul>
            <li>
              <div><a href=""><img src="/images/Expand.jpeg" alt=""><span class="new">上新</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="/images/Expand2.jpeg" alt=""><span
                    style="right: 400px;">发现Loubigraffiti</span></a></div>
            </li>
          </ul>
        </div>
      </div>

      <!-- 中 -->
      <div class="het-center">
        <!-- 左边的导航 -->
        <div class="center-left">
          <ul>
            <li><a href="">女士</a></li>
            <li><a href="">男士</a></li>
            <li><a href="">新娘</a></li>
          </ul>
        </div>

        <!-- 中间的logo -->
        <div class="center-logo">
          <a href="">
            <img src="/images/logo.png" alt="">
            <img src="/images/logo2.png" alt="" style="display: none">
          </a>
        </div>
        <!-- 右边的导航 -->
        <div class="center-right">
          <ul>
            <li><a href="">美妆</a></li>
            <li style="font-weight: 600"><a href="">LOUBOUTINWORLD</a></li>
            <li style="font-weight: 600"><a href="">商店</a></li>
          </ul>
        </div>
      </div>

      <!-- 右 -->
      <div class="right">
        <div class="right-ico">
          <ul>
            <li><a href=""><i class="fa fa-search fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-heart-o fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>