    <!-- 左边 导航栏 -->
    <div class="left-nav">
            <div class="left-nav-l">
              <div class="picture">
                <img src="/images/account-profile-pic-normal.png"
                  srcset="/images/account-profile-pic-retina.png 2x" alt="阿凡达" class="ae-img">
              </div>
              <ul class="picture-ul">
                <li><a href="javascript:;">仪表板</a></li>
                <li><a href="javascript:;">地址簿</a></li>
                <li><a href="javascript:;">我的订单</a></li>
                <li><a href="javascript:;">我的收藏</a></li>
                <li><a href="javascript:;">我的时事通讯</a></li>
                <li><a href="javascript:;">我的产品</a></li>
                <li><a href="javascript:;">我的回报</a></li>
                <li><a href="javascript:;">退出</a></li>
              </ul>
            </div>
          </div>