<script type="text/template" id="search_templatesssss">
  <h2 class='search-title-h2'>本次搜索共有{{count}}条数据</h2>
          <div class="shoes conmet">
        {{each list}}
              <div class="shoes-one">
              <div class="shoe-img">
                <a href=""><img src="/images/{{$value.Groom_img1}}" alt="" class="shoes-one-img1"></a>
                <a href=""><img src="/images/{{$value.Groom_img2}}" alt="" class="shoes-one-img2"></a>
            </div>
            <div class="shoe-wri">
                <p>{{$value.Groom_names}}</p>
            </div>
        </div>
        {{/each}}
           
   
</script>