<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <div id="ajax-overlay" style="display:block; opacity: 1;">
        <div class="overlay" id="overlay-holder">
            <div class="page-header">
                <htag2>
                    <span class="wrap">
                        <span class="title">
                            忘记密码的吗？
                        </span>
                    </span>
                </htag2>
            </div>
            <div class="p-forgotPwd">
                <div class="goid">
                    <form action="" class="form upform" method="post" id="form-validate-forgot">
                        <div class="form-group">
                            <font style="vertical-aligh:inherit;">
                                <font style="vertical-aligh:inherit;">输入您的电子邮件地址来重置您的密码。</font>
                            </font>
                        </div>
                        <div class="form-group">
                            <div class="input-box">
                                <input type="email" name="email" alt="电子邮件" id="email_address_forgot" class="input-text  required-entry" placeholder="Email Address" style="width:40%;">
                            </div>
                        </div>
                        <button type="submit" title="提交" class="button btn btn-sign-in ae-button">
                            <span>
                                    <font style="vertical-aligh:inherit;">提交</font>
                            </span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>