/* 头部 */

/* 左 */
.het-fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  height: 90px;
  border: 1px solid #EAEAEB;
  transition: height 0.6s
}

.het-left {
  position: relative;
  float: left;
  width: 230px;
}

.dl-jm {
  margin-top: 10px;
  margin-left: 40px;
}

.dl-jm li {
  float: left;
  position: relative;
}

.dl-jm>li:nth-child(1) {
  margin-right: 40px;
}

.dl-jm li:nth-child(2) {
  position: relative;
}

.dl-jm li:nth-child(2) a {
  position: absolute;
  z-index: 1000;
  width: 100px;
  overflow: hidden;
}

.dl-jm li span {
  color: rgb(95, 91, 91);
}

.dl-jm li i {
  font-size: 16px;
}

.dl-jm li a .fa-caret-down {
  transition: all 0.6s ease;
}

.help {
  position: absolute;
  display: none;
  top: -10px;
  width: 300px;
  height: 141px;
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.15);
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 100;
}

.help ul {
  position: absolute;
  padding: 50px 45px 20px 26px;
  width: 300px;
  height: 142px;
  box-sizing: border-box;
}

.help a {
  cursor: default;
}

.help ul li {
  float: left;
  width: 110px;
  height: 18px;
}

/* 中 */
.het-center {
  float: left;
  padding-top: 10px;
  margin-left: 27%;
  width: 28%;
}

/* 左边的导航 */
.center-left {
  float: left;
  margin-top: 40px;
}

.center-left ul li {
  float: left;
  padding: 0 14px;
}

/* 中间的logo */
.center-logo {
  position: relative;
  float: left;
  width: 102px;
  height: 102px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  line-height: 94px;
}

/* 右边的导航 */
.center-right {
  float: left;
  margin-top: 40px;
}

.center-right ul li {
  float: left;
  padding: 0 12px;
}

.right {
  float: right;
  height: 20px;
  margin-right: 40px;
  margin-top: 10px;
}

.right-ico li {
  float: left;
  margin-left: 15px;
}

/* 头部下拉导航 */
.topLeft-list {
  position: absolute;
  top: 89px;
  width: 100%;
}

.women {
  display: none;
  width: 100%;
  height: 304px;
  background-color: white;
  padding: 25px 520px;
  margin-top: 1px;
}

.women-total {
  float: left;
  margin-right: 40px;
}

.women-total {
  margin-right: 74px;
  margin-top: 30px;
}

.women-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.women a {
  color: #323232;
  transition: all 0.6s;
}

.women a:hover {
  color: #e60b0b;
}

.women-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.women-part {
  float: left;
}

.women-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.women-part ul li {
  padding-bottom: 8px;
}

.women-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.women-part ul li:nth-child(1) a {
  color: #888;
  font-weight: 700;
}

.women-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.women-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.women-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.women-good li:nth-child(1) img {
  float: right;
}

.women-good img {
  height: 180px;
  transition: all 0.5s
}

.women-good img:hover {
  height: 185px;
}

.women-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.women-good {
  font-weight: 700;
}


/* 男士 */
.man {
  display: none;
  width: 100%;
  height: 304px;
  background-color: white;
  padding: 25px 520px;
  margin-top: 1px;
}


.man-total {
  float: left;
  margin-right: 40px;
}

.man-total {
  margin-right: 74px;
  margin-top: 30px;
}

.man-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.man a {
  color: #323232;
  transition: all 0.6s;
}

.man a:hover {
  color: #e60b0b;
}

.man-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.man-part {
  float: left;
}

.man-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.man-part ul li {
  padding-bottom: 8px;
}

.man-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.man-part ul li:nth-child(1) a {
  color: #888;
  font-weight: 700;
}

.man-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.man-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.man-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.man-good li:nth-child(1) img {
  float: right;
}

.man-good img {
  height: 180px;
  transition: all 0.5s
}

.man-good img:hover {
  height: 185px;
}

.man-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.man-good {
  font-weight: 700;
}

/* 新娘 */
.bridal {
  display: none;
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 25px 520px;
}

.bridal-total {
  float: left;
  margin-right: 40px;
}

.bridal-total {
  margin-right: 74px;
  margin-top: 30px;
}

.bridal-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.bridal a {
  color: #323232;
  transition: all 0.6s;
}

.bridal a:hover {
  color: #e60b0b;
}

.bridal-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.bridal-part {
  float: left;
}

.bridal-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.bridal-part ul li {
  padding-bottom: 8px;
}

.bridal-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.bridal-part ul li:nth-child(1) a {
  color: #888;
  font-weight: 700;
}

.bridal-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.bridal-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.bridal-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.bridal-good li:nth-child(1) img {
  float: right;
}

.bridal-good img {
  height: 180px;
  transition: all 0.5s
}

.bridal-good img:hover {
  height: 185px;
}

.bridal-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.bridal-good {
  font-weight: 700;
}




/* 美妆 */
.beauty {
  display: none;
  width: 100%;
  height: 304px;
  background-color: white;
  padding: 25px 520px;
  margin-top: 1px;
}

.beauty-total {
  float: left;
  margin-right: 40px;
}

.beauty-total {
  margin-right: 74px;
  margin-top: 30px;
}

.beauty-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.beauty a {
  color: #323232;
  transition: all 0.5s;
}

.beauty a:hover {
  color: #e60b0b;
}

.beauty-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.beauty-part {
  float: left;
}

.beauty-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.beauty-part ul li {
  padding-bottom: 8px;
}

.beauty-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.beauty-part ul li:nth-child(1) a {
  color: #888;
  font-weight: 700;
}

.beauty-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.beauty-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.beauty-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.beauty-good li:nth-child(1) img {
  float: right;
}

.beauty-good img {
  height: 180px;
  transition: all 0.5s
}

.beauty-good img:hover {
  height: 185px;
}

.beauty-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.beauty-good {
  font-weight: 700;
}

.center-right li:nth-child(2) a:hover {
  color: #e60b0b
}

.center-right li:nth-child(3) a:hover {
  color: #e60b0b
}

/* 头部end */

/* 妇女乃依分类 */
.menu {
  width: auto;
  height: 65px;
  padding: 0 40px;
  margin: 0 40px;
  padding-top: 130px;
}

.conmet::after {
  content: "";
  display: block;
  clear: both;
}


.menu-left i {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 20;
  font-size: 18px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;
}

/* 分类左面 */

.menu-left {
  float: left;
  height: 65px;
}

.menu-left-box {
  width: 500px;
  height: 65px;
}

/* 妇女 */
.menu-left-box-one {
  position: relative;
  z-index: 20;
  float: left;
  width: 40px;
  height: 40px;
  border-bottom: 3px solid #000;
  margin: 0 20px;
}


.menu-left-box-one a {
  font-size: 18px;
  font-weight: 700;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;
}


/* 图标 */
.menu-left-box-two {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.menu-left-box-two a {
  font-size: 18px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;
}


.menu-left-box-two span {
  position: absolute;
  top: 18px;
  right: -16px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.menu-left-box-two:hover .menu-left-box-ul1 {
  display: block;
}

.menu-left-box-ul1 {
  display: none;
  position: absolute;
  top: -4px;
  left: -20px;
  width: 116px;
  height: 120px;
  padding-top: 56px;
  border: 1px solid #cccccc;
  z-index: 20;
}

.menu-left-box-ul1::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 25px;
  height: 50px;
  border: 1px solid #cccccc;
  border-right: 2px solid white;
  border-top: 2px solid white;
  z-index: 10;
}

.menu-left-box .menu-left-box-ul1 li {
  height: 28px;
  padding-left: 20px;
}

.menu-left-box .menu-left-box-ul1 li a {
  font-size: 14px;
}

.menu-left-box .menu-left-box-ul1 li a:hover {
  color: red
}

/* 乃依 */
.menu-left-box-three {
  position: relative;
  z-index: 20;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.menu-left-box-three a {
  font-size: 18px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;

}


.menu-left-box-three span {
  position: absolute;
  top: 18px;
  right: -16px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
}


.menu-left-box-ul2 {
  display: none;
  position: absolute;
  top: -4px;
  left: -20px;
  width: 190px;
  height: 268px;
  padding-top: 56px;
  border: 1px solid #cccccc;
  z-index: 10;
  background-color: white;
}

.menu-left-box-ul2::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  right: -1px;
  width: 94px;
  height: 50px;
  border: 1px solid #cccccc;
  border-right: 2px solid white;
  border-top: 2px solid white;
  z-index: 10;
}

.menu-left-box-three:hover .menu-left-box-ul2 {
  display: block;
}

.menu-left-box .menu-left-box-ul2 li {
  height: 28px;
  padding-left: 20px;
}

.menu-left-box .menu-left-box-ul2 li a {
  font-size: 14px;

}

.menu-left-box .menu-left-box-ul2 li a:hover {
  color: red
}


/* 分类右面 */

.menu-right {
  float: right;
  height: 65px;
}

.menu-right-box {
  width: 460px;
  height: 65px;
}

.menu-right i {
  display: block;
  position: relative;
  z-index: 20;
  font-size: 18px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;
}

/* 女装的尺寸 */
.menu-right-box-one {
  position: relative;
  z-index: 20;
  float: left;
  width: 76px;
  height: 40px;
  margin: 0 20px;
}

.menu-right-box-one a {
  font-size: 12px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;

}

.menu-right-box-one span {
  position: absolute;
  top: 18px;
  right: -16px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.menu-right-box-one:hover .menu-right-box-ul1 {
  display: block;
}

.menu-right-box-ul1 {
  display: none;
  position: absolute;
  top: -4px;
  left: -178px;
  width: 278px;
  height: 310px;
  padding-top: 56px;
  border: 1px solid #cccccc;
  z-index: 10;
  background-color: white;
}


.menu-right-box-ul1::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 152px;
  height: 50px;
  border: 1px solid #cccccc;
  border-left: 2px solid white;
  border-top: 2px solid white;
  z-index: 10;
}

.menu-right-box .menu-right-box-ul1 li {
  float: left;
  width: 72px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

.menu-right .menu-right-box-ul1 li a {
  font-size: 12px;
}

.menu-right-box .menu-right-box-ul1 li a:hover {
  color: red
}


/* 颜色 */
.menu-right-box-two {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.menu-right-box-two a {
  position: relative;
  z-index: 20;
  font-size: 12px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;

}

.menu-right-box-two span {
  position: absolute;
  top: 18px;
  right: -16px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.menu-right-box-two:hover .menu-right-box-ul2 {
  display: block;
}

.menu-right-box-ul2 {
  display: none;
  position: absolute;
  top: -4px;
  left: -169px;
  width: 235px;
  height: 68px;
  padding-top: 56px;
  border: 1px solid #cccccc;
  z-index: 10;
  background-color: white;
}


.menu-right-box-ul2::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 152px;
  height: 50px;
  border: 1px solid #cccccc;
  border-left: 2px solid white;
  border-top: 2px solid white;
  z-index: 10;
}

.menu-right-box .menu-right-box-ul2 li {
  position: relative;
  float: left;
  width: 72px;
  height: 30px;
  line-height: 30px;
  padding-left: 38px;
  padding-top: 10px;
}

.menu-right-box .menu-right-box-ul2 li span {
  display: inline-block;
  position: absolute;
  top: 24px;
  left: 10px;
  width: 12px;
  height: 12px;
  border: 1px solid #cccccc;
  border-radius: 50%;
}

.menu-right-box .menu-right-box-ul2 li:nth-child(1) span {
  background-color: #000;
}

.menu-right-box .menu-right-box-ul2 li:nth-child(2) span {
  background-color: #DFB79B;
}

.menu-right .menu-right-box-ul2 li a {
  font-size: 12px;
}

.menu-right-box .menu-right-box-ul2 li a:hover {
  color: red
}


/* 鞋跟高度 */
.menu-right-box-three {
  position: relative;
  float: left;
  width: 64px;
  height: 40px;
  margin: 0 20px;
}

.menu-right-box-three a {
  position: relative;
  z-index: 20;
  font-size: 12px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;

}

.menu-right-box-three span {
  position: absolute;
  top: 18px;
  right: -16px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.menu-right-box-three:hover .menu-right-box-ul3 {
  display: block;
}

.menu-right-box-ul3 {
  display: none;
  position: absolute;
  top: -4px;
  left: -178px;
  width: 268px;
  height: 120px;
  padding-top: 56px;
  border: 1px solid #cccccc;
  z-index: 10;
  background-color: white;
}


.menu-right-box-ul3::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 162px;
  height: 50px;
  border: 1px solid #cccccc;
  border-left: 2px solid white;
  border-top: 2px solid white;
  z-index: 10;
}

.menu-right-box .menu-right-box-ul3 li:nth-child(1) {
  float: left;
  width: 240px;
  height: 40px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 10px;
  background-image: url(../images/lgp-women-Snipaste2.png);
  background-repeat: no-repeat;
  background-position: 8px 14px;
  text-indent: 34px;
}


.menu-right-box .menu-right-box-ul3 li:nth-child(2) {
  float: left;
  width: 240px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 10px;
  background-image: url(../images/lgp-women-Snipaste3.png);
  background-repeat: no-repeat;
  background-position: 8px 14px;
  text-indent: 34px;
}

.menu-right .menu-right-box-ul3 li a {
  font-size: 12px;

}

.menu-right-box .menu-right-box-ul3 li a:hover {
  color: red
}


/* 材料 */
.menu-right-box-four {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}

.menu-right-box-four a {
  font-size: 12px;
  border-bottom: 3px;
  font-family: '微软雅黑';
  text-align: center;
  line-height: 40px;

}

.menu-right-box-four span {
  position: absolute;
  top: 18px;
  right: -16px;
  border-top: 5px solid black;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  width: 0;
  height: 0;
  margin-left: 4px;
  margin-right: 4px;
}

.menu-right-box-four:hover .menu-right-box-ul4 {
  display: block;
}

.menu-right-box-ul4 {
  display: none;
  position: absolute;
  top: -4px;
  left: -60px;
  width: 128px;
  height: 98px;
  padding-top: 56px;
  border: 1px solid #cccccc;
  z-index: 10;
  background-color: white;
}


.menu-right-box-ul4::before {
  content: "";
  display: block;
  position: absolute;
  top: -1px;
  left: -1px;
  width: 45px;
  height: 50px;
  border: 1px solid #cccccc;
  border-left: 2px solid white;
  border-top: 2px solid white;
  z-index: 10;
}

.menu-right-box .menu-right-box-ul4 li {
  float: left;
  width: 92px;
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  padding-top: 10px;
}

.menu-right .menu-right-box-ul3 li a {
  font-size: 12px;

}

.menu-right-box .menu-right-box-ul4 li a:hover {
  color: red
}


/* 图标 */
.menu-right-box-five {
  position: relative;
  float: left;
  width: 40px;
  height: 40px;
  margin: 0 20px;
}


.menu-right-box-five img {
  margin-top: 6px;
}

/* 鞋款介绍 */
.shoes {
  width: auto;
  padding: 0 40px;
  margin: 0 40px;
}

.shoes-one {
  position: relative;
  width: 416px;
  height: 545px;
  float: left;
}

.shoes-one:hover .shoes-one-img1 {
  opacity: 0;
  /* z-index: 0; */
}

.shoes img {
  width: 420px;
}

.shoes-one-img1 {
  position: absolute;
  z-index: 2;
  opacity: 1;
  transition: all 0.3s;
}

.shoes-one-img2 {
  position: absolute;
  z-index: 1;
}

.shoes p {
  height: 30px;
  font-size: 16px;
  font-family: '微软雅黑';
  text-align: center;
}

.shoes i {
  display: block;
  text-align: center;
  color: rgb(136, 136, 136);
}

.show-img {
  height: 420px;
}

.shoe-wri {
  width: 416px;
  position: absolute;
  left: 0px;
  bottom: 74px;
  z-index: 999;
}