.search {
  position: absolute;
  top: 89px;
  display: none;
  width: 100%;
  height: 95px;
  background-color: #fafafa;
}

.search-con {
  position: relative;
  width: 665px;
  height: 40px;
  margin: 0 auto;
  line-height: 90px;
}

.search-con input {
  width: 665px;
  height: 26px;
  border: none;
  background-color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(163, 163, 163);
}

.search-con button {
  position: absolute;
  top: 35px;
  right: 10px;
  border: none;
  background-color: #fafafa;
  font-size: 24px;
  transition: color 0.4s;
}

.search-con button:hover {
  color: #e60b0b
}