/* 头部 */

/* 左 */
.het-fixed {
    position: fixed;
    width: 100%;
    z-index: 100;
    background: white;
  }
  .het {
    position: fixed;
    position: relative;
    height: 90px;
    border: 1px solid #EAEAEB;
    z-index: 100;
  }
  
  .het-left {
    position: relative;
    float: left;
    width: 230px;
  }
  
  .dl-jm {
    margin-top: 10px;
    margin-left: 40px;  
  }
  
  .dl-jm li {
    float: left;
  }
  
  .dl-jm>li:nth-child(1) {
    margin-right: 40px;
  }
  
  .dl-jm li:nth-child(2) {
    position: relative;
  }
  .dl-jm li:nth-child(2) a {
    position: absolute;
    z-index:1000;
    width: 100px;
  }
  .dl-jm li span {
    color: rgb(95, 91, 91);
  }
  
  .dl-jm li i {
    font-size: 16px;
  }
  
  .dl-jm li a .fa-caret-down {
    transition: all 0.6s ease
  }
  
  .dl-jm li:hover .fa-caret-down{
    transform: rotate(-178deg);
  }
  
  .help {
    position: absolute;
    top: -10px;
    width: 300px;
    height: 0px;
    opacity: 0;
    box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.15);
    box-sizing: border-box;
    transition: all 0.6s;
    background-color: #ffffff;
  }
  
  .help ul {
    padding: 50px 45px 20px 26px;
  }
  
  .help ul li {
    float: left;
    width: 110px;
    height: 18px;
    
  }
  
  .dl-jm li:hover .help {
    height: 142px;
    opacity: 1;
  }
  
  /* 中 */
  .het-center {
    position: absolute;
    top: 10px;
    left: 700px;
  }
  
  /* 左边的导航 */
  .center-left {
    float: left;
    margin-top: 40px;
  }
  
  .center-left ul li{
    float: left;
    padding: 0 14px;
  }
  
  /* 中间的logo */
  .center-logo {
    position: relative;
    float: left;
    width: 102px;
    height: 102px;
    text-align: center;
    background-color: white;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* 右边的导航 */
  .center-right {
    float: left;
    margin-top: 40px;
  }
  
  .center-right ul li{
    float: left;
    padding: 0 12px;
  }
  
  .right {
    float: right;
    height: 20px;
    margin-right: 40px;
    margin-top: 10px;
  }
  
  .right-ico li {
    float: left;
    margin-left: 15px;
  }
  /* 右边的图片设置 */
  .policy-img {
    position: absolute;
    right: 0px;
    top: 93px;
    width: 756px;
    height: 848px;
}
  /* 销售条款*/
  .policy_font_font {
    line-height: 245px;
    font-weight: 300;
    font-size: 24px;
    font-family: "Microsoft YaHei";
    letter-spacing: 2px;
    color: #8888a7;
    margin-left: 42px;
}
.policy_font_downline {
    position: absolute;
    border: 1px solid #f0f1f1;
    width: 934px;
    height: 100px;
    top: 29px;
    left: 169px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.policy_font {
    position: absolute;
    top: 69px;

}
/* 隐私政策 */
.policy_content{
    background: white none repeat scroll 0 0;
    border: 1px solid #666;
    /* margin: 5px;
    padding: 5px; */
    position: relative;
    width: 1145px;
    height: 939px;
    overflow: auto;
}
.policy_content_content h1{
    color: #222222;
    line-height: 20px;
}
.policy_content_content {
    color: #888888;
    font-family: 'Microsoft YaHei';
    font-size: 14px;
    line-height: 34px;
    margin-left: 43px;
    margin-top: -64px;
}
.policy_content_content li{
    text-indent: 2em;
    margin-top: 3px;
}