<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/WOMEN Shoes Pumps.css">
  <link rel="stylesheet" href="../public/css/search.css">
  <link rel="stylesheet" href="../public/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- 头部 -->
  <div class="het-fixed">
    <div class="het">
      <!-- 左 -->
      <div class="het-left">
        <ul class="dl-jm">
          <!-- 用户登录 -->
          <li>
            <a href="">
              <i class="fa fa-user-o fa-fw"></i>
              <span>我的账户</span>
            </a>
          </li>
          <!-- 帮助 -->
          <li class="hover-help">
            <a href="" class="help-a">
              <i class="fa fa-exclamation fa-fw"></i>
              <span>帮助</span>
              <i class="fa fa-caret-down  fa-1x fa-fw"></i>
            </a>
            <!-- 鼠标移入的列表 -->
            <div class="help">
              <div>
                <ul>
                  <li><a href="">常见问题</a> </li>
                  <li><a href="">送货政策</a> </li>
                  <li><a href="">产品保养</a> </li>
                  <li><a href="">退货政策</a> </li>
                  <li><a href="">创造回报</a> </li>
                  <li><a href="">隐私政策</a> </li>
                  <li><a href="">Stopfake</a> </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <!-- 左边的下拉导航 -->
      <div class="topLeft-list">
        <!-- 女士 -->
        <div class="women">
          <div class="women-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">发现FW19</a></li>
              <li><a href="">Nudes</a></li>
              <li><a href="">Portugaba</a></li>
              <li><a href="">查看所有女士</a></li>
            </ol>
          </div>
          <div class="women-part">
            <ul>
              <li><a href="">图标</a></li>
              <li></li>
              <li><a href="">乃依</a></li>
              <li><a href="">Eloise的</a></li>
              <li><a href="">Iriza</a></li>
              <li><a href="">New Very Prive</a></li>
              <li><a href="">皮嘉尔</a></li>
              <li><a href="">Pigalle Follies</a></li>
              <li><a href="">简单的泵</a></li>
              <li><a href="">凯特</a></li>
              <li><a href="">So 凯特</a></li>
            </ul>
            <ul>
              <li><a href="">鞋</a></li>
              <li></li>
              <li><a href="">婴儿鞋</a></li>
              <li><a href="">球鞋</a></li>
              <li><a href="">靴子</a></li>
              <li><a href="">晚间</a></li>
              <li><a href="">公寓</a></li>
              <li><a href="">骡子</a></li>
              <li><a href="">平台</a></li>
              <li><a href="">水泵</a></li>
              <li><a href="">凉鞋</a></li>
              <li><a href="">楔子</a></li>
            </ul>
            <ul>
              <li><a href="">手袋</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">顶部把手</a></li>
              <li><a href="">斜挎包</a></li>
              <li><a href="">腰带包和迷你包</a></li>
              <li><a href="">手提包</a></li>
              <li><a href="">背包</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">晚装包</a></li>
              <li><a href="">所有手袋</a></li>
            </ul>
            <ul>
              <li><a href="">饰品</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">钱包</a></li>
              <li><a href="">链钱包</a></li>
              <li><a href="">持卡人</a></li>
              <li><a href="">手机套</a></li>
              <li><a href="">Keyrings＆Charms</a></li>
              <li><a href="">所有配件
                </a></li>
            </ul>
          </div>
        </div>
        <div class="women-good">
          <ul>
            <li>
              <div><a href=""><img src="../public/images/expendWomen.jpg" alt=""><span class="new">上新</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="../public/images/expend.jpg" alt=""><span>BOM DIA PORTUGABA！</span></a></div>
            </li>
          </ul>
        </div>
        <!-- 男士 -->
        <div class="man">
          <div class="man-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">发现FW19</a></li>
              <li><a href="">Degraloubi</a></li>
              <li><a href="">跑Loubi Run</a></li>
              <li><a href="">查看所有男士</a></li>
            </ol>
          </div>
          <div class="man-part">
            <ul>
              <li><a href="">经典</a></li>
              <li></li>
              <li><a href="">蒲公英</a></li>
              <li><a href="">Greggo</a></li>
              <li><a href="">Lou Spikes</a></li>
              <li><a href="">路易</a></li>
              <li><a href="">皮克船</a></li>
              <li><a href="">Rantus</a></li>
              <li><a href="">视Roadie</a></li>
            </ul>
            <ul>
              <li><a href="">鞋</a></li>
              <li></li>
              <li><a href="">球鞋</a></li>
              <li><a href="">牛津</a></li>
              <li><a href="">德比</a></li>
              <li><a href="">皮便鞋</a></li>
              <li><a href="">踝靴</a></li>
              <li><a href="">船鞋</a></li>
              <li><a href="">帆布鞋和凉鞋</a></li>
            </ul>
            <ul>
              <li><a href="">手袋</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">顶部把手</a></li>
              <li><a href="">斜挎包</a></li>
              <li><a href="">腰带包和迷你包</a></li>
              <li><a href="">手提包</a></li>
              <li><a href="">背包</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">晚装包</a></li>
              <li><a href="">所有手袋</a></li>
            </ul>
            <ul>
              <li><a href="">饰品</a></li>
              <li></li>
              <li><a href="">新东西</a></li>
              <li><a href="">袋</a></li>
              <li><a href="">钱包</a></li>
              <li><a href="">链钱包</a></li>
              <li><a href="">持卡人</a></li>
              <li><a href="">手机套</a></li>
              <li><a href="">Keyrings＆Charms</a></li>
              <li><a href="">所有配件
                </a></li>
            </ul>
          </div>
        </div>
        <div class="man-good">
          <ul>
            <li>
              <div><a href=""><img src="../public/images/Expend4.jpg" alt=""><span class="new">上新</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="../public/images/expendMen.jpg" alt=""><span
                    style="right: 400px;">发现新娘！</span></a>
              </div>
            </li>
          </ul>
        </div>
        <!-- 新娘 -->
        <div class="bridal">
          <div class="beauty-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">Loubigraffiti</a></li>
              <li><a href="">Goldomania</a></li>
              <li><a href="">婚礼现场</a></li>
            </ol>
          </div>
          <div class="bridal-part">
            <ul>
              <li><a href="">新娘</a></li>
              <li></li>
              <li><a href="">独家我们的</a></li>
            </ul>
            <ul>
              <li><a href="">新郎</a></li>
              <li></li>
              <li><a href="">独家我们的</a></li>
            </ul>
            <ul>
              <li><a href="">宝宝</a></li>
              <li></li>
            </ul>
            <ul>
              <li><a href="">就像这个时候</a></li>
              <li></li>
              </a></li>
            </ul>
          </div>
        </div>
        <div class="bridal-good">
          <ul>
            <li>
              <div><a href=""><img src="../public/images/Expend3.jpg" alt=""><span class="new">新娘</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="../public/images/Expend2.jpg" alt=""><span
                    style="right: 400px;">发现新娘！</span></a></div>
            </li>
          </ul>
        </div>
        <!-- 美妆 -->
        <div class="beauty">
          <div class="beauty-total">
            <ol>
              <li></li>
              <li><a href="">新来港定居人士</a></li>
              <li><a href="">Loubigraffiti</a></li>
              <li><a href="">Goldomania</a></li>
              <li><a href="">Loubilaque Lip Lacquer</a></li>
              <li><a href="">Loubilaque唇彩</a></li>
              <li><a href="">Rouge Louboutin</a></li>
            </ol>
          </div>
          <div class="beauty-part">
            <ul>
              <li><a href="">钉子</a></li>
              <li></li>
              <li><a href="">Rouge Louboutin</a></li>
              <li><a href="">Eloise的</a></li>
              <li><a href="">Noirs</a></li>
              <li><a href="">流行音乐</a></li>
            </ul>
            <ul>
              <li><a href="">嘴唇</a></li>
              <li></li>
              <li><a href="">Rouge Louboutin</a></li>
              <li><a href="">丝滑缎</a></li>
              <li><a href="">天鹅绒哑光</a></li>
              <li><a href="">纯粹的Voile</a></li>
              <li><a href="">Loubilaque</a></li>
              <li><a href="">Loubibelle</a></li>
              <li><a href="">Lip Definer</a></li>
            </ul>
            <ul>
              <li><a href="">眼部收藏</a></li>
              <li></li>
              <li><a href="">Tapeàl'Oeil</a></li>
              <li><a href="">Les Yeux Noirs</a></li>
              <li><a href="">Oeil Vinyle</a></li>
              <li><a href="">Oeil Velours</a></li>
              <li><a href="">眉毛定义者</a></li>
            </ul>
            <ul>
              <li><a href="">香水</a></li>
              <li></li>
              <li><a href="">比基尼Questa Sera</a></li>
              <li><a href="">Tornade金发女郎</a></li>
              <li><a href="">在天堂遇到麻烦</a></li>
              </a></li>
            </ul>
          </div>
        </div>
        <div class="beauty-good">
          <ul>
            <li>
              <div><a href=""><img src="../public/images/Expand.jpeg" alt=""><span class="new">上新</span></a></div>
            </li>
            <li>
              <div><a href=""><img src="../public/images/Expand2.jpeg" alt=""><span
                    style="right: 400px;">发现Loubigraffiti</span></a></div>
            </li>
          </ul>
        </div>
      </div>

      <!-- 中 -->
      <div class="het-center">
        <!-- 左边的导航 -->
        <div class="center-left">
          <ul>
            <li><a href="">女士</a></li>
            <li><a href="">男士</a></li>
            <li><a href="">新娘</a></li>
          </ul>
        </div>

        <!-- 中间的logo -->
        <div class="center-logo">
          <a href="">
            <img src="../public/images/logo.png" alt="" id="wait-icon">
            <img src="../public/images/logo2.png" alt="" style="display: none">
          </a>
        </div>
        <!-- 右边的导航 -->
        <div class="center-right">
          <ul>
            <li><a href="">美妆</a></li>
            <li style="font-weight: 600"><a href="">LOUBOUTINWORLD</a></li>
            <li style="font-weight: 600"><a href="">商店</a></li>
          </ul>
        </div>
      </div>

      <!-- 右 -->
      <div class="right">
        <div class="right-ico">
          <ul>
            <li><a href="javascript:;"><i class="fa fa-search fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-heart-o fa-2x"></i></a></li>
            <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
          </ul>
        </div>
      </div>
      <!-- 搜索 -->
      <div class="search">
        <div class="search-con">
          <input type="text" placeholder="搜 索" title="搜索">
          <button>×</button>
        </div>
      </div>
    </div>
  </div>
  <!-- 妇女乃依分类 -->
  <div class="menu conmet">
    <!-- 分类左面 -->
    <div class="menu-left">
      <ul class="menu-left-box .conmet">
        <li class="menu-left-box-one"><a href="">妇女</a></li>
        <li class="menu-left-box-two"><i> <a href="">鞋</a>
            <span></span></i>
          <ul class="menu-left-box-ul1">
            <li><a href="">图标</a></li>
            <li><a href="">鞋</a></li>
            <li><a href="">手袋</a></li>
            <li><a href="">饰品</a></li>
          </ul>
        </li>
        <li class="menu-left-box-three"><i> <a href="">水泵</a> <span></span></i>

          <ul class="menu-left-box-ul2">
            <li><a href="">婴儿鞋</a></li>
            <li><a href="">球鞋</a></li>
            <li><a href="">靴子</a></li>
            <li><a href="">晚间</a></li>
            <li><a href="">公寓</a></li>
            <li><a href="">骡子</a></li>
            <li><a href="">平台</a></li>
            <li><a href="">水泵</a></li>
            <li><a href="">凉鞋</a></li>
            <li><a href="">楔子</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- 孟加拉天鹅绒哑光 -->
  <div class="velvet">
    <div class="velvet-matte conmet">
      <div class="velvet-matte-left conmet">
        <h2>Corneille</h2>
        <span>55毫米</span>
      </div>
      <div class="velvet-matte-right">
        <div></div>
      </div>
    </div>
  </div>
  <!-- 内容区域 -->
  <div class="contents">
    <div class="contents-son conmet">
      <!-- 内容区域左面 -->
      <div class="contents-son-left">
        <div class="large_box">
          <ul>
            <li>
              <img src="../public/images/lgp-WOMEN Shoes Pumps-img5.jpg" width="600" height="350">
            </li>
            <li>
              <img src="../public/images/lgp-WOMEN Shoes Pumps-img6.jpg" width="600" height="350">
            </li>
            <li>
              <img src="../public/images/lgp-WOMEN Shoes Pumps-img7.jpg" width="600" height="350">
            </li>
            <li>
              <img src="../public/images/lgp-WOMEN Shoes Pumps-img8.jpg" width="600" height="350">
            </li>
            <li>
              <img src="../public/images/lgp-WOMEN Shoes Pumps-img6.jpg" width="600" height="350">
            </li>
          </ul>
        </div>
        <div class="small_box conmet">
          <span class="btns lefts_btn" onclick="left_btn()"></span>
          <div class="small_list">
            <ul>
              <li class="on">
                <img src="../public/images/lgp-WOMEN Shoes Pumps-img1.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="../public/images/lgp-WOMEN Shoes Pumps-img2.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="../public/images/lgp-WOMEN Shoes Pumps-img3.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="../public/images/lgp-WOMEN Shoes Pumps-img4.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="../public/images/lgp-WOMEN Shoes Pumps-img2.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
            </ul>
          </div>
          <span class="btns rights_btn" onclick="right_btn()"></span>
        </div>
        <p class="contents-son-left-one">您可能还喜欢</p>
        <div class="contents-son-left-two conmet">
          <div class="contents-son-left-two-first">
            <a href=""><img src="../public/images/lgp-WOMEN Shoes Pumps-img9.jpg" alt=""></a>
            <span>Eloise的</span>
            <i>100毫米</i>
          </div>
          <div class="contents-son-left-two-first">
            <a href=""><img src="../public/images/lgp-WOMEN Shoes Pumps-img10.jpg" alt=""></a>
            <span>乃依</span>
            <i>55毫米</i>
          </div>
          <div class="contents-son-left-two-first">
            <a href=""><img src="../public/images/lgp-WOMEN Shoes Pumps-img11.jpg" alt=""></a>
            <span>Rubylou手拿包</span>
            <i>黑色小牛皮</i>
          </div>
          <div class="contents-son-left-two-first">
            <a href=""><img src="../public/images/lgp-WOMEN Shoes Pumps-img12.jpg" alt=""></a>
            <span>Tornade金发女郎</span>
            <i>Parfum 2,7 fl。盎司 / 80ml</i>
          </div>
        </div>
      </div>
      <!-- 内容区域右面 -->
      <div class="contents-son-right">
        <div class="contents-son-right-one conmet">
          <span>695.00美元</span>
        </div>
        <div class="contents-son-right-two">
          <p>灵感来自Christian Louboutin最具代表性的模特，建筑雕刻的裸色漆皮</p>
          <p>Corneille，安装在55毫米鞋跟上，采用不对称鞋面，通过为典型的尖头泵提</p>
          <p>供低调，现代的精致设计，提升了赌注。</p>
        </div>
        <div class="contents-son-right-four conmet">
          <div class="contents-son-right-four-first">
            <i>选择你的尺码</i>
          </div>
          <div class="contents-son-right-four-second">
            <a href="javascript:;">尺寸指南</a>
            <a href="javascript:;">适合建议</a>
          </div>
        </div>
        <ul class="contents-son-right-ul conmet">
          <li><a href="">34</a></li>
          <li><a href="">34.5</a></li>
          <li><a href="">35</a></li>
          <li><a href="">35.5</a></li>
          <li><a href="">36</a></li>
          <li><a href="">36.5</a></li>
          <li><a href="">37</a></li>
          <li><a href="">37.5</a></li>
          <li><a href="">38</a></li>
          <li><a href="">38.5</a></li>
          <li><a href="">39</a></li>
          <li><a href="">39.5</a></li>
          <li><a href="">40</a></li>
          <li><a href="">40.5</a></li>
          <li><a href="">41</a></li>
          <li><a href="">41.5</a></li>
          <li><a href="">42</a></li>
        </ul>
        <div class="contents-son-right-five">
          <a href="javascript:;" class="contents-son-right-five-btn1"><span>添加至购物袋</span></a>
          <a href="javascript:;" class="contents-son-right-five-btn2"><span>精品可用性</span></a>
        </div>
        <div class="contents-son-right-six">
          <a href="javascript:;" class="contents-son-right-six-1st">
            <span>加入我的愿望清单</span>
            <span>❤</span>
          </a>
        </div>
        <div class="contents-son-right-seven">
          <div class="contents-son-right-seven-1st">
            <button>产品信息</button>
            <div>
              <p>参考：3180801PK1A</p>
              <p>颜色：裸色</p>
              <p>材质：专利</p>
              <p>鞋跟高度：55mm</p>
              <p>系列：18W</p>
            </div>
          </div>
          <div class="contents-son-right-seven-2nd">
            <button>运输</button>
            <div>
              <p>请注意，所有订单均需经过审核，Christian Louboutin保留要求提供额外身份信息并将订单发送至账单地址的权利。除了运输时间外，此流程还请至少24小时。</p>
            </div>
          </div>
          <div class="contents-son-right-seven-3rd">
            <button>退换货</button>
            <div>
              <ul>
                <li>商品必须在交货之日起14天内退回给我们</li>
                <li>您可以登录您的帐户或访问我们的退货 打开新窗口。 页面来申请退货 打开新窗口。 。如需直接协助，请致电+1 888 856 8247（1888-8LOUBIS）与我们联系。</li>
                <li>很抱歉，网上订单不能退回精品店。</li>
                <li>红色鞋底必须处于完美状态。鞋底出现损坏的返回鞋可能会产生费用</li>
                <li>我们为您的交换项目提供免费送货服务</li>
                <li>查看我们的退货政策</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contents-son-right-maintain">
          <a href="">👠产品保养</a>
        </div>
        <div class="contents-son-right-eight">
          <a href="">📲联系我们</a>
        </div>
        <div class="contents-son-right-nine">
          <div>
            <a href="javascript:;"><img src="../public/images/lgp-BEAUTY Lips-Velvet-Matte-img15.png" alt=""></a>
            <a href="javascript:;"><img src="../public/images/lgp-BEAUTY Lips-Velvet-Matte-img16.png" alt=""></a>
            <a href="javascript:;"><img src="../public/images/lgp-BEAUTY Lips-Velvet-Matte-img17.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../public/lib/jquery/jquery.min.js"></script>
  <script src="../public/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../public/js/lgp-lunbotu1.js"></script>
  <script src="../public/js/lgp-click.js"></script>
  <script src="../public/js/logoRound.js"></script>
  <script src="../public/js/search.js"></script>
  <script>
    // 底部input  无关紧要
    $('.contact input').focus(function () {
      $(this).attr('placeholder', '')
    })


    // 头部hover帮助导航栏
    $('.help-a').mouseenter(function () {
      $('.help').show()
      $('.fa-caret-down').css('transform', 'rotate(-178deg)')
    })
    $('.help').mouseleave(function () {
      $('.help').hide()
      $('.fa-caret-down').css('transform', '')
    })

    // 下面是获取网页滚动出去多少 而有的一些指令
    var top1 = document.querySelector('.het-fixed');
    var topHeight = top1.offsetHeight;
    $(window).scroll(function () {
      var docScroll = $(document).scrollTop();
      if (docScroll >= topHeight) {
        // 固定导航栏的高度变化
        $(".het-fixed").css({
          'height': '50px'
        });
        // 搜索的高度变化
        $('.search').css('top', '49px')
        // 下拉高度变化
        $('.women, .man, .beauty').css('margin-top', '0px');
        // 图标左右的外边距变化
        $(".center-left").css("margin-top", '12px');
        $(".center-right").css("margin-top", '12px');
        // 图标的变化
        $('.center-logo').css({
          'transition': 'all 0.5s',
          'width': '50px',
          'height': '50px',
          'lineHeight': '50px'
        })
        $('.center-logo img:nth-child(1)').hide();
        $('.center-logo img:nth-child(2)').show();
        $('.topLeft-list').css('top', '49px')
      } else {
        // 固定导航栏的高度变化
        $(".het-fixed").css({
          'height': '90px'
        });
        // 搜索的高度变化
        $('.search').css('top', '89px')
        // 下拉高度变化
        $('.women, .man, .beauty').css('margin-top', '1px');
        // 图标左右的外边距变化
        $(".center-left").css({
          "margin-top": '40px',
          'transition': 'all 0.5s'
        });
        $(".center-right").css({
          "margin-top": '40px',
          'transition': 'all 0.5s'
        });
        // 图标的变化
        $('.center-logo').css({
          'width': '100px',
          'height': '100px',
          'lineHeight': '94px'
        })
        $('.center-logo img:nth-child(1)').show(600);
        $('.center-logo img:nth-child(2)').hide();
        $('.topLeft-list').css('top', '89px')
      }
      // 这是中间的 网页滚动出去一定高度时 做出的动画
      if (docScroll >= 300) {
        $('.up1').css({
          'top': '0px',
          'opacity': 1
        })
      }
      if (docScroll >= 460) {
        $('.up2').css({
          'top': '0px',
          'opacity': 1
        })
      }
      if (docScroll >= 680) {
        $('.up3').css({
          'top': '0px',
          'opacity': 1
        })
      }
      if (docScroll >= 1060) {
        $('.up4').css({
          'top': '0px',
          'opacity': 1
        })
      }
      if (docScroll >= 2960) {
        $('.up6').css({
          'top': '0px',
          'opacity': 1
        })
      }
      if (docScroll >= 3200) {
        $('.up7').css({
          'top': '0px',
          'opacity': 1
        })
      }
      if (docScroll >= 3280) {
        $('.up8').css({
          'top': '0px',
          'opacity': 1
        })
      }
    });
  </script>

  <script>
    // 这是头部导航栏的下拉
    function show1() {
      $('.women').slideDown()
      $('.women-good').show()
      $('.fa-search').css('color', '#333333')
    }

    function hide1() {
      $('.women').slideUp(90)
      $('.women-good').hide()
    }

    function show2() {
      $('.man').slideDown()
      $('.man-good').show()
      $('.fa-search').css('color', '#333333')
    }

    function hide2() {
      $('.man').slideUp(90)
      $('.man-good').hide()
    }

    function show3() {
      $('.beauty').slideDown()
      $('.beauty-good').show()
      $('.fa-search').css('color', '#333333')
    }

    function hide3() {
      $('.beauty').slideUp(90)
      $('.beauty-good').hide()
    }

    function show4() {
      $('.bridal').slideDown()
      $('.bridal-good').show()
      $('.fa-search').css('color', '#333333')
    }

    function hide4() {
      $('.bridal').slideUp(90)
      $('.bridal-good').hide()
    }

    // 头部下拉导航 women 鼠标移入对应的tab栏让对应的下拉显示 让所有的下拉隐藏
    $('.center-left li:nth-child(1) a').mouseenter(function () {
      show1()
      hide2()
      hide3()
      hide4()
      hide5()
    })
    // 鼠标移出下拉 隐藏
    $('.topLeft-list').mouseleave(function () {
      hide1()
    })

    // 头部下拉导航 man 鼠标移入对应的tab栏让对应的下拉显示 让所有的下拉隐藏
    $('.center-left li:nth-child(2) a').mouseenter(function () {
      show2()
      hide1()
      hide3()
      hide4()
      hide5()
    })
    // 鼠标移出下拉 隐藏
    $('.topLeft-list').mouseleave(function () {
      hide2()
    })

    // 头部下拉导航 beauty 鼠标移入对应的tab栏让对应的下拉显示 让所有的下拉隐藏
    $('.center-right li:nth-child(1) a').mouseenter(function () {
      show3()
      hide1()
      hide2()
      hide4()
      hide5()
    })
    // 鼠标移出下拉 隐藏
    $('.topLeft-list').mouseleave(function () {
      hide3()
    })

    // 头部下拉导航 man 鼠标移入对应的tab栏让对应的下拉显示 让所有的下拉隐藏
    $('.center-left li:nth-child(3) a').mouseenter(function () {
      show4()
      hide1()
      hide2()
      hide3()
      hide5()
    })
    // 鼠标移出下拉 隐藏
    $('.topLeft-list').mouseleave(function () {
      hide4()
    })

    $('.center-right li:nth-child(2) a').mouseenter(function () {
      hide1()
      hide2()
      hide3()
      hide4()
    })
  </script>
</body>

</html>