<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/WOMEN-Shoes-Sneakers.css">
  <link rel="stylesheet" href="../public/lib/font-awesome-4.7.0/css/font-awesome.min.css">
</head>

<body>
  <!-- 头部 -->
  <div class="het">
    <!-- 左 -->
    <div class="het-left">
      <ul class="dl-jm">
        <!-- 用户登录 -->
        <li>
          <a href="">
            <i class="fa fa-user-o fa-fw"></i>
            <span>我的账户</span>
          </a>
        </li>
        <!-- 帮助 -->
        <li>
          <a href="">
            <i class="fa fa-exclamation fa-fw"></i>
            <span>帮助</span>
            <i class="fa fa-caret-down  fa-1x fa-fw"></i>
          </a>
          <!-- 鼠标移入的列表 -->
          <div class="help">
            <ul>
              <li><a href="">常见问题</a> </li>
              <li><a href="">送货政策</a> </li>
              <li><a href="">产品保养</a> </li>
              <li><a href="">退货政策</a> </li>
              <li><a href="">创造回报</a> </li>
              <li><a href="">隐私政策</a> </li>
              <li><a href="">Stopfake</a> </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- 中 -->
    <div class="het-center">
      <!-- 左边的导航 -->
      <div class="center-left">
        <ul>
          <li><a href="">女士</a></li>
          <li><a href="">男士</a></li>
          <li><a href="">新娘</a></li>
        </ul>
      </div>
      <!-- 中间的logo -->
      <div class="center-logo">
        <a href=""><img src="../public/images/logo.png" alt=""></a>
      </div>
      <!-- 右边的导航 -->
      <div class="center-right">
        <ul>
          <li><a href="">美妆</a></li>
          <li><a href="">LOUBOUTINWORLD</a></li>
          <li><a href="">商店</a></li>
        </ul>
      </div>
    </div>
    <!-- 右 -->
    <div class="right">
      <div class="right-ico">
        <ul>
          <li><a href=""><i class="fa fa-search fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-heart-o fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 妇女鞋分类 -->
  <div class="menu .conmet">
    <!-- 分类左面 -->
    <div class="menu-left">
      <ul class="menu-left-box .conmet">
        <li class="menu-left-box-one"><a href="">妇女</a></li>
        <li class="menu-left-box-two"><i> <a href="">鞋</a>
            <span></span></i>
          <ul class="menu-left-box-ul1">
            <li><a href="">图标</a></li>
            <li><a href="">鞋</a></li>
            <li><a href="">手袋</a></li>
            <li><a href="">饰品</a></li>
          </ul>
        </li>
        <li class="menu-left-box-three"><i> <a href="">球鞋</a> <span></span></i>

          <ul class="menu-left-box-ul2">
            <li><a href="">婴儿鞋</a></li>
            <li><a href="">球鞋</a></li>
            <li><a href="">靴子</a></li>
            <li><a href="">晚间</a></li>
            <li><a href="">公寓</a></li>
            <li><a href="">骡子</a></li>
            <li><a href="">平台</a></li>
            <li><a href="">水泵</a></li>
            <li><a href="">凉鞋</a></li>
            <li><a href="">楔子</a></li>
          </ul>
        </li>
      </ul>
    </div>
    <!-- 分类右面 -->
    <div class="menu-right">
      <ul class="menu-right-box conmet">
        <li class="menu-right-box-one">
          <i><a href="">女装的尺寸</a>
            <span></span></i>
          <ul class="menu-right-box-ul1">
            <li><a href="">◯18</a></li>
            <li><a href="">◯34</a></li>
            <li><a href="">◯34.5</a></li>
            <li><a href="">◯35</a></li>
            <li><a href="">◯35.5</a></li>
            <li><a href="">◯36</a></li>
            <li><a href="">◯36.5</a></li>
            <li><a href="">◯37</a></li>
            <li><a href="">◯37.5</a></li>
            <li><a href="">◯38</a></li>
            <li><a href="">◯38.5</a></li>
            <li><a href="">◯39</a></li>
            <li><a href="">◯39.5</a></li>
            <li><a href="">◯40</a></li>
            <li><a href="">◯40.5</a></li>
            <li><a href="">◯41</a></li>
            <li><a href="">◯41.5</a></li>
            <li><a href="">◯42</a></li>
            <li><a href="">◯42.5</a></li>
            <li><a href="">◯43</a></li>
          </ul>
        </li>

        <li class="menu-right-box-two"> <i><a href="">颜色</a>
            <span></span></i>
          <ul class="menu-right-box-ul2">
            <li><span></span><a href="">黑色</a></li>
            <li><span></span><a href="">蓝色</a></li>
            <li><span></span><a href="">金</a></li>
            <li><span></span><a href="">彩色</a></li>
            <li><span></span><a href="">裸体</a></li>
            <li><span></span><a href="">粉</a></li>
            <li><span></span><a href="">银</a></li>
            <li><span></span><a href="">白色</a></li>
          </ul>
        </li>

        <li class="menu-right-box-three"><i><a href="">鞋跟高度</a>
            <span></span></i>
          <ul class="menu-right-box-ul3">
            <li><a href="">(0-30mm / 0-1.2 inches)</a></li>
            <li><a href="">(30-60mm / 1.2-2.3 inches)</a></li>
          </ul>
        </li>
        <li class="menu-right-box-four"><i><a href="">材料</a>
            <span></span></i>
          <ul class="menu-right-box-ul4">
            <li><a href="">◯皮革</a></li>
          </ul>
        </li>
        <li class="menu-right-box-five"><i><a href="">
              <img src="../public/images/lgp-women-Snipaste.png" alt="">
            </a></i></li>
      </ul>
    </div>
  </div>
  <!-- 鞋款介绍 -->
  <div class="shoes conmet">
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (1).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (2).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Orlato女人平</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (3).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (4).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Orlato女人平</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (5).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (6).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Satin Azulejos</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (7).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (8).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Orlato Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (9).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (10).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Pik Boat Women's Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (11).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (12).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Pik Boat Women's Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (13).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (14).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Pik Boat Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (15).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (16).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Pave Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (17).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (18).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Pik Boat Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (19).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (20).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Roller Boat Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (21).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (22).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (23).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (24).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Orlato Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (25).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (26).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Orlato Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (27).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (28).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Ac Vieira Spikes Orlato Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (29).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (30).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Spikes Orlato Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (31).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (32).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vieira Spikes Orlato Woman Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (33).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (34).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vrs 2018 Orlato Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (35).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (36).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Vrs 2018 Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (37).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (38).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Spike Sock Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (39).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (40).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Spike Sock Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (41).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (42).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Spiky Sock Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (43).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (44).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Krystal Sock Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (45).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (46).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Aurelien Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (47).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (48).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Aurelien Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (49).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (50).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Aurelien Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (51).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (52).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Aurelien Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (53).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (54).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Red Runner Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (55).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (56).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Red Runner Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (57).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (58).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>123 Run Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (59).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (60).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>123 Run Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (61).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (62).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Lou Spikes Woman Orlato Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (63).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (64).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Lou Spikes Woman Orlato Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (65).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (66).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Louis Woman's Spikes Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (67).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (68).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Butchetta Donna Flat</p>
      </div>
    </div>
    <div class="shoes-one">
      <div class="shoe-img">
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (69).jpg" alt="" class="shoes-one-img1"></a>
        <a href=""><img src="../public/images/lgp-WOMEN-Sneakers-img1 (70).jpg" alt="" class="shoes-one-img2"></a>
      </div>
      <div class="shoe-wri">
        <p>Cavaletta Donna Flat</p>
      </div>
    </div>
  </div>
  <script src="../public/lib/jquery/jquery.min.js"></script>
  <script src="../public/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="../public/js/index.js"></script>
</body>

</html>