/* 新闻 */ 
.shop {
  padding: 90px 0 0 0;
  width: 100%;
  height: 9260px;
  margin-bottom: 50px;
  /* border: 1px solid red; */
}

.all {
  margin-bottom: 40px;
}

.page {
  font-size: 24px;
  margin: 30px 0 30px 0;
  background: url('../images/title_border.gif') repeat-x 0 12px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  height: 23px;
}

.page span {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 40px;
  background: #fff;
  font-size: 24px;
  color: rgb(100, 99, 99);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.new {
  width: 100%;
}

.new-list {
  width: 100%;
  height: 350px;
  border-top: solid 1px #ebe9e9;
  font-family: 'Frutiger',Helvetica,Arial,sans-serif;
}

.new-left {
  float: left;
  width: 50%;
  height: 100%;
}

.new-left div {
  width: 100%;
  height: 349px;
  background-image: url('../images/sh_fw19_s1__portugaba_4.jpg');
  background-position: center center;
}

.new-list:nth-child(2) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/clb_clma_official_portraits_1_bdheader.jpg');
  background-position: center center;
}

.new-list:nth-child(3) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/clb_isamaya_ffrench_officialportrait1_lrheader.jpg');
  background-position: center center;
}

.new-list:nth-child(4) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/4q6a5692.jpg');
  background-position: center center;
}

.new-list:nth-child(5) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/190226_jardin_des_plantes_jose_0016ok.jpg');
  background-position: center center;
}

.new-list:nth-child(6) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/regina_king_-_oscars_ceremony_2019_-_february_20192_1.jpg');
  background-position: center center;
}

.new-list:nth-child(7) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-sh_ss19_runloubirunmen_03.jpg');
  background-position: center center;
}

.new-list:nth-child(8) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/blair_caldwell_19.jpg');
  background-position: center center;
}

.new-list:nth-child(9) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-sh_ss19_runloubirunwomen_01_lr.jpg');
  background-position: center center;
}

.new-list:nth-child(10) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/sans_titre_1.jpg');
  background-position: center center;
}

.new-list:nth-child(11) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/6y8a2943ok.jpg');
  background-position: center center;
}

.new-list:nth-child(12) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/chadwick_boseman_1.jpg');
  background-position: center center;
}

.new-list:nth-child(13) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/photo_05-12-2018_03_29_20.jpg');
  background-position: center center;
}

.new-list:nth-child(14) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-cl_18_fw_loubi-in-progress_ren_-habermacher_7.jpg');
  background-position: center center;
}

.new-list:nth-child(15) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-cl-ss19-marie-jane-courtesy-of-christian-louboutin_1-2_ld.jpg');
  background-position: center center;
}

.new-list:nth-child(16) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/11102018-130a6339-2.jpg');
  background-position: center center;
}

.new-list:nth-child(17) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-cl_18_fw_rankick_jos_-castellar_05-news_crop.jpg');
  background-position: center center;
}

.new-list:nth-child(18) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/cl_18_fw_manilacaba_cru-camara_20.jpg');
  background-position: center center;
}

.new-list:nth-child(19) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/showroom_12_copie-header.jpg');
  background-position: center center;
}

.new-list:nth-child(20) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/_mg_8172_1-2.jpg');
  background-position: center center;
}

.new-list:nth-child(21) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/_t8a8217_edit.jpg');
  background-position: center center;
}

.new-list:nth-child(22) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/cl_18_ss_opulence_robi-rodriguez_4-2.jpg');
  background-position: center center;
}

.new-list:nth-child(23) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/christian_louboutin_for_naeem_khan_-_cross_me_cover_image.jpg');
  background-position: center center;
}

.new-list:nth-child(24) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/close_up_1.jpg');
  background-position: center center;
}

.new-list:nth-child(25) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-cl_17_ss_lego_simone-basile_2.jpg');
  background-position: center center;
}

.new-list:nth-child(26) .new-left div{
  width: 100%;
  height: 349px;
  background-image: url('../images/jpg-cl_ss17_artemis-5.jpg');
  background-position: center center;
}

.new-right {
  width: 50%;
  height: 100%;
  float: left;
  padding: 80px 60px;
  box-sizing: border-box;
}

.new-year{
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.new-year span {
  font-size: 11px;
  color: #ed1e24;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.new-love {
  margin-bottom: 40px;
}

.new-love {
  font-size: 28px;
  letter-spacing: 3px;
}

.new-read a {
  color: #888;
}