/* /眼部系类  开始*/
.beauty_eye .first {
  max-width: 496px;
  width: 100%;
  margin: 0 auto;
}

.beauty_eye img {
  max-width: 496px;
  width: 100%;
}

.beauty_eye .introduce {
  text-align: center;
  min-height: 54px;
  margin: 0 20px;
}

.introduce .p1 {
  font-weight: normal;
  color: #222;
  font-size: 15px;
  text-overflow: ellipsis;
  margin: 4px 0 26px
}

.introduce .p2 {
  color: #888;
  font-size: 13px;
}

.color_three {
  width: 90px;
  margin: 10px auto;
}

.color_one {
  margin: 10px auto;
}

.beauty_eye .color_one a,
.beauty_eye .color_two a,
.beauty_eye .color_three a,
.beauty_eye .color_four a,
.beauty_eye .color_fifth a {
  border: 10px #05060B solid;
  border-radius: 20px;
  display: inline-block;
}

.beauty_eye .color_three li:nth-child(2) a {
  margin-left: 15px;
  margin-right: 15px;
}

.beauty_eye .second {
  width: 50%;
  float: left;
  text-align: center;
  margin-bottom: 20PX;
}

.beauty_eye .color_two li,
.beauty_eye .color_three li,
.beauty_eye .color_four li,
.beauty_eye .color_fifth li {
  float: left;
}

.beauty_eye .color_two {
  width: 55px;
  margin: 10px auto;
}

.beauty_eye .color_two li:first-child a {
  margin-right: 15px;
}

.beauty_eye .color_four li:nth-child(2) a {
  margin-right: 15px;
  margin-left: 15px;
}

.beauty_eye .color_four li:nth-child(3) a {
  margin-right: 15px;
}

.beauty_eye .color_four {
  width: 125px;
  margin: 10px auto;
}


.beauty_eye .color_fifth li:nth-child(2) a {
  margin-right: 15px;
  margin-left: 15px;
}

.beauty_eye .color_fifth li:nth-child(4) a {
  margin-right: 15px;
  margin-left: 15px;
}

.beauty_eye .color_fifth {
  width: 160px;
  margin: 10px auto;
}

/* 眼部系列  结束 */


/*  钉子指甲 开始  */
.THEBRIDA_Nails li {
  float: left;
  width: 20%;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.THEBRIDA_Nails li img {
  width: 100%;
}

.THEBRIDA_Nails li .introduce {
  max-width: 245px;
  margin: 10px auto;
}

.THEBRIDA_Nails li p {
  font-size: 13px;
  color: #888;
}

.THEBRIDA_Nails li a {
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #222;
}

.THEBRIDA_Nails li a:hover {
  text-decoration: none;
}

/* 钉子指甲结束 */


/* 唇膏类型 Rouge 开始*/
.Lips-Rouge .cente,
.Lips-Rouge .bwon {
  max-width: 960px;
  margin: 4em auto 0;
}

.cente .fist {
  width: 25%;
  float: left;
  text-align: center;
}

.cente .fist a span {
  display: block;
  height: 104px;
  width: 67px;
  background-image: url('../images/lipstick-cap-sprite.png');
  margin: 0 auto;
}

.cente .fist a .span1 {
  background-position: -67px -0px;
}

.cente .fist a .span2 {
  background-position: -134px -0px
}

.cente img {
  height: 284px;
  display: block;
  margin: 0 auto;
}

.cente :nth-child(4) {
  padding-top: 40px
}

.cente :nth-child(4) img {
  height: 350px;
}

.bwon {
  width: 394px;
  text-align: center;
}

.bwon img {
  margin: 0 auto;
  width: 100%;
}

/* 嘴唇类型 Rouge */

/* 嘴唇类型 Sliky */
.Lips-Sliky{
  width: 960px;
  margin: 0 auto;
 
}
.Lips-Sliky .fist,
.Lips-Sliky .send{
  width: 25%;
  float: left;
  text-align: center;
}

.Lips-Sliky .fist a span,
.Lips-Sliky .send .span2 {
  display: block;
  height: 104px;
  width: 67px;
  background-image: url('../images/lipstick-cap-sprite.png');
  margin: 0 auto;
}
.Lips-Sliky .fist a span {
  background-position: -67px -0px;
}
.Lips-Sliky .fist img {
  height: 284px;
  display: block;
  margin: 0 auto;
}
.Lips-Sliky .fist{
  margin-left: 150px;
} 
.Lips-Sliky .hong{
  position: relative;
}
.Lips-Sliky .hong span{
  display: block;
  background-image: url('../images/lep7.png');
  height: 47px;
  width: 42px;
  margin: 0 auto;
  position: absolute;
  top: 0px;
  left: 100px;
}
.Lips-Sliky .send{
  cursor:pointer;
  margin-left: 100px;
}
.Lips-Sliky .send .hong  .one{
  background-position: 0px 0px;
}
.Lips-Sliky .send .hong  .two{
  background-position: -82px 0px;
}
.Lips-Sliky .send .hong  .three{
  background-position: -164px 0px;
}
.Lips-Sliky .send .hong  .four{
  background-position: -246px 0px;
}
.Lips-Sliky .send .hong .five{
  background-position: -369px 0px;
}
.Lips-Sliky .send .hong  .six{
  background-position: 0px -134px;
}
.Lips-Sliky .send .hong  .seven{
  background-position: -123px -134px;
}
.Lips-Sliky .send .hong  .eight{
  background-position: -328px -134px;
}
.Lips-Sliky .send .hong  .nice{
  background-position: -410px -134px;
}
.Lips-Sliky .send .hong  .ten{
  background-position: -205px 0px;
}
.Lips-Sliky .hong img{
  padding-top: 47px;
}



.Lips-Sliky .Lips{
  width: 150px;
  margin: 0 auto;
}

.Lips li{
  width: 30px;
  height: 30px;
  float: left;
}
.Lips  span{
  width: 20px;
  height: 20px;
  background-image: url('../images/lep8.png');
  background-repeat: no-repeat;
  background-size: 260px 123px;
  display: block;
  cursor:pointer;
}
 .Lips .one  span{
  background-position: 0px -20px;
}
 .Lips .two  span{
  background-position: -20px -40px;
}
 .Lips .three  span{
  background-position: -40px -40px;
}
 .Lips .four  span{
  background-position: -80px -40px;
}
 .Lips .five  span{
  background-position: -100px -40px;
}
.Lips .six  span{
  background-position: -20px -60px;
}
.Lips .seven  span{
  background-position: -40px -60px;
}
.Lips .eight  span{
  background-position: -120px -60px;
}
.Lips .nice  span{
  background-position: -140px -60px
}
.Lips .ten  span{
  background-position: -60px -40px;
}