
/* 常见问题图片 */
.helpProblem_img{
  position: relative;
}
.helpProblem_oftenProblem{
  position: absolute; 
  margin-left: 49px;
  margin-top: 120px;
} 
.helpProblem_nav{
  position: relative;
  width: 100%;
  height: 325px;
  top: 488px;
}
.helpProblem_nav_onlineOrder{
  position: absolute;
  width: 120px;
  height: 135px;
  left: 555px;
  top: 11px;
  font-family: 'Microsoft YaHei';
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}
.helpProblem_nav_return {
  position: absolute;
  width: 121px;
  height: 135px;
  left: 887px;
  top: 11px;
  font-family: 'Microsoft YaHei';
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}
.helpProblem_nav_goods{
  position: absolute;
    width: 117px;
    height: 135px;
    left: 1230px;
    top: 11px;
    font-family: 'Microsoft YaHei';
    font-size: 19px;
    text-align: center;
    cursor: pointer;
}
.helpProblem_nav_boutique{
  position: absolute;
    width: 101px;
    height: 135px;
    left: 720px;
    top: 181px;
    font-family: 'Microsoft YaHei';
    font-size: 19px;
    text-align: center;
    cursor: pointer;
}
.helpProblem_nav_someProblems {
  position: absolute;
  width: 121px;
  height: 135px;
  left: 1051px;
  top: 181px;
  font-family: 'Microsoft YaHei';
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}
.helpProblem_nav div:hover{
  font-weight: bold;
}
.helpProblem_nav_contact button{
  display: block;
  width: 122px;
  height: 40px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 966px;
  margin-bottom: 10px;
  left: 889px;
  background-color: white;
  color: #ed1e24;
  font-size: 15px;
  font-family: 'Microsoft YaHei';
}
.helpProblem_nav_contact button:hover{
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 966px;
  margin-bottom: 10px;
  left: 889px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
/* 网上订购 */
.onlineOrder-tab{
  position: relative;
}
.onlineOrder-nav{
  position: absolute;
  /* bottom: -541px; */
  top: 498px;
  left: 361px;
  width: 1120px;
  height: 40px;
  /* border: 1px solid black; */
  line-height: 37px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
  /* font-family: 宋体; */
}
.onlineOrder-nav span:hover{
  color: black;
}
.onlineOrder-nav span{
  color: #b3b5b3;
  border: 1px solid black;
   border-top:none;
  border-left:none;
  border-right:none;
  display: inline-table;
}
.onlineOrder-content{
  position: absolute;
  /* width: 1120px;
  height: 782px; */
  top: 592px;
  left: 361px;
  /* border: 1px solid black; */
}
#dgzx{
  width: 1120px;
  height: 782px;
}

.onlineOrder-content li{
  width: 100%;
  /* height: 64px; */
  border: 1px solid #dadada;
  /* text-align: center; */
  font-size: 16px;
  line-height: 63px;
  border-left: none;
  border-right: none;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
}
.onlineOrder-content_concat button{
    width: 122px;
    height: 40px;
    border: 1px solid #ed1e24;
    text-align: center;
    position: absolute;
    top: 768px;
    margin-bottom: 10px;
    left: 508px;
    background-color: white;
    color: #ed1e24;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
}
.onlineOrder-content_concat button:hover{
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 768px;
  margin-bottom: 10px;
  left: 508px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
.onlineOrder-content_add div{
  font-size: 27px;
  font-weight: 200;
  color: #979797;
  text-align: right;
  margin-top: -62px;
}
.helpProblem_nav_contact_onlineOrder button {
  width: 122px;
  height: 40px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 29px;
  margin-bottom: 10px;
  left: 551px;
  background-color: white;
  color: #ed1e24;
  font-size: 15px;
  font-family: 'Microsoft YaHei';
}
.helpProblem_nav_contact_onlineOrder button:hover{
  width: 122px;
  height: 40px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 29px;
  margin-bottom: 10px;
  left: 551px;
  background-color: white;
  color: #ed1e24;
  font-size: 15px;
  font-family: 'Microsoft YaHei';
}
/* 网上订购结束 */
/* 返回 */
.return-tab{
  position: relative;
}
.return-nav{
  position: absolute;
  /* bottom: -541px; */
  top: 498px;
  left: 361px;
  width: 1120px;
  height: 40px;
  /* border: 1px solid black; */
  line-height: 37px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
  /* font-family: 宋体; */
}
.return-nav span:hover{
  color: black;
}
.return-nav span{
  color: #b3b5b3;
  border: 1px solid black;
   border-top:none;
  border-left:none;
  border-right:none;
  display: inline-table;
}
.return-content {
  position: absolute;
  width: 1120px;
  height: 569px;
  top: 95px;
  left: -1px;
  /* border: 1px solid black; */
}
.return-content li{
  width: 100%;
  /* height: 64px; */
  border: 1px solid #dadada;
  /* text-align: center; */
  font-size: 16px;
  line-height: 63px;
  border-left: none;
  border-right: none;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
}
.return-content_concat{
  position: absolute;
}
.return-content_concat button{
    width: 122px;
    height: 40px;
    border: 1px solid #ed1e24;
    text-align: center;
    position: absolute;
    top: 44px;
    margin-bottom: 10px;
    left: 508px;
    background-color: white;
    color: #ed1e24;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
}
.return-content_concat button:hover{
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 44px;
  margin-bottom: 10px;
  left: 508px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
.return-content_add div{
  font-size: 27px;
  font-weight: 200;
  color: #979797;
  text-align: right;
  margin-top: -62px;
}
/* 返回结束 */
/* 制品*/
.goods-tab{
  position: relative;
}
.goods-nav{
  position: absolute;
  /* bottom: -541px; */
  top: 498px;
  left: 361px;
  width: 1120px;
  height: 40px;
  /* border: 1px solid black; */
  line-height: 37px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
  /* font-family: 宋体; */
}
.goods-nav span:hover{
  color: black;
}
.goods-nav span{
  color: #b3b5b3;
  border: 1px solid black;
   border-top:none;
  border-left:none;
  border-right:none;
  display: inline-table;
}
.goods-content {
  position: absolute;
  width: 1120px;
  height: 143px;
  top: 95px;
  left: -1px;
  /* border: 1px solid black; */
}
.goods-content li{
  width: 100%;
  /* height: 64px; */
  border: 1px solid #dadada;
  /* text-align: center; */
  font-size: 16px;
  line-height: 63px;
  border-left: none;
  border-right: none;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
}
.goods-content_concat{
  position: absolute;
}
.goods-content_concat button{
    width: 122px;
    height: 40px;
    border: 1px solid #ed1e24;
    text-align: center;
    position: absolute;
    top: 53px;
    margin-bottom: 10px;
    left: 508px;
    background-color: white;
    color: #ed1e24;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
}
.goods-content_concat button:hover{
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 53pxpx;
  margin-bottom: 10px;
  left: 508px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
.goods-content_add div{
  font-size: 27px;
  font-weight: 200;
  color: #979797;
  text-align: right;
  margin-top: -62px;
}
/* 制品结束 */
/* 精品店*/
.boutique-tab{
  position: relative;
}
.boutique-nav{
  position: absolute;
  /* bottom: -541px; */
  top: 498px;
  left: 361px;
  width: 1120px;
  height: 40px;
  /* border: 1px solid black; */
  line-height: 37px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
  /* font-family: 宋体; */
}
.boutique-nav span:hover{
  color: black;
}
.boutique-nav span{
  color: #b3b5b3;
  border: 1px solid black;
   border-top:none;
  border-left:none;
  border-right:none;
  display: inline-table;
}
.boutique-content {
  position: absolute;
  width: 1120px;
  height: 214px;
  top: 95px;
  left: -1px;
  /* border: 1px solid black; */
}
.boutique-content li{
  width: 100%;
  /* height: 64px; */
  border: 1px solid #dadada;
  /* text-align: center; */
  font-size: 16px;
  line-height: 63px;
  border-left: none;
  border-right: none;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
}
.boutique-content_concat{
  position: absolute;
}
.boutique-content_concat button{
    width: 122px;
    height: 40px;
    border: 1px solid #ed1e24;
    text-align: center;
    position: absolute;
    top: 47px;
    margin-bottom: 10px;
    left: 508px;
    background-color: white;
    color: #ed1e24;
    font-size: 15px;
    font-family: 'Microsoft YaHei';
}
.boutique-content_concat button:hover{
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 47px;
  margin-bottom: 10px;
  left: 508px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
.boutique-content_add div{
  font-size: 27px;
  font-weight: 200;
  color: #979797;
  text-align: right;
  margin-top: -62px;
}
/* 精品店结束 */
/* 一般问题*/
.someProblems-tab{
  position: relative;
}
.someProblems-nav{
  position: absolute;
  /* bottom: -541px; */
  top: 498px;
  left: 361px;
  width: 1120px;
  height: 40px;
  /* border: 1px solid black; */
  line-height: 37px;
  font-size: 24px;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
  /* font-family: 宋体; */
}
.someProblems-nav span:hover{
  color: black;
}
.someProblems-nav span{
  color: #b3b5b3;
  border: 1px solid black;
   border-top:none;
  border-left:none;
  border-right:none;
  display: inline-table;
}
.someProblems-content {
  position: absolute;
  width: 1120px;
   /*height: 427px; */
  top: 95px;
  left: -1px;
  /* border: 1px solid black; */
}
.ybdwt{
  width: 1120px;
  height: 427px;
}
.someProblems-content li{
  width: 100%;
  /* height: 64px; */
  border: 1px solid #dadada;
  /* text-align: center; */
  font-size: 16px;
  line-height: 63px;
  border-left: none;
  border-right: none;
  font-family: Microsoft YaHei;
  letter-spacing: 2px;
}
.someProblems-content_concat{
  position: absolute;
}
.someProblems-content_concat button {
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 56px;
  margin-bottom: 10px;
  left: 508px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
.someProblems-content_concat button:hover{
  width: 129px;
  height: 43px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 56px;
  margin-bottom: 10px;
  left: 508px;
  background-color: white;
  color: #ed1e24;
  font-size: 16px;
  font-family: 'Microsoft YaHei';
}
.someProblems-content_add div{
  font-size: 27px;
  font-weight: 200;
  color: #979797;
  text-align: right;
  margin-top: -62px;
}
.helpProblem_nav_contact_someProblems button {
  width: 122px;
  height: 40px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 599px;
  margin-bottom: 10px;
  left: 893px;
  background-color: white;
  color: #ed1e24;
  font-size: 15px;
  font-family: 'Microsoft YaHei';
}
.helpProblem_nav_contact_someProblems button:hover{
  width: 122px;
  height: 40px;
  border: 1px solid #ed1e24;
  text-align: center;
  position: absolute;
  top: 599px;
  margin-bottom: 10px;
  left: 893px;
  background-color: white;
  color: #ed1e24;
  font-size: 15px;
  font-family: 'Microsoft YaHei';
}
/* 一般问题结束 */
/* 内容的添加 */
#onlineOrder-content_add_content li {
  border: none;
  font-size: 13px;
  font-family: Microsoft YaHei;
  letter-spacing: 0px;
  line-height: 25px;
}