/* 头部 */
#het-center{
  margin-left: 26%;;
}

/* 商店 */
.shop {
  padding: 90px 0 0 0;
  width: 100%;
  /* height: 678px; */
}

.all {
  padding: 0px 40px;
  margin-bottom: 40px;
}

.page {
  font-size: 24px;
  margin: 20px 0 0 0;
  background: url('../images/title_border.gif') repeat-x 0 20px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  height: 23px;
}

.page span {
  display: inline-block;
  padding-right: 25px;
  background: #fff;
  font-size: 24px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.area li:nth-child(1) {
  border-top: 1px solid #EAEAEA;
}

.area li {
  background: #F8F9F9;
  border-bottom: 1px solid #EAEAEA;
  text-align: center;
}

.area span {
  display: block;
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: "HelveticaNeue-UltraLight","HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  font-weight: normal;
  font-size: 42px;
  text-transform: uppercase;
  letter-spacing: 13px;
  cursor: pointer;
  background-position: -9999px -9999px;
  background-repeat: no-repeat;
}

.area li:nth-child(1):hover {
  background-image: url('../images/boutique_sprite_americas.jpg');
}

.area li:nth-child(2):hover {
  background-image: url('../images/boutique_sprite_asia.jpg');
}

.area li:nth-child(3):hover {
  background-image: url('../images/boutique_sprite_europe.jpg');
}

.area li:nth-child(4):hover {
  background-image: url('../images/boutique_sprite_middle_east.jpg')
}

.area li:nth-child(5):hover {
  background-image: url('../images/boutique_sprite_asia.jpg');
}

.area li:nth-child(6):hover {
  background-image: url('../images/boutique_sprite_australia.jpg');
}

/* 底部 */

.down {
  width: 100%;
  height: 540px;
  background-color: #fafafa;
  padding: 52px 40px 62px;
  box-sizing: border-box;
}

.common3 {
  margin: 0 auto;
  max-width: 1200px;
}

.up {
  height: 400px;
}

.list {
  float: left;
  margin-top: 70px;
}

.list ul {
  float: left;
}

.list ul:nth-child(1) {
  margin-right: 120px;
}

.list ul li a{
  display: block;
  margin-bottom: 9px;
  color: #999999;
  letter-spacing: 0.42px;
  font-family: "Avenir-Book";
  font-size: 11px;
  transition: all 0.3s;
}

.list ul li a:hover {
  color: rgb(94, 88, 88)
}

.find-shop {
  float: right;
  width: 554px;
  height: 320px;
  color: #000;
  overflow: hidden;
}

.find-shop span {
  display: block;
  margin-bottom: 6px;
}

.find-shop img {
  width: 554px;
  height: 312px;
  transition: all 0.5s;
}

.find-shop img:hover {
  width: 562px;
  height: 320px;
  opacity: 0.7;
}

.np {
  height: 30px;
}

.np-left {
  float: left;
}

.contact {
  margin-left: 20%;
  margin-right: 30%;
  display: inline;
}

.contact p {
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  margin-right: 22px;
  line-height: 30px;
}

.down-form {
  position: relative;
  display: inline-block;
  width: 260px;
  height: 30px;
}

.contact input {
  width: 260px;
  height: 30px;
  border: none;
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(215, 215, 215, 0.5);
  padding: 2px 10px;
}

.contact button {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 30px;
  border: none;
  background: transparent;
  color: rgb(94, 92, 92);
  font-weight: 600;
  width: 45px;
  text-align: center;
  line-height: 30px;
  transition: all 0.4s ease;
}

.contact button:hover {
  color: #ed1e24
}

.np-right {
  float: right;
}

.np-right ul li {
  float: left;
  line-height: 20px;
}

.np-right li:nth-child(1) i {
  float: left;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-image: url('../images/cn.png');
  margin-right: 8px;
}

.np-right li:nth-child(2) {
  margin-left: 26px;
}

.np-right li:nth-child(2) i {
  float: left;
  width: 32px;
  height: 24px;
  margin-right: 8px;
  background-image: url('../images/Snipaste_2019-05-13_14-16-33.png')
}