  /* stopfake文字样式 */
  .stopfake_font {
    line-height: 301px;
    font-size: 20px;
    color: black;
    margin-left: 40px;
    font-weight: 200;
    vertical-align: inherit;
}
/*stopfake内容 */
/* stopfake导航栏*/
.stopfake_content #nav {
    position: fixed;
    top: 40%;
    left: 38px;
    margin-top: -140px;
    display: inline-block;
    vertical-align: middle;
}
.stopfake_content #nav a {
    display: block;
    position: relative;
    width: 173px;
    height: 28px;
    line-height: 36px;
    color: #333;
    font-size: 20px;
    border-left: 2px solid transparent;
    margin-top: 9px;
}
/*stopfake导航栏内容   设置stopfake导航栏内容字体*/
.stopfake_content #main {
    color: #888888;
    width: 1042px;
    margin: 0 auto;
    font-family: 'Microsoft YaHei';
    font-size: 13px;
    line-height: 31px;
}
.stopfake_content #main li{
    margin-top: 3px;
}
.stopfake_content #main h6 {
    font-weight: normal;
    font-family: 'Microsoft YaHei';
    font-size: 24px;
    letter-spacing: 2px;
    color: #4c4f4c;
}
.stopfake_content #main a{
    text-decoration: underline;
}
.stopfake_content #main h1{
    color: #222222;
    line-height: 50px;
}
.stopfake_content #nav a.active{
    background-color: red;
    border-radius: 5%;
    color: white;
}
/* page2的图片 input 和按钮的设置  */
.stopfake_page2_img{
  opacity: 10px;
}
.stopfake_page2_img {
    /* opacity: 0.5; */
    margin-left: -4px;
    margin-top: -36px;
    position: absolute;
}
.stopfake-button {
    position: absolute;
    width: 145px;
    height: 35px;
    left: 1049px;
}
.stopfake-input {
    position: absolute;
    width: 573px;
    height: 39px;
    margin-left: 34px;
    /* border: 1px solid red; */
    text-indent: 2em;
    z-index: 80;
    border: 1px;
}
.stopfake-input:hover{
    border: 1px solid #222222;
}
.stopfake_content #main .page1-input input{
    width: 400px;
    height: 39px;
    text-indent: 2em;
    border: 1px solid #ededed;
}
.stopfake_content #main .page1-input textarea{
    width: 400px;
    text-indent: 2em;
    border: 1px solid #ededed;
}
.stopfake_content #main .page1-input button {
    margin-left: 319px;
    /* margin-top: 0px; */
    width: 87px;
    height: 34px;
    color: #888;
    font-family: 'Microsoft YaHei';
    background: #F3F3F3;
    border: 2px solid #dddddd;
    border-right: none;
    border-top: none;
    border-left: none;
}
.stopfake_content #main .page1-input buttont:hover{
    border: 1px solid #222222;
}
