
/* 头部 */

/* 左 */
.het-fixed {
  position: fixed;
  width: 100%;
  z-index: 100;
  background: white;
  height: 90px;
  border: 1px solid #EAEAEB;
  transition: height 0.6s
}

.het-left {
  position: relative;
  float: left;
  width: 230px;
}

.dl-jm {
  margin-top: 10px;
  margin-left: 40px;
}

.dl-jm li {
  float: left;
  position: relative;
}

.dl-jm>li:nth-child(1) {
  margin-right: 40px;
}

.dl-jm li:nth-child(2) {
  position: relative;
}
.dl-jm li:nth-child(2) a {
  position: absolute;
  z-index:1000;
  width: 100px;
  overflow: hidden;
}
.dl-jm li span {
  color: rgb(95, 91, 91);
}

.dl-jm li i {
  font-size: 16px;
}

.dl-jm li a .fa-caret-down {
  transition: all 0.6s ease;
}

.help {
  position: absolute;
  display: none;
  top: -10px;
  width: 300px;
  height: 141px;
  box-shadow: 0 0 5px 1px rgba(30, 30, 30, 0.15);
  box-sizing: border-box;
  background-color: #ffffff;
  z-index: 100;
}

.help ul {
  position: absolute;
  padding: 50px 45px 20px 26px;
  width: 300px;
  height: 142px;
  box-sizing: border-box;
}

.help a {
  cursor: default;
}

.help ul li {
  float: left;
  width: 110px;
  height: 18px;
}

/* 中 */
.het-center {
  float: left;
  padding-top: 10px;
  margin-left: 27%;
  width: 28%;
}

/* 左边的导航 */
.center-left {
  float: left;
  margin-top: 40px;
}

.center-left ul li{
  float: left;
  padding: 0 14px;
}

/* 中间的logo */
.center-logo {
  position: relative;
  float: left;
  width: 102px;
  height: 102px;
  text-align: center;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
  line-height: 94px;
}

/* 右边的导航 */
.center-right {
  float: left;
  margin-top: 40px;
}

.center-right ul li{
  float: left;
  padding: 0 12px;
}

.right {
  float: right;
  height: 20px;
  margin-right: 40px;
  margin-top: 10px;
}

.right-ico li {
  float: left;
  margin-left: 15px;
}

/* 头部下拉导航 */
.topLeft-list {
  position: absolute;
  top: 91px;
  width: 100%;
}

.women {
  display: none;
  width: 100%;
  height: 304px;
  background-color: white;
  padding: 25px 520px;
}

.women-total {
  float: left;
  margin-right: 40px;
}

.women-total {
  margin-right: 74px;
  margin-top: 30px;
}

.women-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.women a {
  color: #323232;
  transition: all 0.6s;
}

.women a:hover {
  color: #e60b0b;
}

.women-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.women-part{
  float: left;
}

.women-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.women-part ul li {
  padding-bottom: 8px;
}

.women-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.women-part ul li:nth-child(1) a {
 color: #888;
 font-weight: 700;
}

.women-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.women-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.women-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.women-good li:nth-child(1) img{
  float: right;
}

.women-good img {
  height: 180px;
  transition: all 0.5s
}

.women-good img:hover {
  height: 185px;
}

.women-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.women-good {
  font-weight: 700;
}


/* 男士 */
.man {
  display: none;
  width: 100%;
  height: 304px;
  background-color: white;
  padding: 25px 520px;
}


.man-total {
  float: left;
  margin-right: 40px;
}

.man-total {
  margin-right: 74px;
  margin-top: 30px;
}

.man-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.man a {
  color: #323232;
  transition: all 0.6s;
}

.man a:hover {
  color: #e60b0b;
}

.man-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.man-part{
  float: left;
}

.man-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.man-part ul li {
  padding-bottom: 8px;
}

.man-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.man-part ul li:nth-child(1) a {
 color: #888;
 font-weight: 700;
}

.man-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.man-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.man-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.man-good li:nth-child(1) img{
  float: right;
}

.man-good img {
  height: 180px;
  transition: all 0.5s
}

.man-good img:hover {
  height: 185px;
}

.man-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.man-good {
  font-weight: 700;
}

/* 新娘 */
.bridal {
  display: none;
  width: 100%;
  height: 200px;
  background-color: white;
  padding: 25px 520px;
}

.bridal-total {
  float: left;
  margin-right: 40px;
}

.bridal-total {
  margin-right: 74px;
  margin-top: 30px;
}

.bridal-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.bridal a {
  color: #323232;
  transition: all 0.6s;
}

.bridal a:hover {
  color: #e60b0b;
}

.bridal-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.bridal-part{
  float: left;
}

.bridal-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.bridal-part ul li {
  padding-bottom: 8px;
}

.bridal-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.bridal-part ul li:nth-child(1) a {
 color: #888;
 font-weight: 700;
}

.bridal-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.bridal-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.bridal-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.bridal-good li:nth-child(1) img{
  float: right;
}

.bridal-good img {
  height: 180px;
  transition: all 0.5s
}

.bridal-good img:hover {
  height: 185px;
}

.bridal-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.bridal-good {
  font-weight: 700;
}




/* 美妆 */
.beauty {
  display: none;
  width: 100%;
  height: 304px;
  background-color: white;
  padding: 25px 520px;
}

.beauty-total {
  float: left;
  margin-right: 40px;
}

.beauty-total {
  margin-right: 74px;
  margin-top: 30px;
}

.beauty-total li {
  padding-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 10px;
  letter-spacing: 0.5px;
}

.beauty a {
  color: #323232;
  transition: all 0.5s;
}

.beauty a:hover {
  color: #e60b0b;
}

.beauty-total li:nth-child(1) {
  position: relative;
  top: -10px;
  width: 30px;
  height: 1px;
  left: 0;
  background-color: #DDD;
  display: inline-block;
  padding: 0px;
}

.beauty-part{
  float: left;
}

.beauty-part ul {
  float: left;
  width: 120px;
  margin-right: 40px;
}

.beauty-part ul li {
  padding-bottom: 8px;
}

.beauty-part ul li:nth-child(1) {
  margin: 1em 0;
  margin-bottom: 14px;
  padding: 0px;
}

.beauty-part ul li:nth-child(1) a {
 color: #888;
 font-weight: 700;
}

.beauty-part ul li:nth-child(2) {
  width: 100%;
  height: 1px;
  background-color: #DDD;
  margin-bottom: 10px;
  padding: 0px;
}

.beauty-good {
  display: none;
  width: 100%;
  height: 181px;
  border-top: 1px solid #E1E1E1;
  background-color: #F7F7F7;
}

.beauty-good li {
  position: relative;
  float: left;
  width: 50%;
  height: 180px;
  overflow: hidden;
}

.beauty-good li:nth-child(1) img{
  float: right;
}

.beauty-good img {
  height: 180px;
  transition: all 0.5s
}

.beauty-good img:hover {
  height: 185px;
}

.beauty-good span {
  position: absolute;
  top: 80px;
  right: 196px;
}

.beauty-good {
  font-weight: 700;
}

.center-right li:nth-child(2) a:hover {
  color: #e60b0b
}
.center-right li:nth-child(3) a:hover {
  color: #e60b0b
}





/* 搜索 */

.search {
  position: absolute;
  top: 89px;
  display: none;
  width: 100%;
  height: 95px;
  background-color: #fafafa;
}

.search-con {
  position: relative;
  width: 665px;
  height: 40px;
  margin: 0 auto;
  line-height: 90px;
}

.search-con input {
  width: 665px;
  height: 26px;
  border: none;
  background-color: #fafafa;
  padding-bottom: 10px;
  border-bottom: 2px solid rgb(163, 163, 163);
}

.search-con button {
  position: absolute;
  top: 35px;
  right: 10px;
  border: none;
  background-color: #fafafa;
  font-size: 24px;
  transition: color 0.4s;
}

.search-con button:hover {
  color: #e60b0b
}

/* 头部end */



/* 新闻 */ 
.shop {
  padding: 90px 0 0 0;
  width: 100%;
  height: 678px;
}

.all {
  margin-bottom: 40px;
}

.page {
  font-size: 24px;
  margin: 30px 0 30px 0;
  background: url('../images/title_border.gif') repeat-x 0 12px;
  color: #888;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
  height: 23px;
}

.page span {
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: 40px;
  background: #fff;
  font-size: 24px;
  color: rgb(100, 99, 99);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: lighter;
}

.new {
  width: 100%;
}

.new-list {
  width: 100%;
  height: 350px;
  border-top: solid 1px #f6f6f6;
  font-family: 'Frutiger',Helvetica,Arial,sans-serif;
}

.new-left {
  float: left;
  width: 50%;
  height: 100%;
}

.new-left div {
  width: 100%;
  height: 350px;
  background-image: url('../images/sh_fw19_s1__portugaba_4.jpg');
  background-position: center center;
}

.new-list:nth-child(2) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/clb_clma_official_portraits_1_bdheader.jpg');
  background-position: center center;
}

.new-list:nth-child(3) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/clb_isamaya_ffrench_officialportrait1_lrheader.jpg');
  background-position: center center;
}

.new-list:nth-child(4) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/4q6a5692.jpg');
  background-position: center center;
}

.new-list:nth-child(5) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/190226_jardin_des_plantes_jose_0016ok.jpg');
  background-position: center center;
}

.new-list:nth-child(6) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/regina_king_-_oscars_ceremony_2019_-_february_20192_1.jpg');
  background-position: center center;
}

.new-list:nth-child(7) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-sh_ss19_runloubirunmen_03.jpg');
  background-position: center center;
}

.new-list:nth-child(8) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/blair_caldwell_19.jpg');
  background-position: center center;
}

.new-list:nth-child(9) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-sh_ss19_runloubirunwomen_01_lr.jpg');
  background-position: center center;
}

.new-list:nth-child(10) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/sans_titre_1.jpg');
  background-position: center center;
}

.new-list:nth-child(11) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/6y8a2943ok.jpg');
  background-position: center center;
}

.new-list:nth-child(12) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/chadwick_boseman_1.jpg');
  background-position: center center;
}

.new-list:nth-child(13) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/photo_05-12-2018_03_29_20.jpg');
  background-position: center center;
}

.new-list:nth-child(14) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-cl_18_fw_loubi-in-progress_ren_-habermacher_7.jpg');
  background-position: center center;
}

.new-list:nth-child(15) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-cl-ss19-marie-jane-courtesy-of-christian-louboutin_1-2_ld.jpg');
  background-position: center center;
}

.new-list:nth-child(16) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/11102018-130a6339-2.jpg');
  background-position: center center;
}

.new-list:nth-child(17) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-cl_18_fw_rankick_jos_-castellar_05-news_crop.jpg');
  background-position: center center;
}

.new-list:nth-child(18) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/cl_18_fw_manilacaba_cru-camara_20.jpg');
  background-position: center center;
}

.new-list:nth-child(19) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/showroom_12_copie-header.jpg');
  background-position: center center;
}

.new-list:nth-child(20) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/_mg_8172_1-2.jpg');
  background-position: center center;
}

.new-list:nth-child(21) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/_t8a8217_edit.jpg');
  background-position: center center;
}

.new-list:nth-child(22) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/cl_18_ss_opulence_robi-rodriguez_4-2.jpg');
  background-position: center center;
}

.new-list:nth-child(23) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/christian_louboutin_for_naeem_khan_-_cross_me_cover_image.jpg');
  background-position: center center;
}

.new-list:nth-child(24) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/close_up_1.jpg');
  background-position: center center;
}

.new-list:nth-child(25) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-cl_17_ss_lego_simone-basile_2.jpg');
  background-position: center center;
}

.new-list:nth-child(26) .new-left div{
  width: 100%;
  height: 350px;
  background-image: url('../images/jpg-cl_ss17_artemis-5.jpg');
  background-position: center center;
}

.new-right {
  width: 50%;
  height: 100%;
  float: left;
  padding: 80px 60px;
  box-sizing: border-box;
}

.new-year{
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.new-year span {
  font-size: 11px;
  color: #ed1e24;
  padding-bottom: 10px;
  border-bottom: 2px solid;
}

.new-love {
  margin-bottom: 40px;
}

.new-love {
  font-size: 28px;
  letter-spacing: 3px;
}

.new-read a {
  color: #888;
}