<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Customer Account</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/CreateNewCustomer.css">
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/lib/bootstrapvalidator-master/dist/css/bootstrapValidator.min.css">
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="/lib/nprogress/nprogress.css">
    <script src="/lib/nprogress/nprogress.js"></script>
</head>

<body>
    <!-- 头部 -->
    <div class="het">
        <!-- 左 -->
        <div class="het-left">
            <ul class="dl-jm">
                <!-- 用户登录 -->
                <li>
                    <a href="">
                        <i class="fa fa-user-o fa-fw"></i>
                        <span>我的账户</span>
                    </a>
                </li>
                <!-- 帮助 -->
                <li>
                    <a href="">
                        <i class="fa fa-exclamation fa-fw"></i>
                        <span>帮助</span>
                        <i class="fa fa-caret-down  fa-1x fa-fw"></i>
                    </a>
                    <!-- 鼠标移入的列表 -->
                    <div class="help">
                        <ul>
                            <li><a href="">常见问题</a> </li>
                            <li><a href="">送货政策</a> </li>
                            <li><a href="">产品保养</a> </li>
                            <li><a href="">退货政策</a> </li>
                            <li><a href="">创造回报</a> </li>
                            <li><a href="">隐私政策</a> </li>
                            <li><a href="">Stopfake</a> </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 中 -->
        <div class="het-center">
            <!-- 左边的导航 -->
            <div class="center-left">
                <ul>
                    <li><a href="">女士</a></li>
                    <li><a href="">男士</a></li>
                    <li><a href="">新娘</a></li>
                </ul>
            </div>
            <!-- 中间的logo -->
            <div class="center-logo">
                <a href=""><img src="/images/logo.png" alt=""></a>
            </div>
            <!-- 右边的导航 -->
            <div class="center-right">
                <ul>
                    <li><a href="">美妆</a></li>
                    <li><a href="">LOUBOUTINWORLD</a></li>
                    <li><a href="">商店</a></li>
                </ul>
            </div>
        </div>
        <!-- 右 -->
        <div class="right">
            <div class="right-ico">
                <ul>
                    <li><a href=""><i class="fa fa-search fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-heart-o fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- 内容部分 -->
    <div class="content">
        <div class="content-title">
            <h2>创建一个帐户</h2>
        </div>
        <div class="content-centre clearfix">
            <!-- 左边 -->
            <div class="content-centre-left">
                <p>创建一个帐户并订阅CHRISTIANLOUBOUTIN.COM的独家信息，其中包括我们的最新产品，新闻更新和特别优惠。</p>
                <form class="content-form">
                    <div class="newadd-right-title">
                        <i class="fa fa-caret-down  fa-1x"></i>
                        <select name="prefix" id="prefix" class="prefix" title="招呼">
                            <option value="Mr">先生</option>
                            <option value="Mrs">太太</option>
                            <option value="Ms">女士</option>
                            <option value="" selected="selected">标题</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="firstname" name="firstname" title="First Name"
                                placeholder="First name *" class="input-text required-entry">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="lastname" name="lastname" title="Last Name" placeholder="last name *"
                                class="input-text required-entry">
                        </div>
                    </div>
                    <div class="newadd-right-title newadd-right-title2">
                        <i class="fa fa-caret-down  fa-1x " id="fa-fw2"></i>
                        <select name="prefix" id="prefix" class="prefix" title="国家">
                            <option value="" selected="selected">美国</option>
                            <option value="1">美国</option>
                            <option value="2">澳大利亚</option>
                            <option value="3">中国</option>
                            <option value="4">夏威夷</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="email" name="email" title="电子邮件地址" placeholder="Email*"
                                class="input-text required-entry">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="confirm-email" name="confirm-email" title="确认电子邮件"
                                placeholder="Confirm your email*" class="input-text required-entry">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="password" name="password" title="密码" placeholder="password*"
                                class="input-text required-entry">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="confirm-password" name="confirm-password" title="确认密码"
                                placeholder="Confirm password*" class="input-text required-entry">
                        </div>
                    </div>
                    <div class="form-group form-help">
                        <p>*必填字段</p>
                    </div>
                    <div class="checkbox-group checkbox-group-left clearfix">
                        <div class="input-box2">
                            <input type="checkbox" id="" name="is_subscribed[]"
                                title="我也希望收到我还希望收到来自Christian Louboutin的独家新闻以及来自在线精品店的产品供应情况。 （您可以在我的帐户中更改它）（您可以在我的帐户中更改它）"
                                value="commerce" class="checkbox ae-checkable-group">
                        </div>
                        <div class="subscr-wrapper">
                            <p> 我还希望收到来自Christian Louboutin的独家新闻以及来自在线精品店的产品供应情况。（您可以在我的帐户中更改它）
                            </p>
                        </div>
                    </div>
                    <div class="checkbox-group checkbox-group-left clearfix">
                        <div class="input-box2">
                            <input type="checkbox" id="" name="is_subscribed[]" title="我想要美容信息" value="commerce"
                                class="checkbox ae-checkable-group">
                        </div>
                        <div class="subscr-wrapper">
                            <p> 我想要美容信息
                            </p>
                        </div>
                    </div>
                    <div class="checkbox-group checkbox-group-left clearfix">
                        <div class="input-box2">
                            <input type="checkbox" id="" name="is_subscribed[]"
                                title="我已阅读并同意使用条款打开一个新窗口。和隐私政策打开一个新窗口。Christian Louboutin在线精品店。" value="commerce"
                                class="checkbox ae-checkable-group">
                        </div>
                        <div class="subscr-wrapper">
                            <p> 我已阅读并同意 <a href="javascript:;">使用条款</a>和<a href="javascript:;">隐私政策</a>Christian
                                Louboutin在线精品店。
                            </p>
                        </div>
                    </div>
                    <!-- 验证 -->
                    <div class="verif">

                    </div>
                    <!-- 按钮 -->
                    <div class="form-group form-buttons last">
                        <input type="button" class="savebtn" value="创建">
                    </div>
                </form>
            </div>

            <!-- 右边 -->
            <div class="bigimg">
                <img src="/images/createaccount.jpg" alt="">
            </div>
        </div>
    </div>
    <script src="/lib/jquery/jquery.js"></script>
    <script src="/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="/lib/bootstrapvalidator-master/dist/js/bootstrapValidator.min.js"></script>
    <script src="/lib/template/template-web.js"></script>
    <script src="/js/CreateNewCustomer.js"></script>
</body>

</html>