<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Newsletter Subscription</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/common.css">
    <link rel="stylesheet" href="../public/css/NewsletterSubscription.css">
    <link rel="stylesheet" href="../public/lib/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <!-- 头部 -->
    <div class="het">
        <!-- 左 -->
        <div class="het-left">
            <ul class="dl-jm">
                <!-- 用户登录 -->
                <li>
                    <a href="">
                        <i class="fa fa-user-o fa-fw"></i>
                        <span>我的账户</span>
                    </a>
                </li>
                <!-- 帮助 -->
                <li>
                    <a href="">
                        <i class="fa fa-exclamation fa-fw"></i>
                        <span>帮助</span>
                        <i class="fa fa-caret-down  fa-1x fa-fw"></i>
                    </a>
                    <!-- 鼠标移入的列表 -->
                    <div class="help">
                        <ul>
                            <li><a href="">常见问题</a> </li>
                            <li><a href="">送货政策</a> </li>
                            <li><a href="">产品保养</a> </li>
                            <li><a href="">退货政策</a> </li>
                            <li><a href="">创造回报</a> </li>
                            <li><a href="">隐私政策</a> </li>
                            <li><a href="">Stopfake</a> </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <!-- 中 -->
        <div class="het-center">
            <!-- 左边的导航 -->
            <div class="center-left">
                <ul>
                    <li><a href="">女士</a></li>
                    <li><a href="">男士</a></li>
                    <li><a href="">新娘</a></li>
                </ul>
            </div>
            <!-- 中间的logo -->
            <div class="center-logo">
                <a href=""><img src="../public/images/logo.png" alt=""></a>
            </div>
            <!-- 右边的导航 -->
            <div class="center-right">
                <ul>
                    <li><a href="">美妆</a></li>
                    <li><a href="">LOUBOUTINWORLD</a></li>
                    <li><a href="">商店</a></li>
                </ul>
            </div>
        </div>
        <!-- 右 -->
        <div class="right">
            <div class="right-ico">
                <ul>
                    <li><a href=""><i class="fa fa-search fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-heart-o fa-2x"></i></a></li>
                    <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 中间部分 top -->
    <div class="content clearfix">
        <!-- 标题 -->
        <div class="page-header">
            <h1>你好，Dan Xu！</h1>
            <div class="hr"></div>
        </div>

        <!-- 左边 导航栏 -->
        <div class="left-nav">
            <div class="left-nav-l">
                <div class="picture">
                    <img src="../public/images/account-profile-pic-normal.png"
                        srcset="../public/images/account-profile-pic-retina.png 2x" alt="阿凡达" class="ae-img">
                </div>
                <ul class="picture-ul">
                    <li><a href="javascript:;">仪表板</a></li>
                    <li><a href="javascript:;">地址簿</a></li>
                    <li><a href="javascript:;">我的订单</a></li>
                    <li><a href="javascript:;">我的收藏</a></li>
                    <li><a href="javascript:;">我的时事通讯</a></li>
                    <li><a href="javascript:;">我的产品</a></li>
                    <li><a href="javascript:;">我的回报</a></li>
                    <li><a href="javascript:;">退出</a></li>
                </ul>
            </div>
        </div>

        <!--右边  -->
        <div class="wrap">
            <div class="wrapper-grid1">
                <h2>通讯订阅</h2>
                <div class="hr hrtwo"></div>
            </div>
            <div class="order-center">
                <P>Christian Louboutin公司不会在未经您许可的情况下向公司以外的公司披露您的个人信息，也不会以任何方式和任何媒介向第三方披露您的个人信息。<a href="javascript:;">隐私政策</a></P>
            </div>
        </div>
</body>

</html>