<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>AMonentLikeThie</title>
  <link rel="stylesheet" href="/css/THEBRIDA.css">
  <link rel="stylesheet" href="/css/EyeandNails.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>


  <!-- 商品导航 -->
  <div class="THEBRIDA clearfix">
    <div class="THEBRIDA_first clearfix">
      <!-- 左 -->
      <div class="THEBRIDA_first_left clearfix">
        <ul class="clearfix">
          <li><i>新娘</i></li>
          <li class="classify"> <i>就像这个时候</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a href="/BRIDA">新娘</a> </li>
                <li> <a href="/Groom">新郎</a> </li>
                <li> <a href="/body">宝宝</a> </li>
                <li> <a href="#">就像这个时候</a> </li>
              </ul>
            </div></i>
          </li>
        </ul>
      </div>
      <!-- 右 -->
      <div class="THEBRIDA_first_right clearfix">
        <ul>
          <li class="classify"> <i>男士尺寸</i> <span></span>
            <div class="second nv">
              <ul class="clearfix measure">
                <li> <i></i> <a href="#">18</a></li>
                <li> <i></i> <a href="#">34</a></li>
                <li> <i></i> <a href="#">34.5</a></li>
                <li> <i></i> <a href="#">35</a></li>
                <li> <i></i> <a href="#">35.5</a></li>
                <li> <i></i> <a href="#">36</a></li>
                <li> <i></i> <a href="#">36.5</a></li>
                <li> <i></i> <a href="#">37</a></li>
                <li> <i></i> <a href="#">37.5</a></li>
                <li> <i></i> <a href="#">38</a></li>
                <li> <i></i> <a href="#">38.5</a></li>
                <li> <i></i> <a href="#">39</a></li>
                <li> <i></i> <a href="#">39.5</a></li>
                <li> <i></i> <a href="#">40</a></li>
                <li> <i></i> <a href="#">40.5</a></li>
                <li> <i></i> <a href="#">41</a></li>
                <li> <i></i> <a href="#">41.5</a></li>
                <li> <i></i> <a href="#">42</a></li>
                <li> <i></i> <a href="#">42.5</a></li>
                <li> <i></i> <a href="#">43</a></li>
              </ul>
            </div>
          </li>
          <li class="classify"> <i>女装尺寸</i> <span></span>
            <div class="second nv">
              <ul class="clearfix measure">
                <li> <i></i> <a href="#">18</a></li>
                <li> <i></i> <a href="#">34</a></li>
                <li> <i></i> <a href="#">34.5</a></li>
                <li> <i></i> <a href="#">35</a></li>
                <li> <i></i> <a href="#">35.5</a></li>
                <li> <i></i> <a href="#">36</a></li>
                <li> <i></i> <a href="#">36.5</a></li>
                <li> <i></i> <a href="#">37</a></li>
                <li> <i></i> <a href="#">37.5</a></li>
                <li> <i></i> <a href="#">38</a></li>
                <li> <i></i> <a href="#">38.5</a></li>
                <li> <i></i> <a href="#">39</a></li>
                <li> <i></i> <a href="#">39.5</a></li>
                <li> <i></i> <a href="#">40</a></li>
                <li> <i></i> <a href="#">40.5</a></li>
                <li> <i></i> <a href="#">41</a></li>
                <li> <i></i> <a href="#">41.5</a></li>
                <li> <i></i> <a href="#">42</a></li>
                <li> <i></i> <a href="#">42.5</a></li>
                <li> <i></i> <a href="#">43</a></li>
              </ul>
            </div>
          </li>
          <li class="classify"><i>颜色</i> <span></span>
            <div class="second measure">
              <ul>
                  <li><i></i><a href="#">orange</a></li>
                  <li><i></i><a href="#">white</a></li>
              </ul>
            </div>
          </li>
          <li class="classify height"><i>鞋跟高度</i> <span></span>
            <div class="second">
              <ul>
                  <li><img src="../public/img/lgp-women-Snipaste2.png" alt=""><a href="#">(30-60mm/1.2-2.3inches)</a></li>
              </ul>
            </div>
          </li>
          <li class="classify"> <i>材料</i> <span></span>
            <div class="second materials">
              <ul class="clearfix">
                  <li><i></i><a href="#">Leather</a></li>
                  <li><i></i><a href="#">Other</a></li>
                  <li><i></i><a href="#">Patent Leather</a></li>
              </ul>
            </div>
          </li>
          <li class="classify iem"><img src="/images/lgp-women-Snipaste.png" alt=""></li>
        </ul>
      </div>
    </div>
    <!-- 鞋子模板展示-->
    <div class="THEBRIDA_scend ">
      <ul class="clearfix">
        <script type="text/template" id="Monent_template">
            {{each list}}
              <li>
                <img src="/images/{{$value.img1}}" alt="" class="img1"> 
                <img src="/images/{{$value.img2}}" alt="" class="img2">
                 <a href="#">{{$value.names}}</a>
                <p>{{$value.height}}</p>
                 <i>{{$value.platform}}</i>
              </li>
            {{/each}}   
          </script>
      </ul>
    </div>
  </div>
  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

  <script src="/js/AMonent.js"></script>
</body>

</html>