<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/BEAUTYLIPVelvetMatte1.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <!-- 妇女乃依分类 -->
  <div class="menu conmet">
    <!-- 分类左面 -->
    <div class="menu-left">
      <ul class="menu-left-box conmet">
        <li class="menu-left-box-one"><a href="javascript:;">美女</a></li>
        <li class="menu-left-box-two"><i> <a href="javascript:;">嘴唇</a>
            <span></span></i>
          <ul class="menu-left-box-ul1">
            <li><a href="javascript:;">钉子</a></li>
            <li><a href="javascript:;">嘴唇</a></li>
            <li><a href="javascript:;">眼部收藏</a></li>
            <li><a href="javascript:;">香水</a></li>
          </ul>
        </li>
        <li class="menu-left-box-three"><i> <a href="javascript:;">Loubilaque</a> <span></span></i>

          <ul class="menu-left-box-ul2">
            <li><a href="javascript:;">Rouge Louboutin</a></li>
            <li><a href="javascript:;">丝滑缎</a></li>
            <li><a href="javascript:;">天鹅绒哑光</a></li>
            <li><a href="javascript:;">纯粹的Voile</a></li>
            <li><a href="javascript:;">Loubilaque</a></li>
            <li><a href="javascript:;">Loubibelle</a></li>
            <li><a href="javascript:;">Lip Definer</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Doracandy Loubilaque唇彩-->
  <div class="velvet">
    <div class="velvet-matte conmet">
      <div class="velvet-matte-left">
        <h2>Doracandy Loubilaque唇彩</h2>
      </div>
      <div class="velvet-matte-right">
        <div></div>
      </div>
    </div>
  </div>
  <!-- 内容区域 -->
  <div class="contents">
    <div class="contents-son conmet">
      <!-- 内容区域左面 -->
      <div class="contents-son-left">
        <div class="large_box">
          <ul>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.1.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.2.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.3.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.4.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.5.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.5.1.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.5.2.jpg" width="600" height="350">
            </li>
          </ul>
        </div>
        <div class="small_box conmet">
          <span class="btns lefts_btn" onclick="left_btn()"></span>
          <div class="small_list">
            <ul>
              <li class="on">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.6.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.7.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.8.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.9.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.10.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="" style="margin-top: 10px;">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.10.1.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="" style="margin-top: 10px;">
                <img src="/images/BEAUTY LIP-Velvet-Matte_14.10.2.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
            </ul>
          </div>
          <span class="btns rights_btn" onclick="right_btn()"></span>
        </div>
        <!-- <p class="contents-son-left-one">您可能还喜欢</p>
        <div class="contents-son-left-two conmet">
          <div class="contents-son-left-two-first">
            <a href=""><img src="/images/BEAUTY LIP-Velvet-Matte_3.16.jpg" alt=""></a>
            <span>Rouge</span>
            <span>Louboutin天鹅</span>
            <span>绒哑光</span>
          </div>
          <div class="contents-son-left-two-first">
            <a href=""><img src="/images/BEAUTY LIP-Velvet-Matte_3.17.jpg" alt=""></a>
            <span>Zoulou Velvet</span>
            <span>Matte</span>
          </div>
          <div class="contents-son-left-two-first">
            <a href=""><img src="/images/BEAUTY LIP-Velvet-Matte_3.18.jpg" alt=""></a>
            <span>Maya Lip</span>
            <span>Definer</span>
          </div>
        </div> -->
      </div>
      <!-- 内容区域右面 -->
      <div class="contents-son-right">
        <div class="contents-son-right-one conmet">
          <span>85.00美元</span>
          <a href="javascript:;">发现嘴唇</a>
        </div>
        <div class="contents-son-right-two">

          <em>灵感：</em>
          <span>Loubilaque唇彩是Christian
            Louboutin挚爱的超闪亮Loubilaque，注入星状色素珍珠。彩虹色，全息和金属闪光的组合在嘴唇上创造出多维的外观，具有神奇的变色效果。Loubilaque唇彩独特地结合了强烈的色彩，高光泽和持久的穿着。</span>
          <i>Doracandy是一种类似糖果的薰衣草。</i>
          <i>为了与克里斯蒂安的美丽艺术观念保持一致，瓶子设计有厚厚的透明墙壁，雕刻有复杂的美人鱼尾巴图案以包裹颜色。这款小瓶安装有带丝带的小环，可作为吊坠佩戴。这个宝藏被一个类似炮塔的皇冠所包围，让人想起中东古董和装饰艺术运动的华丽美学。Loubilaque
            Lip Gloss顶部饰有金色和银色帽子。</i>
          <em>产品描述 ：</em>
          <ul>
            <li>半透明漆底，注入超细彩色颜料，带来醒目的熔岩状饰面，使唇部看起来更加饱满。</li>
            <li>漆皮浓郁亮泽，一件外套</li>
            <li>不粘腻，在唇部非常舒适，赋予高度立体光泽和持久的色彩。</li>
            <li>特别设计的脚趾涂抹器，带有高度精确和轻松的应用，带来感官愉悦。</li>
            <li>泪滴形状的涂抹器结合了平坦的表面以实现最佳的分散和尖锐的形状，以实现轮廓的精确性。</li>
            <li>赠送在可重复使用的黑漆纸盒首饰盒中，包括丝带。 </li>
          </ul>
          <p>德国制造。</p>
          <p>临床测试。</p><br>
        </div>
        <div class="contents-son-right-three">
          <p>数量</p>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="contents-son-right-four conmet">
          <div class="contents-son-right-four-first">
            <i>颜色</i>
          </div>
          <div class="contents-son-right-four-second conmet">
            <a href="javascript:;" class="click-on-the-event"><span>LOUBILAQUE</span></a>
            <a href="javascript:;">LOUBIMIROIR</a>
            <a href="javascript:;">LOUBILAQUE LIP GLOSS</a>
            <a href="javascript:;">LOUBIBELLE</a>
          </div>
          <div class="contents-son-right-four-third">
            <div class="contents-son-right-four-third-1st show-display">
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.19.1.png" alt="">
            </div>
            <div class="contents-son-right-four-third-2nd">
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.19.2.png" alt="">
            </div>
            <div class="contents-son-right-four-third-3rd">
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.19.3.png" alt="">
            </div>
            <div class="contents-son-right-four-third-4th">
              <img src="/images/BEAUTY LIP-Velvet-Matte_14.19.4.png" alt="">
            </div>
          </div>
        </div>
        <div class="contents-son-right-five">
          <a href="javascript:;" class="contents-son-right-five-btn1"><span>添加至购物袋</span></a>
          <a href="javascript:;" class="contents-son-right-five-btn2"><span>精品可用性</span></a>
        </div>
        <div class="contents-son-right-six">
          <a href="javascript:;" class="contents-son-right-six-1st">
            <span>加入我的愿望清单</span>
            <span>❤</span>
          </a>
        </div>
        <div class="contents-son-right-seven">
          <div class="contents-son-right-seven-1st">
            <button>产品信息</button>
            <div>
              <p>参考：8052001X100</p>
              <p>体积：0,134盎司。/ 3,8gr</p>
            </div>
          </div>
          <div class="contents-son-right-seven-2nd">
            <button>运输</button>
            <div>
              <p>请注意，所有订单均需经过审核，Christian Louboutin保留要求提供额外身份信息并将订单发送至账单地址的权利。除了运输时间外，此流程还请至少24小时。</p>
            </div>
          </div>
          <div class="contents-son-right-seven-3rd">
            <button>退换货</button>
            <div>
              <ul>
                <li>商品必须在交货之日起14天内退回给我们，仅退款 - 不得兑换</li>
                <li>您可以登录您的帐户或访问我们的退货申请退货 打开一个新窗口。页。如需直接协助，请致电+1 888 856 8247（1888-8LOUBIS）与我们联系。</li>
                <li>物品必须在原包装中未使用，并且只能在原始包装箱中装运时才能接收</li>
                <li>我们深表歉意，但不能在Christian Louboutin精品店退回网上订单</li>
                <li>查看我们的退货政策</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contents-son-right-eight">
          <a href="./help_concat">📲联系我们</a>
        </div>
        <div class="contents-son-right-nine">
          <div>
            <a href="javascript:;"><img src="/images/BEAUTY LIP-Velvet-Matte_3.13.png" alt=""></a>
            <a href="javascript:;"><img src="/images/BEAUTY LIP-Velvet-Matte_3.14.png" alt=""></a>
            <a href="javascript:;"><img src="/images/BEAUTY LIP-Velvet-Matte_3.15.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

  <script src="/js/lgp-lunbotu1.js"></script>
  <script src="/js/lgp-tab1.js"></script>
  <script src="/js/lgp-click.js"></script>
</body>

</html>