<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/BEAUTYLIPVelvetMatte1.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <!-- 妇女乃依分类 -->
  <div class="menu conmet">
    <!-- 分类左面 -->
    <div class="menu-left">
      <ul class="menu-left-box conmet">
        <li class="menu-left-box-one"><a href="">男人</a></li>
        <li class="menu-left-box-two"><i> <a href="">手袋</a>
            <span></span></i>
          <ul class="menu-left-box-ul1">
            <li><a href="">图标</a></li>
            <li><a href="">鞋</a></li>
            <li><a href="">手袋</a></li>
            <li><a href="">饰品</a></li>
          </ul>
        </li>
        <li class="menu-left-box-three"><i> <a href="">新东西</a> <span></span></i>

          <ul class="menu-left-box-ul2">
            <li><a href="">手提包</a></li>
            <li><a href="">顶部把手</a></li>
            <li><a href="">晚间</a></li>
            <li><a href="">公寓</a></li>
            <li><a href="">骡子</a></li>
            <li><a href="">平台</a></li>
            <li><a href="">水泵</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- Parisnyc -->
  <div class="velvet">
    <div class="velvet-matte conmet">
      <div class="velvet-matte-left">
        <h2>Parisnyc</h2>
      </div>
      <div class="velvet-matte-right">
        <div style="margin-left: -237px;width: 117%;"></div>
      </div>
    </div>
  </div>
  <!-- 内容区域 -->
  <div class="contents">
    <div class="contents-son conmet">
      <!-- 内容区域左面 -->
      <div class="contents-son-left">
        <div class="large_box">
          <ul>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_8.1.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_8.2.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_8.3.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_8.4.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/BEAUTY LIP-Velvet-Matte_8.5.jpg" width="600" height="350">
            </li>
          </ul>
        </div>
        <div class="small_box conmet">
          <span class="btns lefts_btn" onclick="left_btn()"></span>
          <div class="small_list">
            <ul>
              <li class="on">
                <img src="/images/BEAUTY LIP-Velvet-Matte_8.6.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_8.7.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_8.8.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_8.9.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/BEAUTY LIP-Velvet-Matte_8.10.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
            </ul>
          </div>
          <span class="btns rights_btn" onclick="right_btn()"></span>
        </div>
        <!-- <p class="contents-son-left-one">您可能还喜欢</p> -->
        <!-- <div class="contents-son-left-two conmet">
          <div class="contents-son-left-two-first">
            <a href=""><img src="/images/BEAUTY LIP-Velvet-Matte_6.16.jpg" alt=""></a>
            <span>Pigalle Follies</span>
            <span>100毫米</span>
          </div>
          <div class="contents-son-left-two-first">
            <a href=""><img src="/images/BEAUTY LIP-Velvet-Matte_6.17.jpg" alt=""></a>
        <span>Sevillana Les</span>
    <span> Yeux Noirs Lash</span>
<span> Amplifying</span>
<span> Lacquer</span>
          </div> 
           <div class="contents-son-left-two-first">
            <a href=""><img src="/images/BEAUTY LIP-Velvet-Matte_4.18.jpg" alt=""></a>
            <span>Maya Lip</span>
            <span>Definer</span>
          </div>
        </div> -->
      </div>
      <!-- 内容区域右面 -->
      <div class="contents-son-right">
        <div class="contents-son-right-one conmet">
          <span>$ 1,250.00</span>
          <a href="">产品保养</a>
        </div>
        <div class="contents-son-right-two">
          <span>
            ParisNYC提供现代版的经典腰带包。它采用尼龙制成，黑色皮革镶片，前袋饰有Loubi红色刺绣。
            它由两个带拉链的拉链槽组成。这款款式采用红色设计，饰有品牌运动型搭扣，可作为腰带或斜挎包佩戴，
            展现Maison Christian Louboutin的标志性细节。
          </span><br>
        </div>
        <div class="contents-son-right-three">
          <p>数量</p>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="contents-son-right-four conmet">
          <div class="contents-son-right-four-first">
            <!-- <i>颜色</i> -->
          </div>
          <!-- <div class="contents-son-right-four-second conmet">
            <a href="javascript:;" class="click-on-the-event"><span>VELVET MATTE</span></a>
            <a href="javascript:;">SHEER VOILE</a>
            <a href="javascript:;">SHEER VOILE限量版</a>
            <a href="javascript:;">SILKY SATIN</a>
          </div> -->
          <div class="contents-son-right-four-third">
            <div class="contents-son-right-four-third-1st show-display">
              <!-- <img src="/images/BEAUTY LIP-Velvet-Matte_6.19.jpg" alt=""> -->
              <!-- <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="contents-son-right-four-third-2nd">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="contents-son-right-four-third-3rd">
              <span></span>
            </div>
            <div class="contents-son-right-four-third-4th">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span> -->
            </div>
          </div>
        </div>
        <div class="contents-son-right-five">
          <a href="javascript:;" class="contents-son-right-five-btn1"><span>选择你的尺码</span></a>
          <a href="javascript:;" class="contents-son-right-five-btn2"><span>精品可用性</span></a>
        </div>
        <div class="contents-son-right-six">
          <a href="javascript:;" class="contents-son-right-six-1st">
            <span>加入我的愿望清单</span>
            <span>❤</span>
          </a>
        </div>
        <div class="contents-son-right-seven">
          <div class="contents-son-right-seven-1st">
            <button>产品信息</button>
            <div>
              <p>参考：8052001X100</p>
              <p>体积：0,134盎司。/ 3,8gr</p>
            </div>
          </div>
          <div class="contents-son-right-seven-2nd">
            <button>运输</button>
            <div>
              <p>请注意，所有订单均需经过审核，Christian Louboutin保留要求提供额外身份信息并将订单发送至账单地址的权利。除了运输时间外，此流程还请至少24小时。</p>
            </div>
          </div>
          <div class="contents-son-right-seven-3rd">
            <button>退换货</button>
            <div>
              <ul>
                <li>商品必须在交货之日起14天内退回给我们，仅退款 - 不得兑换</li>
                <li>您可以登录您的帐户或访问我们的退货申请退货 打开一个新窗口。页。如需直接协助，请致电+1 888 856 8247（1888-8LOUBIS）与我们联系。</li>
                <li>物品必须在原包装中未使用，并且只能在原始包装箱中装运时才能接收</li>
                <li>我们深表歉意，但不能在Christian Louboutin精品店退回网上订单</li>
                <li>查看我们的退货政策</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contents-son-right-eight">
          <a href="">📲联系我们</a>
        </div>
        <div class="contents-son-right-nine">
          <div>
            <a href="javascript:;"><img src="/images/BEAUTY LIP-Velvet-Matte_6.13.png" alt=""></a>
            <a href="javascript:;"><img src="/images/BEAUTY LIP-Velvet-Matte_6.14.png" alt=""></a>
            <a href="javascript:;"><img src="/images/BEAUTY LIP-Velvet-Matte_6.15.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

  <script src="/js/BEAUTY LIP-lgp-lunbotu1.js"></script>
  <script src="/js/BEAUTY LIP-lgp-tab1.js"></script>
  <script src="/js/BEAUTY LIP-lgp-click.js"></script>
</body>

</html>