<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="/css/BEAUTYLipsVelvetMatte.css">

  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>


  <!-- 妇女乃依分类 -->
  <div class="menu conmet">
    <!-- 分类左面 -->
    <div class="menu-left">
      <ul class="menu-left-box conmet">
        <li class="menu-left-box-one"><a href="javascript:;">美女</a></li>
        <li class="menu-left-box-two"><i> <a href="javascript:;">嘴唇</a>
            <span></span></i>
          <ul class="menu-left-box-ul1">
            <li><a href="javascript:;">钉子</a></li>
            <li><a href="javascript:;">嘴唇</a></li>
            <li><a href="javascript:;">眼部收藏</a></li>
            <li><a href="javascript:;">香水</a></li>
          </ul>
        </li>
        <li class="menu-left-box-three"><i> <a href="">天鹅绒哑光</a> <span></span></i>

          <ul class="menu-left-box-ul2">
            <li><a href="javascript:;">Rouge Louboutin</a></li>
            <li><a href="javascript:;">丝滑缎</a></li>
            <li><a href="javascript:;">天鹅绒哑光</a></li>
            <li><a href="javascript:;">纯粹的Voile</a></li>
            <li><a href="javascript:;">Loubilaque</a></li>
            <li><a href="javascript:;">Loubibelle</a></li>
            <li><a href="javascript:;">Lip Definer</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- 孟加拉天鹅绒哑光 -->
  <div class="velvet">
    <div class="velvet-matte conmet">
      <div class="velvet-matte-left">
        <h2>孟加拉天鹅绒哑光</h2>
      </div>
      <div class="velvet-matte-right">
        <div></div>
      </div>
    </div>
  </div>
  <!-- 内容区域 -->
  <div class="contents">
    <div class="contents-son conmet">
      <!-- 内容区域左面 -->
      <div class="contents-son-left">
        <div class="large_box">
          <ul>
            <li>
              <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img1.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img3.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img5.jpg" width="600" height="350">
            </li>
            <li>
              <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img7.jpeg" width="600" height="350">
            </li>
            <li>
              <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img9.jpg" width="600" height="350">
            </li>
          </ul>
        </div>
        <div class="small_box conmet">
          <span class="btns lefts_btn" onclick="left_btn()"></span>
          <div class="small_list">
            <ul>
              <li class="on">
                <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img2.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img4.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img6.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img8.jpeg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
              <li class="">
                <img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img10.jpg" width="100" height="50">
                <div class="bun_bg"></div>
              </li>
            </ul>
          </div>
          <span class="btns rights_btn" onclick="right_btn()"></span>
        </div>
        <p class="contents-son-left-one">您可能还喜欢</p>
        <div class="contents-son-left-two conmet">
          <div class="contents-son-left-two-first">
            <a href="./BEAUTYLIPVelvetMatte1"><img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img11.jpg" alt=""></a>
            <span>Rouge</span>
            <span>Louboutin天鹅</span>
            <span>绒哑光</span>
          </div>
          <div class="contents-son-left-two-first">
            <a href="./BEAUTYLIPVelvetMatte4"><img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img12.jpg" alt=""></a>
            <span>Zoulou Velvet</span>
            <span>Matte</span>
          </div>
          <div class="contents-son-left-two-first">
            <a href="javascript:;"><img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img13.jpg" alt=""></a>
            <span>Maya Lip</span>
            <span>Definer</span>
          </div>
        </div>
      </div>
      <!-- 内容区域右面 -->
      <div class="contents-son-right">
        <div class="contents-son-right-one conmet">
          <span>90.00美元</span>
          <a href="http://us.christianlouboutin.com/us_en/discover-lips">发现嘴唇</a>
        </div>
        <div class="contents-son-right-two">
          <em>灵感：</em>
          <span>天鹅绒哑光唇彩，丰富的色彩和柔软的触感，不干燥舒适。</span>
          <i>对于设计师和稀有物品的创造者Christian Louboutin来说，口红是女人的魔杖。Louboutin Lip颜色不再隐藏在钥匙环和指甲锉之间，将一个被遗忘的物体变成珍贵的宝石。</i>
          <i>受中东文物和装饰艺术运动的启发，坚固的金属机身让人想起珍贵的小瓶。炮塔式皇冠帽顶部饰有一条带有丝带的小环，将唇色变成项链。</i>
          <em>产品描述 ：</em>
          <ul>
            <li>具有强烈丰富的颜料混合物，天鹅绒哑光色和柔软触感。</li>
            <li>一次性应用平滑精确和全覆盖。</li>
            <li>由于天然油脂和种子黄油的复杂性，有效防止干燥。</li>
            <li>持久舒适，外观极佳，不会长达4小时。</li>
            <li>赠送在可重复使用的黑漆纸盒首饰盒中，包括丝带和真丝手提袋。</li>
          </ul>
          <p>美国制造。</p>
          <p>临床测试。不含对羟基苯甲酸酯，矿物油，DEA或邻苯二甲酸盐配方。</p>
        </div>
        <div class="contents-son-right-three">
          <p>数量</p>
          <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
          </select>
        </div>
        <div class="contents-son-right-four conmet">
          <div class="contents-son-right-four-first">
            <i>颜色</i>
          </div>
          <div class="contents-son-right-four-second conmet">
            <a href="javascript:;" class="click-on-the-event"><span>VELVET MATTE</span></a>
            <a href="javascript:;">SHEER VOILE</a>
            <a href="javascript:;">SHEER VOILE限量版</a>
            <a href="javascript:;">SILKY SATIN</a>
          </div>
          <div class="contents-son-right-four-third">
            <div class="contents-son-right-four-third-1st show-display">
              <span><a href="./BEAUTYLIPVelvetMatte1" style="width:30px;height:30px;display:block;"></a></span>
              <span><a href="./BEAUTYLipsVelvetMatte" style="width:30px;height:30px;display:block;"></a></span>
              <span><a href="./BEAUTYLIPVelvetMatte3" style="width:30px;height:30px;display:block;"></a></span>
              <span><a href="./BEAUTYLIPVelvetMatte4" style="width:30px;height:30px;display:block;"></a></span>
              <span><a href="./BEAUTYLIPVelvetMatte2" style="width:30px;height:30px;display:block;"></a></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="contents-son-right-four-third-2nd">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
            <div class="contents-son-right-four-third-3rd">
              <span></span>
            </div>
            <div class="contents-son-right-four-third-4th">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
        <div class="contents-son-right-five">
          <a href="javascript:;" class="contents-son-right-five-btn1"><span>添加至购物袋</span></a>
          <a href="javascript:;" class="contents-son-right-five-btn2"><span>精品可用性</span></a>
        </div>
        <div class="contents-son-right-six">
          <a href="javascript:;" class="contents-son-right-six-1st">
            <span>加入我的愿望清单</span>
            <span>❤</span>
          </a>
        </div>
        <div class="contents-son-right-seven">
          <div class="contents-son-right-seven-1st">
            <button>产品信息</button>
            <div>
              <p>参考：8052001X100</p>
              <p>体积：0,134盎司。/ 3,8gr</p>
            </div>
          </div>
          <div class="contents-son-right-seven-2nd">
            <button>运输</button>
            <div>
              <p>请注意，所有订单均需经过审核，Christian Louboutin保留要求提供额外身份信息并将订单发送至账单地址的权利。除了运输时间外，此流程还请至少24小时。</p>
            </div>
          </div>
          <div class="contents-son-right-seven-3rd">
            <button>退换货</button>
            <div>
              <ul>
                <li>商品必须在交货之日起14天内退回给我们，仅退款 - 不得兑换</li>
                <li>您可以登录您的帐户或访问我们的退货申请退货 打开一个新窗口。页。如需直接协助，请致电+1 888 856 8247（1888-8LOUBIS）与我们联系。</li>
                <li>物品必须在原包装中未使用，并且只能在原始包装箱中装运时才能接收</li>
                <li>我们深表歉意，但不能在Christian Louboutin精品店退回网上订单</li>
                <li>查看我们的退货政策</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contents-son-right-eight">
          <a href="./help_concat">📲联系我们</a>
        </div>
        <div class="contents-son-right-nine">
          <div>
            <a href="javascript:;"><img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img15.png" alt=""></a>
            <a href="javascript:;"><img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img16.png" alt=""></a>
            <a href="javascript:;"><img src="/images/lgp-BEAUTY Lips-Velvet-Matte-img17.png" alt=""></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="/js/lgp-lunbotu1.js"></script>
  <script src="/js/lgp-tab1.js"></script>
  <script src="/js/lgp-click.js"></script>
  <script src="/js/logoRound.js"></script>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>
</body>

</html>