<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Christian Louboutin</title>
  <link rel="stylesheet" href="/css/beauty.css">
  <!-- 链接 -->
  <%- include('./layouts/otherLink.ejs')%>
</head>

<body>
  <!-- 头部 -->
  <%- include('./layouts/header.ejs')%>


  <div class="common">
    <div class="common-women">
      <div class="women-text">
        <div class="wm-title">BRIDAL</div>
      </div>
      <div class="women-img">
        <img src="/images/birdal00.jpg" alt="">
      </div>
    </div>
  </div>

  <!-- 中间2 -->
  <div class="common2">
    <div class="introduction">
      <!-- Bom Dia Portugaba -->
      <div class="bom up1">
        <div class="bom-text">
          <a href="">
            <span>Discover Birdal</span>
          </a>
        </div>
        <div class="bom-img">
          <a href="">
            <img src="/images/birdal01.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- Nudes Collection -->
      <div class="nudes up2">
        <div class="nudes-text">
          <a href="">
            <span>The Bride</span>
          </a>
        </div>
        <div class="nudes-img">
          <a href="">
            <img src="/images/bridal02.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- 包 -->
      <div class="bao up3">
        <ul>
          <li>
            <div class="bao-img">
              <a href="./BEAUTYLIPVelvetMatte11">
                <img src="/images/bridal03.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Lace 554</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="./BEAUTYLIPVelvetMatte12">
                <img src="/images/bridal04.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Palmette Small Clutch</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 鞋子 -->
    <div class="xie-lunbo up4">
      <div class="xie-text">
        <span>New Arrivals</span>
      </div>
      <div class="xie">
        <ul>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal05.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Pigalle Follies</span>
              </a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal06.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Marie Jane Bucket Bag</span>
              </a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal07.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Sandale Du Desert</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal08.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Cabata小号手提包</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal13.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>W Boudoir链带</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal12.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Agneska</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
      <a href=""></a>
      <a href=""></a>
    </div>
  </div>

  <div class="common2">
    <div class="introduction">
      <!-- Bom Dia Portugaba -->
      <div class="bom up6" style="float: left;">
        <div class="bom-text-a">
          <a href="">
            <span>Bom Dia Portugaba！</span>
          </a>
        </div>
        <div class="bom-img">
          <a href="">
            <img src="/images/birdal09.jpg" alt="" style="height: 380px;">
          </a>
        </div>
      </div>
      <!-- Nudes Collection -->
      <div class="nudes up7" style="float: left; margin-left: 79px; margin-top: 100px;">
        <div class="nudes-text" style="bottom: 12px; right: -30px;">
          <a href="">
            <span>新娘</span>
          </a>
        </div>
        <div class="nudes-img" style="margin-right: 0px; margin-top: 20px">
          <a href="">
            <img src="/images/birdal10.jpg" alt="" style="height: 460px;">
          </a>
        </div>
      </div>
      <!-- 包 -->
      <div class="bao up8" style="float: left;">
        <ul>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal11.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>愚蠢的斯特拉斯</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="/images/birdal12.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="/images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>愚蠢的蕾丝</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>
</body>

</html>