<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Create New Customer Account</title>
    <link rel="stylesheet" href="/css/CreateNewCustomer.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
    <!-- 头部 -->
    <%- include('./layouts/header.ejs')%>
    <!-- 内容部分 -->
    <div class="content" id="content">
        <div class="content-title">
            <h2>创建一个帐户</h2>
        </div>
        <div class="content-centre clearfix">
            <!-- 左边 -->
            <div class="content-centre-left">
                <p>创建一个帐户并订阅CHRISTIANLOUBOUTIN.COM的独家信息，其中包括我们的最新产品，新闻更新和特别优惠。</p>
                <form class="content-form">
                    <div class="newadd-right-title">
                        <i class="fa fa-caret-down  fa-1x"></i>
                        <select name="prefix" id="prefix" class="prefix" title="招呼">
                            <option value="Mr">先生</option>
                            <option value="Mrs">太太</option>
                            <option value="Ms">女士</option>
                            <option value="" selected="selected">标题</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="firstname" name="firstname" title="First Name"
                                placeholder="First name *" class="input-text required-entry">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="lastname" name="lastname" title="Last Name" placeholder="last name *"
                                class="input-text required-entry">
                        </div>
                    </div>
                    <div class="newadd-right-title newadd-right-title2">
                        <i class="fa fa-caret-down  fa-1x " id="fa-fw2"></i>
                        <select name="prefix" id="prefix" class="prefix" title="国家">
                            <option value="" selected="selected">美国</option>
                            <option value="1">美国</option>
                            <option value="2">澳大利亚</option>
                            <option value="3">中国</option>
                            <option value="4">夏威夷</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="email" name="email" title="电子邮件地址" placeholder="Email*"
                                class="input-text required-entry">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="password" name="password" title="密码" placeholder="password*"
                                class="input-text required-entry">
                        </div>
                    </div>

                    <div class="form-group form-help">
                        <p>*必填字段</p>
                    </div>
                    <div class="checkbox-group checkbox-group-left clearfix">
                        <div class="input-box2">
                            <input type="checkbox" id="" name="is_subscribed[]"
                                title="我也希望收到我还希望收到来自Christian Louboutin的独家新闻以及来自在线精品店的产品供应情况。 （您可以在我的帐户中更改它）（您可以在我的帐户中更改它）"
                                value="commerce" class="checkbox ae-checkable-group">
                        </div>
                        <div class="subscr-wrapper">
                            <p> 我还希望收到来自Christian Louboutin的独家新闻以及来自在线精品店的产品供应情况。（您可以在我的帐户中更改它）
                            </p>
                        </div>
                    </div>
                    <div class="checkbox-group checkbox-group-left clearfix">
                        <div class="input-box2">
                            <input type="checkbox" id="" name="is_subscribed[]" title="我想要美容信息" value="commerce"
                                class="checkbox ae-checkable-group">
                        </div>
                        <div class="subscr-wrapper">
                            <p> 我想要美容信息
                            </p>
                        </div>
                    </div>
                    <div class="checkbox-group checkbox-group-left clearfix">
                        <div class="input-box2">
                            <input type="checkbox" id="" name="is_subscribed[]"
                                title="我已阅读并同意使用条款打开一个新窗口。和隐私政策打开一个新窗口。Christian Louboutin在线精品店。" value="commerce"
                                class="checkbox ae-checkable-group">
                        </div>
                        <div class="subscr-wrapper">
                            <p> 我已阅读并同意 <a href="javascript:;">使用条款</a>和<a href="javascript:;">隐私政策</a>Christian
                                Louboutin在线精品店。
                            </p>
                        </div>
                    </div>
                    <!-- 验证 -->
                    <div class="verif">
                     
                    </div>
                    <!-- 按钮 -->
                    <div class="form-group form-buttons last">
                        <input type="button" class="savebtn" value="创建">
                    </div>
                </form>
            </div>

            <!-- 右边 -->
            <div class="bigimg">
                <img src="/images/createaccount.jpg" alt="">
            </div>
        </div>
    </div>
    
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>
</body>

</html>