<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/THEBRIDA.css">
  <link rel="stylesheet" href="/css/EyeandNails.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>
  <!-- 商品导航 -->
  <div class="THEBRIDA clearfix">
    <div class="THEBRIDA_first clearfix">
      <!-- 左 -->
      <div class="THEBRIDA_first_left clearfix">
        <ul class="clearfix">
          <li><i>新娘</i></li>
          <li class="classify"> <i>新郎</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a href="/BRIDA">新娘</a> </li>
                <li> <a href="#">新郎</a> </li>
                <li> <a href="/body">宝宝</a> </li>
                <li> <a href="/AMonentLikeThie">就像这个时候</a> </li>
              </ul>
            </div></i>
          </li>
          <li class="classify"> <i>所有新郎</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a>Exclusively Ours</a> </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- 右 -->
      <div class="THEBRIDA_first_right clearfix">
        <ul>
          <li class="classify"><i>男装尺寸</i>
            <span></span>
            <div class="second nv">
              <ul class="clearfix measure fist">
                <li> <i></i> <a href="#">18</a></li>
                <li> <i></i> <a href="#">34</a></li>
                <li> <i></i> <a href="#">34.5</a></li>
                <li> <i></i> <a href="#">35</a></li>
                <li> <i></i> <a href="#">35.5</a></li>
                <li> <i></i> <a href="#">36</a></li>
                <li> <i></i> <a href="#">36.5</a></li>
                <li> <i></i> <a href="#">37</a></li>
                <li> <i></i> <a href="#">37.5</a></li>
                <li> <i></i> <a href="#">38</a></li>
                <li> <i></i> <a href="#">38.5</a></li>
                <li> <i></i> <a href="#">39</a></li>
                <li> <i></i> <a href="#">39.5</a></li>
                <li> <i></i> <a href="#">40</a></li>
                <li> <i></i> <a href="#">40.5</a></li>
                <li> <i></i> <a href="#">41</a></li>
                <li> <i></i> <a href="#">41.5</a></li>
                <li> <i></i> <a href="#">42</a></li>
                <li> <i></i> <a href="#">42.5</a></li>
                <li> <i></i> <a href="#">43</a></li>
              </ul>
            </div>
          </li>
          <li class="classify color"><i>颜色</i> <span></span>
            <div class="second measure">
              <ul>
                <li><i></i><a href="#">orange</a></li>
                <li><i></i><a href="#">white</a></li>
              </ul>
            </div>
          </li>
          <li class="classify height"><i>鞋跟高度</i> <span></span>
            <div class="second">
              <ul>
                <li><img src="/images/Snipaste_2019-05-16_15-18-58.png" alt=""><a href="#">(<em class="em1">30</em>-<em class="em2">60</em> mm/1.2-2.3inches)</a></li>
                <li><img src="/images/lgp-women-Snipaste2.png" alt=""><a href="#">(<em class="em1">60</em>-<em class="em2">120</em> mm / 2.3-4.7 inches)</a></li>
              </ul>
            </div>
          </li>
          <li class="classify"> <i>材料</i> <span></span>
            <div class="second materials">
              <ul class="clearfix">
                <li><i></i><a href="#">Leather</a></li>
                <li><i></i><a href="#">Other</a></li>
                <li><i></i><a href="#">Patent Leather</a></li>
              </ul>
            </div>
          </li>
          <li class="classify iem"><img src="/images/lgp-women-Snipaste.png" alt=""></li>
        </ul>
      </div>
      </div>
      <!-- 模板展示-->
      <div class="THEBRIDA_scend ">
        <ul class="clearfix">
          <script type="text/template" id="Groom_template">
        {{each list}}
          <li>
            <img src="/images/{{$value.Groom_img1}}" alt="" class="img1"> 
            <img src="/images/{{$value.Groom_img2}}" alt="" class="img2">
             <a href="#">{{$value.Groom_names}}</a>
             <i>{{$value.Groom_platform}}</i>
          </li>
        {{/each}}   
      </script>
        </ul>
      </div>
    </div>

    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

    <script src="/js/Groom.js"></script>
</body>

</html>