<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/help_concat.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 联系我们内容-->
    <div class="concat_center">
        <div class="concat_font">
            <span class="concat_font_font">联系我们</span>
            <span class="concat_font_downline"></span>
        </div>
        <div class="concat_content">
            <form action="">
                <div class="concat_content-nature">
                    <p>您的询问性质:</p><br>
                    <ul class="concat_content-nav">
                        <li class='Online-consultation' class="tab-concat active">
                            <input type="radio" name="1" id="OnlineConsultation" value="在线咨询" checked>&nbsp;
                            <label for="OnlineConsultation">在线咨询</label>
                        </li>
                        <li class="customer-service" class="tab-concat">
                            <input type="radio" name="1" id="customerService">&nbsp;
                            <label for="customerService">客户服务</label>
                        </li>
                        <li class="Other-inquiry" class="tab-concat">
                            <input type="radio" name="1" id="OtherInquiry">&nbsp;
                            <label for="OtherInquiry">其他询问</label>
                        </li>
                    </ul>
                    <br><br>
                    <div class="concat_content-nature_content"><br>
                        <div class="Online-consultation-content concat_main selected">
                            <div>我们的在线个人购物者可以帮助您进行在线订单查询; 下订单; 规模和适合的建议; 详细的产品信息; 送货问题; 交换和返回查询。</div>&nbsp;<br><br><br>
                            <p>我们有空</p><br>
                            <div>周一至周五上午9点至晚上9点（美国东部时间）周六上午10点至晚上9点</div>
                            <div style="color:#888888">或者，您可以通过电话联系我们电话</div>
                            <div style="color:#a78888">：1-888-8LOUBIS选项1（1-888-856-8247 - 选项1）</div>
                            <br><br>
                            <p>联系信息</p><br>
                            <select class="Contact-information-option">
                                <option value="Mr">先生</option>
                                <option value="Mrs">太太</option>
                                <option value="Ms">女士</option>
                                <option value="title" selected>标题</option>
                            </select><br><br>

                            <div class="Contact-information-input">
                                <div><input type="username" name="" id="" placeholder="First name*"></div><br>
                                <div><input type="username" name="" id="" placeholder="Last name*"></div><br>
                                <div><input type="email" name="" id="" placeholder="Email*"></div><br>
                                <div><input type="number" name="" id="" placeholder="Billing Telephone Number"></div>
                                <br>
                            </div>
                            <select class="order-information">
                                <option value="">精品问题和评论</option>
                                <option value="">规模和建议</option>
                                <option value="">护理和维修</option>
                                <option value="">真实性</option>
                                <option value="">其他</option>
                                <option value="">产品咨询</option>
                            </select><br><br>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Message*"></textarea><br><br>
                            <div>*必填字段</div><br>
                            <input class="concat_submit" type="submit" name="" id="" value="提交">
                        </div>
                        <div class="customer-service-content concat_main">
                            <div>我们的客户服务团队随时为您提供帮助。寻找完美的鞋子？对精品店有疑问？需要风格建议？</div>&nbsp;<br><br><br>
                            <p>我们有空</p><br>
                            <div>周一至周五上午9点至下午6点（美国东部时间）周六上午10点至下午6点</div>
                            <div style="color:#888888">或者，您可以通过电话联系我们电话</div>
                            <div style="color:#a78888">：1-888-8LOUBIS（1-888-856-8247）</div>
                            <br><br>
                            <p>联系信息</p><br>
                            <select class="Contact-information-option">
                                <option value="Mr">先生</option>
                                <option value="Mrs">太太</option>
                                <option value="Ms">女士</option>
                                <option value="title" selected>标题</option>
                            </select><br><br>

                            <div class="Contact-information-input">
                                <div><input type="username" name="" id="" placeholder="First name*"></div><br>
                                <div><input type="username" name="" id="" placeholder="Last name*"></div><br>
                                <div><input type="email" name="" id="" placeholder="Email*"></div><br>
                                <div><input type="number" name="" id="" placeholder="Billing Telephone Number"></div>
                                <br>
                            </div>
                            <select class="order-information">
                                <option value="">精品问题和评论</option>
                                <option value="">规模和建议</option>
                                <option value="">护理和维修</option>
                                <option value="">真实性</option>
                                <option value="">其他</option>
                                <option value="">产品咨询</option>
                            </select><br><br>
                            <textarea name="" id="" cols="30" rows="10" placeholder="Message*"></textarea><br><br>
                            <div>*必填字段</div><br>
                            <input class="concat_submit" type="submit" name="" id="" value="提交">
                        </div>

                        <div class="Other-inquiry-content concat_main">
                            <p>请单击您要访问的部门电子邮件地址</p><br>
                            <div>在线新闻 - pressofficeus@us.christianlouboutin.com </div>
                            <div>招聘 - resumestheamericas@us.christianlouboutin.com </div><br>

                            <div>您也可以通过我们的Stopfake 打开新窗口。 页面联系我们的反假冒团队。</div>
                        </div>
                    </div>
            </form>
        </div>
        <div>
            <img class="concat_content-img" src="/images/peacock.jpg" alt="">
        </div>
    </div>

    <!-- 底部 -->



    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

    <script>
        // 点击询问性质的三个选项
        $('.concat_content-nav li').click(function () {
            // 1.1 清除已经有active的元素的class
            // $('.tab li').removeClass('active'); // 清除所有li身上的active
            // $('.products .main').removeClass('selected');
            // 1.2.获取到鼠标移上去的li是第几个
            // $(this).addClass('active');

            $(this).addClass('active').siblings('li').removeClass('active');
            // var index = $(this).index();
            // 1.3.根据获取的li的索引  让对应的div显示
            // $('.products .main').eq(index).addClass('selected');

            $('.concat_content-nature_content .concat_main').eq($(this).index()).addClass('selected')
                .siblings('div').removeClass('selected');
        })
    </script>
</body>

</html>