<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/keeper.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 产品保养内容-->
    <div class="keeper_center">
        <div class="keeper_font">
            <span class="keeper_font_font">产品保养</span>
            <span class="keeper_font_downline"></span>
        </div>
        <div class="keeper_contentOne">
            <h4>产品保养</h4><br>
            <span>请注意，鞋底上的红漆会随着鞋子的使用而消失。这不是鞋子的制造缺陷; 这是平常的磨损。</span><br><br><br>
            <span>Christian Louboutin强烈建议我们的客户咨询皮革护理专业人士或鞋匠，以获得特定的护理建议。</span><br><br><br>
            <span>为了使您的Christian Louboutin产品保持良好状态，我们建议您遵循以下保养说明：</span><br><br><br>
            <ul>
                <li> 1.使用干燥的软布保持皮革区域清洁干燥;</li>
                <li> 2.始终将产品存放在远离光线和热源的地方;</li>
                <li> 3.保护您的皮革不受雨淋和潮湿的影响;</li>
                <li> 4.将您的产品存放在不使用时提供给您的Christian Louboutin防尘袋中;</li>
                <li> 5.避免接触研磨表面。</li>
            </ul>
        </div>

        <div class="keeper_contentTwo">
            <h4>我在哪里修理我的LOUBOUTIN®？</h4><br>
            <span>如果您需要维修或翻新在线购买的商品，我们很乐意为您推荐以下鞋和皮革专家：</span><br><br>

            <h1>皮革SPA</h1>
            <span>55 West 55th St，New York NY，10019</span><br>
            <span> 电话：212.262.4823 </span><br>
            <a>电子邮件：info@leatherspa.com</a><br><br>
            <h1>SANTANA皮革护理</h1>
            <span>214 W 39th Street，Suite 302A，New York NY，10018 </span><br>
            <span> 电话：1.800.291.9021 </span><br>
            <a>电子邮件：customerservice@santanalc.com</a><br><br>
            <h1> PASQUALE SHOE RESTORATION</h1>
            <span>5616 San Vicente Blvd，Los Angeles，CA，90019 </span><br>
            <span>电话：323.936.6883 </span><br>
            <a>电子邮件：contact@pasqualeshoerepair.com</a><br><br>
            <h1>NICKS CUSTOM BOOTS＆SHOE REPAIR</h1>
            <span> 167 Dupont Street，Toronto，ON M5R 1V5 </span><br>
            <span>电话：416.924.5930 </span><br>
            <a>电子邮件：info@nickscustomboots.com</a>
            <br>
            <br>
            <span> 请注意Christian Louboutin仅出于对那些希望修理我们产品的人的礼貌而提出这些建议。使用这些地点的消</span><br>
            <span>费者全权负责评估地点的适用性，操作以及由此进行的任何维修的结果。Christian Louboutin不承担任何责</span><br>
            <span>任或义务。</span>
        </div>
    </div>
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>
</body>

</html>