<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/THEBRIDA.css">
  <link rel="stylesheet" href="/css/EyeandNails.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <!-- 商品导航 -->
  <div class="THEBRIDA clearfix">
    <div class="THEBRIDA_first clearfix">
      <!-- 左 -->
      <div class="THEBRIDA_first_left clearfix">
        <ul class="clearfix">
          <li><i>新娘</i></li>
          <li class="classify"> <i>嘴唇</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a href="/Nais">钉子</a> </li>
                <li> <a href="#">嘴唇</a> </li>
                <li> <a href="/EyeCollection">眼部收藏</a> </li>
                <li> <a href="Parfums">香水</a> </li>
              </ul>
            </div></i>
          </li>
          <li class="classify"> <i>所有的嘴唇</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a href="">Rouge Louboutin</a> </li>
                <li> <a href="">丝滑般</a> </li>
                <li> <a href="">天鹅绒哑光</a> </li>
                <li> <a href="">纯粹的Voile</a> </li>
                <li> <a href="">Loubilaque</a></li>
                <li> <a href="">Loubibelle</a></li>
                <li> <a href="">Lip Denfiner</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 商品导航结束 -->
    <!-- 模板展示-->
    <div class="THEBRIDA_Nails ">
      <ul class="clearfix">
        <script type="text/template" id="Lips_template">
      {{each list}}
        <li>
        <img src="/images/{{$value.img1}}" alt="" class="img1">
            <a href="#">{{$value.names}}</a>
          </div>
        </li>
        {{/each}}   
        </script>
        </li>
      </ul>
    </div>
  </div>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

</body>
<script src="/js/Lips.js"></script>
</html>