<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/css/addcss.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>

</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <div class="shop">
    <div class="all">
      <div class="page">
        <span>新闻</span>
      </div>
      <div class="new">
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年4月24日</span>
            </div>
            <div class="new-love">
              <a href="">来自葡萄牙的爱情</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>

        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年4月17日</span>
            </div>
            <div class="new-love">
              <a href="">Christian Louboutin Beauty的新全球化妆大使</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>

        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年4月15日 </span>
            </div>
            <div class="new-love">
              <a href="">Christian Louboutin向东走向Sabyasachi的FW19系列</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年2月26日</span>
            </div>
            <div class="new-love">
              <a href="">Christian Louboutin盛开的2019/20秋冬季</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年2月25日</span>
            </div>
            <div class="new-love">
              <a href="">被提名者穿着......！Christian Louboutin为第91届奥斯卡颁奖典礼上的明星配乐</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年2月15日</span>
            </div>
            <div class="new-love">
              <a href="">介绍红跑者</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年2月14日</span>
            </div>
            <div class="new-love">
              <a href="">克里斯蒂安·鲁布托（Christian Louboutin）选择昆西·布朗（Quincy Brown）指导短片推出新款Loubi Run Sneaker系列</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年1月30日</span>
            </div>
            <div class="new-love">
              <a href="">摆姿势 ！</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年1月28日</span>
            </div>
            <div class="new-love">
              <a href="">明星们在Christian Louboutin的SAG颁奖晚会上亮相</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年9月1日</span>
            </div>
            <div class="new-love">
              <a href="">Christian Louboutin在伦敦时装周男装2019年秋/冬</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年6月1日</span>
            </div>
            <div class="new-love">
              <a href="">红地毯红地毯：Christian Louboutin在第76届年度金球奖</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年5月12日</span>
            </div>
            <div class="new-love">
              <a href="">Christian Louboutin接管迈阿密巴塞尔艺术博览会</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年11月15日</span>
            </div>
            <div class="new-love">
              <a href="">LoubiTest</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年4月24日</span>
            </div>
            <div class="new-love">
              <a href="">来自葡萄牙的爱情</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年7月11日</span>
            </div>
            <div class="new-love">
              <a href="">Christian Louboutin Baby鞋子带有独家胶囊！</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年6月25日</span>
            </div>
            <div class="new-love">
              <a href="">兰迪克在街上认识你</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年5月30日</span>
            </div>
            <div class="new-love">
              <a href="">尊重工艺与设计：Loubi正在进行中</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年9月5日</span>
            </div>
            <div class="new-love">
              <a href="">与Christian Louboutin一起环游世界：Viva Manilacaba！</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年3月13日</span>
            </div>
            <div class="new-love">
              <a href="">舞台设置：Christian Louboutin的2018秋冬预览版</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年2月27日</span>
            </div>
            <div class="new-love">
              <a href="">不适当的魅力：Christian Louboutin x Halpern在伦敦时装周2018秋冬</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年2月26日</span>
            </div>
            <div class="new-love">
              <a href="">品尝彩虹</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年2月1日</span>
            </div>
            <div class="new-love">
              <a href="">人物研究：艺术家和Instagram人格迈克尔三世</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年1月30日</span>
            </div>
            <div class="new-love">
              <a href="">绑定的关系：Christian Louboutin x ICOSAE在巴黎时装周男装2018-2019秋冬</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>19年4月24日</span>
            </div>
            <div class="new-love">
              <a href="">对于九到五和五到九，遇见Streetwall</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>18年2月1日</span>
            </div>
            <div class="new-love">
              <a href="">伟大的愿景：Christian Louboutin 2018年春/夏</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
        <div class="new-list">
          <div class="new-left">
            <a href="">
              <div></div>
            </a>
          </div>
          <div class="new-right">
            <div class="new-year">
              <span>17年12月11日</span>
            </div>
            <div class="new-love">
              <a href="">创新遇见想象力：Christian Louboutin与迪士尼影城和Lucasfilm合作推出星球大战：最后的绝地</a>
            </div>
            <div class="new-read">
              <a href="">阅读文章></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

  <!-- 鼠标移入列表 -->
  <script src="/js/addjs.js"></script>
</body>

</html>