<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Customer Login</title>
    <link rel="stylesheet" href="/css/register.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
    <!-- 头部 -->
    <%- include('./layouts/header.ejs')%>
    <!-- 注册部分 -->
    <div class="account-login">
        <div class="account-hearder">
            <h2>登录或者创建一个帐户</h2>
        </div>
        <div class="account-center">
            <div class="account-center-left">
                <h3>注册客户</h3>
                <form action="">
                    <p>如果您有我们的帐户，请使用您的电子邮件地址登录。</p>

                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="email" name="lastname" title="电子邮箱地址" placeholder="Email Address"
                                class="input-text required-entry">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-box">
                            <input type="text" id="email" name="lastname" title="密码" placeholder="Password"
                                class="input-text required-entry">
                        </div>
                    </div>

                    <div class="form-a">
                        <a href="javascript:;">忘记密码了吗？</a>
                    </div>

                </form>
                <div class="form-group form-buttons last">
                    <input type="button" class="savebtn" value="登录">
                </div>
            </div>
            <div class="account-center-right">
                <h3>新客户</h3>
                <p>通过在我们的商店中创建帐户，您可以更快地完成结帐流程，存储多个送货地址，查看和跟踪您帐户中的订单等。
                </p>
                <div class="form-group form-buttons last">
                    <input type="button" class="savebtn" value="创建一个账户">
                </div>
            </div>
        </div>
    </div>

    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

    <script src="/js/register.js"></script>
</body>

</html>