<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>secrey</title>

    <link rel="stylesheet" href="/css/secrecy.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- 隐私政策内容-->
    <div class="secrecy_center">
        <div class="secrecy_content">
            <div class="secrecy_font">
                <span class="secrecy_font_font">隐私政策</span>
                <span class="secrecy_font_downline"></span>
                <div class="secrecy_content_content">
                    <span>本网站仅供居住在美国的有兴趣了解公司或购买公司产品的个人使用。未经父母同意，本网站不得吸引未满18周岁的未成年人使用，本公司不会故意收集此类访客的个人信息。</span>

                    <h1>1.本网站的目标读者</h1>

                    <span>本网站仅供居住在美国的有兴趣了解公司或购买公司产品的个人使用。未经父母同意，本网站不得吸引未满18周岁的未成年人使用，本公司不会故意收集此类访客的个人信息。</span>

                    <h1>2.你的同意</h1>

                    <span>使用本网站即表示您同意并接受本隐私政策的条款。当您通过本网站或以其他方式向公司提交个人信息时，您同意根据本隐私政策收集，披露，使用和保留该信息。</span>

                    <h1>3.收集有关您的信息</h1>

                    <span>公司主要从其客户和潜在客户那里收集个人信息，以帮助为时尚个人提供优质设计师产品，其中包括处理您的订单，回复您的问题; 通过电子邮件提供我们的新闻通讯，博客和新产品更新;
                        促进您选择与我们的第三方合作伙伴签订的交易，并将您的反馈意见纳入我们网站的改进中。</span>

                    <span>使用社交媒体帐户注册并登录站点。您可以使用社交媒体帐户注册并登录本网站，包括您的Facebook帐户。当您使用社交媒体帐户登录本网站时，您可以使用本网站上的某些社交功能。对于Facebook登录，Facebook将要求您的许可从您的Facebook帐户与该网站共享某些信息。这可能包括您的名字，姓氏，性别，生日，语言，国家/地区，电子邮件地址，个人资料照片，朋友列表以及Facebook帐户中的其他公共数据。此信息由Facebook收集，并根据Facebook的隐私政策条款提供给Christian
                        Louboutin LLC。</span>

                    <span>正在下单。当您通过本网站下订单时，您需要提供联系人，账单和信用卡信息才能完成交易。联机订单中的联系人和账单信息（姓名，账单和送货地址，电话号码和电子邮件地址）用于处理订单并向您提供有关公司的信息。此信息（包括您的电子邮件地址）也用于在我们对您的订单有疑问时与您联系，或者我们需要通知您订单的状态。我们收集的信用卡信息用于向您收取您购买的产品的费用，如果您事先同意，此信息也可能与第三方合作伙伴共享。</span>

                    <span>订阅时事通讯。当您注册我们的时事通讯（Loubi Times），博客（Loubi
                        Blog）或新产品更新（新收藏）时，我们会使用您提供的姓名和电子邮件地址向您发送您订阅的材料。您可以随时选择退订任何订阅，方法是按照取消订阅说明或发送电子邮件至customerservice.usa@us.christianlouboutin.com，并在电子邮件主题中附上UNSUBSCRIBE，然后是您的电子邮件地址（例如：UNSUBSCRIBE
                        youremail@emailaddress.com）。</span>

                    <span>向朋友推荐产品。当您通过本网站向朋友推荐产品时，我们会收集您朋友的姓名和电子邮件地址。此信息仅用于向您的朋友发送电子邮件，以告知他或她您推荐的产品。</span>

                    <span>
                        回应在线调查。我们偶尔会进行自己的在线调查，在此过程中我们会向访问者询问联系信息（如电子邮件地址）和人口统计信息（如邮政编码，年龄和/或收入水平）。我们使用调查中的联系信息向用户发送有关公司的信息。您可以选择退出调查，也可以在调查时选择退出任何未来的邮件。人口统计信息用于了解有关访问网站的人员类型的更多信息。此信息目前不与任何其他方共享。我们保留在未来以不会披露任何个人身份信息的汇总格式与其他方共享此信息的权利。</span>

                    <span>您应该谨慎地将您自愿提供的个人信息严格限制在公司回复您的查询或在使用本网站期间提供有益经验所必需的信息。</span>

                    <h1>4.自动收集信息</h1>

                    <span>
                        当您浏览本网站时，使用称为cookie和导航数据收集的方法，可以并且可以在没有您积极参与的情况下自动收集某些有限的信息。某些信息（例如，Web浏览器的类型）无法识别您的身份。其他信息（例如您的Internet协议（“IP”）地址或原始域可能会在补充其他商业可用信息来源时间接识别您。</span>

                    <span>
                        当您访问本网站时，我们会向您的计算机发送一个或多个cookie，这些cookie是包含一串字符的小文本文件，用于存储访问者从一个网页导航到另一个网页时的信息。本网站的cookie包含用户唯一的会话标识符，允许我们的服务器在网站导航期间将正确的信息返回给用户。这些信息包括用户的购物车项目，或者在请求查看或修改过去可能存储在我们的数据库中的个人信息（包括电子邮件地址）时他或她是否已登录。这些cookie可以唯一地识别您的计算机到本网站，但不利于收集个人信息。我们使用Cookie通过存储用户偏好和跟踪用户趋势来提高服务质量。大多数Web浏览器都设置为接受cookie，但您可以重置浏览器以拒绝所有cookie或指示何时发送cookie。但是，如果您的Cookie被禁用，本网站的某些功能（包括将商品添加到购物车和结帐）将无法正常运行。</span>

                    <span>
                        该公司还使用跟踪技术收集有关您的浏览习惯的匿名信息。一旦您访问本网站，我们将通过网络信标跟踪与收件人的电子邮件通信中的链接。网站信标在网站上显示为1x1透明图像，可传输诸如操作系统，浏览器，分辨率，地理位置，订购的产品和订单总数等信息。此信息用于帮助我们的网站管理员和营销人员了解网站访问者的行为以及在线和电子邮件的有效性。您的信息是匿名提交的，不会传输敏感信息或个人身份信息。</span>

                    <span>此外，我们的计算机服务器会自动记录浏览器在您访问网站时发送的信息。这些服务器日志可能包括访问本网站的日期和时间，访问时间，访问本网站的部分，您访问和从本网站购买的次数，分配的IP地址等信息。到您的计算机，您的计算机使用的浏览器类型，您与本网站的连接所源自的域，以及可能唯一标识您的计算机的一个或多个Cookie。</span>

                    <span>我们会为您分配一个唯一的内部标识符，以帮助您跟踪未来的访问情况。我们使用此信息收集有关访问者的汇总人口统计信息，并使用它来个性化您在本网站上看到的信息以及您从我们收到的电子邮件（如果您允许我们向您发送电子邮件）。我们保留此信息供内部使用;
                        我们不与他人分享。此信息与您的个人信息无关，包括您的电子邮件地址。</span>

                    <h1>5.个人数据的收集，披露，使用和保留</h1>

                    <span>除非在收集时另有说明，否则我们可能会使用您的信息来改进本网站的内容，根据您的偏好定制本网站，向您传达信息并随后更新此类信息，内部营销和研究目的，并进一步说明在本隐私政策中。除非我们在收集点另有说明，否则我们可能会将此类信息与其他被动或主动收集的信息结合起来。</span>

                    <span>公司可能会将您的信息（包括个人身份信息）转让给第三方，包括我们用于支持我们业务的承包商（例如，营销服务，履行服务，技术支持，交付服务，信用卡公司和金融机构），其中如果我们要求此类第三方同意按照本隐私政策或您之前已经同意的方式处理您的信息。如果您选择向我们的第三方合作伙伴下订单，我们将在某些情况下与第三方合作伙伴共享某些信息，包括您的电子邮件地址，以便于您进行交易。在与任何第三方合作伙伴共享您的信息之前，我们始终会征求您的同意。</span>

                    <span>公司也可能会转移您的信息</span>

                    <span>（i）我们的附属公司;
                        <span>（ii）与该信息所涉及的公司的业务职能的销售，转让或其他转让有关，在这种情况下，我们将要求任何此类买方，受让人或受让人同意按照本隐私政策对待;</span>
                        <span>（iii）保护本公司，其员工或本网站访客的权利，财产或安全; 要么</span>
                        <span>（iv）遵守传票或其他有效的法院命令，以回应监管机构的询问和要求，涉及预防或发现欺诈，或法律允许或要求的其他方面。此外，我们将充分利用通过本网站获取的所有信息或您无法识别的其他信息。</span>
                        <h1>6.披露和使用个人信息的选择</h1>

                        <span>
                            您可以选择阻止公司在某些情况下披露或使用您的个人信息（“选择退出”）。您可以选择不披露或使用您的个人信息，其目的与最初收集或您随后授权的目的不相符。此外，即使您的个人信息将根据本隐私政策中的声明目的进行披露和使用，您也可以选择退出此类披露并由未充当公司代理人的第三方使用。
                            。另一方面，如果第三方以书面形式同意提供至少与本政策要求的相同级别的隐私保护，公司可能会将您的个人信息披露给作为其代理人的第三方。</span>

                        <h1>7.访问和更正</h1>

                        <span>通过您在本网站的帐户，您可以访问公司拥有的基本个人信息，并在我们的记录中更正该信息的不准确性。有关您的个人信息准确性的任何其他问题，请按照下面“如何联系我们”部分中指定的方式与我们联系。在处理此类请求之前，我们要求个人识别自己以及要求访问和修改的信息，并且我们可能会拒绝在适用的隐私法规允许的有限情况下处理请求。</span>

                        <h1>8.安全</h1>

                        <span>
                            公司采取合理措施保护您的个人信息，防止未经授权的访问，披露，复制，使用或修改，无论是否采用电子格式。我们使用行业标准的技术预防措施，以便在您以电子方式将您的个人信息从您的计算机传输到本网站时保护您的个人信息，并进一步保护您的个人信息免受丢失，误用和未经授权的访问，披露，更改或破坏。此外，公司要求员工和第三方管理员/处理者仅在“需要知道”的基础上访问您的个人信息。</span>

                        <span>您应该记住，任何安全措施的组合都不能始终提供有保障的保护。我们提醒您，电子邮件可能特别容易受到未经授权的拦截，窃听，修改和欺骗，因此，您应特别注意决定通过电子邮件发送给我们的信息。此外，如果您在本网站上使用密码，ID号或其他特殊访问功能，则您有责任保护它们。</span>

                        <h1>9.执法</h1>

                        <span>
                            对此隐私政策或本公司处理个人信息有任何疑问，问题或投诉，可通过本网站联系我们，以发送电子邮件给我们传达privacy.usa@us.christianlouboutin.com或写信给我们在美国纽约州纽约市纽约市第三层306
                            West 38th Street 306，Christian Louboutin LLC的隐私官</span>

                        <span>
                            当我们收到正式的书面投诉时，我们的隐私官会在合理的时间内就其问题与作者联系，并尝试直接与此人解决这些问题。如果投诉人认为公司可能涉及其隐私义务可能存在不公平或欺骗性行为以及法律或监管违规行为，他或她可以通过其网站http：//www.ftc
                            打开新窗口。 向联邦贸易委员会提出投诉。 GOV 打开新窗口。
                            。我们将与美国联邦贸易委员会合作解决有关收集，披露，使用和保留个人信息的任何投诉，这些投诉是公司与投诉人之间无法解决的。</span>

                        <h1>10.与其他网站的链接</h1>

                        <span>
                            本网站可能包含与本公司无关联的第三方网站的链接或引用。包含任何链接并不意味着公司认可任何其他公司，其网站或其产品和/或服务。任何此类链接网站都有独立的独立隐私政策，我们鼓励您仔细阅读。请注意，公司无法控制关联的第三方网站，因此，对运营此类网站的组织收集，披露，使用或以其他方式处理您的个人信息的方式不承担任何责任或义务。</span>

                        <h1>11.其他条款</h1>

                        <span>您对本网站的使用受我们的使用条款和条件的约束。</span>

                        <h1>12.如何联系我们</h1>

                        <span>要纠正或更新我们以前收集的任何个人信息，请按照指示在收集本网站上的原点，在发送一封邮件给我们privacy.usa@us.christianlouboutin.com在隐私官或写信给我们，Christian
                            Louboutin LLC，306 West 38th Street，3rd Floor，New York，NY 10018，USA</span>

                        <span>加利福尼亚州居民的隐私权</span>

                        <span>向与其建立业务关系的企业（“加利福尼亚客户”）提供个人信息的加利福尼亚州居民有权要求有关企业是否已向第三方直接向第三方披露个人信息的信息营销目的。一般而言，如果企业已经披露了个人信息，则在收到加利福尼亚客户的请求后，企业必须提供在前一日历年中向其披露个人信息的所有第三方的清单。
                            ，以及披露的个人信息类别列表。</span>

                        <span>但是，根据法律规定，如果企业在其隐私政策中采用并向公众披露不向第三方披露客户个人信息用于直接营销目的的政策，则企业无需提供此类信息清单，除非客户首先肯定同意披露，只要业务维护和披露此政策。相反，企业可以通过告知客户他或她有权阻止披露个人信息并提供免费的方式来行使该权利来遵守法律。</span>

                        <span>如我们的隐私政策所述，除非您肯定同意此类披露，否则Christian Louboutin
                            LLC（“公司”）不会出于直接营销目的与第三方共享信息。如果您确实要求公司与第三方共享您的个人信息以用于该第三方的营销目的，我们将仅共享与该特定目的相关的信息。我们不会定期或持续地与任何第三方共享此类信息。为防止披露您的个人信息以供第三方直接营销，请勿在本网站上提供个人身份信息时选择使用此类信息。</span>

                        <span>
                            请注意，每当您选择接收来自第三方的未来通信时，您的信息将受第三方隐私政策的约束。如果您以后决定不希望第三方使用您的信息，您将需要直接联系第三方，因为公司无法控制第三方如何使用您的信息。您应该始终查看收集您的信息的任何一方的隐私政策，以确定该实体将如何处理您的信息。</span>

                        <span>加利福尼亚州的客户可以通过发送电子邮件至privacy.california@us.christianlouboutin.com 打开新窗口。
                            索取有关我们遵守该法律的更多信息。请注意，公司每年仅要求每位加利福尼亚客户回复一个请求，我们无需通过此电子邮件地址以外的方式回复请求。</span>

                        <h1>13.本隐私政策的变更</h1>

                        <span>如果本隐私政策发生变化，修订后的政策将发布在本网站上。请定期查看，特别是在您向公司提供任何个人信息之前。本隐私政策最后更新于2014年6月20日。留纠正任何错误，不准确或遗漏的权利，包括在提交订单后以及随时更改或更新信息，恕不另行通知。</span>
                </div>
            </div>
        </div>
        <img class="secrecy-img" src="./images/secrey.jpg" alt="">
    </div>
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>
</body>

</html>