<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Christian Louboutin</title>
  <link rel="stylesheet" href="/css/shop.css">
  <!-- 链接 -->
  <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <div class="shop">
    <div class="all">
      <div class="page">
        <span>所有商店</span>
      </div>
    </div>
    <ul class="area">
      <li><span><a href="">北美</a></span></li>
      <li><span><a href="">南美洲</a></span></li>
      <li><span><a href="">欧洲</a></span></li>
      <li><span><a href="">中东</a></span></li>
      <li><span><a href="">亚洲</a></span></li>
      <li><span><a href="">大洋洲</a></span></li>
    </ul>
  </div>
  </div>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

</body>

</html>