<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/css/stopfake.css">
    <!-- 链接 -->
    <%- include('./layouts/hearderLink.ejs')%>
</head>

<body>

    <!-- 顶部导航 -->
    <%- include('./layouts/header.ejs')%>

    <!-- Stopfake文字 -->
    <span class="stopfake_font" style="color:#333">Stopfake</span>
    <!-- stopfake内容 -->
    <div class="stopfake_content">
        <div id="nav">
            <a href="#page1" class="active">关于 STOPFAKE</a>
            <a href="#page2">在线商店检查器</a>
            <a href="#page3">新闻</a>
            <a href="#page4">操作</a>
        </div>
        <div id="main">
            <div class="mainPage" id="page1">
                <h6>我们采取了“零容忍”政策，并制定了一项综合计划，不仅要处理提供假冒ChristianLoubout®产品的网站，还要提供其来源，分销系统，拍卖网站和其他假冒贸易渠道。产品。</h6><br>
                <span>请记住，当某些东西看起来好得令人难以置信时，这通常是值得的。销售价格非常低廉的Louboutin®鞋（所谓的“廉价Louboutin”或“Louboutin
                    Outlet”）的网站可能不会销售真品。</span><br>
                <span>善用。保护你自己。通过我们的授权零售商购买。</span><br>
                <span> 查看我们的网站 <a href="">www.christianlouboutin.com </a>打开一个新窗口。</span> <br>
                <span>注意使用以下关键字的网站：</span><br>
                <ul>
                    <li>1.便宜的Louboutin</li>
                    <li>2.Christian Louboutin销售</li>
                    <li>3.Louboutin Outlet</li>
                </ul>
                <span> →</span> <a href="javascript:;" class="page1-a">联系Stopfake团队</a>
                <div class="page1-input" style="display:none;">
                    <div><input type="username" name="" id="" placeholder="First name*"></div><br>
                    <div><input type="username" name="" id="" placeholder="Last name*"></div><br>
                    <div><input type="email" name="" id="" placeholder="Email*"></div><br>
                    <div><input type="number" name="" id="" placeholder="Phone Number*"></div><br>
                    <textarea name="" id="" cols="30" rows="10" placeholder="Message*"></textarea>
                    <div>*必填字段</div>
                    <button type="submit">提交</button>
                    <div class="page1-collapse">收起</div>
                </div>
            </div>
            <br><br><br><br><br><br>
            <div class="mainPage" id="page2">
                <h1>许多网站都在销售非法侵犯我们知识产权的鞋子。即使我们采取各种行动来限制其数量，网站每天都会出现和消失。因此，以下搜索引擎随时为您服务。</h1> <br>
                <input type="text" name="" id="" class="stopfake-input" placeholder="http://www."><button
                    class="stopfake-button"></button>
                <img src="/images/stopfake_search.jpg" class="stopfake_page2_img" alt="">

            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br>
            <div class="mainPage" id="page3">
                <img src="/images/stopfake_newspaper1.jpg" alt="">
                <br>
                <a href="" style="margin-left: 418px;">更多新闻</a>
            </div><br><br><br>
            <div class="mainPage" id="page4">
                <h1>在线拍卖和分类广告</h1>
                我们在全球范围内监控数十个平台，并每天销售提供假冒ChristianLoubout®商品的拍卖和分类广告。

                <h1>搜索引擎</h1>
                我们与警察部队以及Google，Bing，Yahoo!密切合作。和其他人识别假冒ChristianLoubout®鞋的卖家。我们的计划已经取消了成千上万的网站，广告，赞助和非赞助链接，最终将互联网用户重定向到伪造的卖家。

                <h1>托管和技术提供商</h1>
                我们的计划使用我们的知识产权 - 尤其是版权法 -
                让托管服务提供商关闭存储在其服务器上的网站，我们将其识别为销售假冒产品并侵犯我们的知识产权。我们在许多国家都有很大的合规性，从美国到巴拿马，韩国，日本和中国。

                <h1>域名和UDRP程序</h1>
                当我们发现一个不断回归的网站时，我们会提出行动，寻求正式取消其域名或其他类似行为，并通过国际协议，有权从书籍中删除网站的网址，或者强制域名注册商这样做。

                <h1>博客和其他社交媒体</h1>
                坏人很聪明：他们使用的博客实际上只是将互联网用户引向销售假货的网站的另一种方式。我们把它们拿下来。我们还监控社交媒体，如Facebook，Twitter，Tumblr，Instagram或Pinterest，假冒经销商试图出售他们的商品。当我们发现这样的配置文件时，我们将其删除。

                <h1>海关</h1>
                我们的商标在世界各地的海关服务中注册。通过不断的培训和与我们的律师和我们自己的对话，支持这些服务。合作如下。

                <h1>调查</h1>
                我们在全球范围内维持着大量的现场调查员，他们会跟踪我们收到的有关销售假冒ChristianLoubout®产品的所有信息。调查人员将信息转交给我们的律师，他们在我们的指导下对其采取行动。

                <h1>袭击</h1>
                已经实施了一项综合方案。我们的现场调查员监控市场，工厂，仓库和批发商店。当他们发现制造，储存和/或销售假冒商品的地方时，会通知有关当局并进行突击搜查。然后扣押并销毁所有假冒产品。

                <h1>民事诉讼</h1>
                根据不法行为者的大小，我们会使用所有可用的补救措施。这就是所有的事情，从停止和终止信件，搜查和扣押命令，冻结伪造者资产的命令，到对伪造者的判决，以及我们尽可能恢复假冒产品，记录和金钱损失。

                <h1>犯罪行为</h1>
                如果该方似乎是一个保证采取刑事诉讼的一方，我们直接与该国的执法当局联系，寻求并鼓励对出售假货的人进行刑事起诉。

                我们总是衡量我们的资源以确保。不是每个人都得到相同的回应，但我们反对一切。这就是我们所说的“零容忍”。没有人应该相信，因为它们相对较小，不会被发现或不被移动。


                <h1> 要了解有关假冒及其可怕后果的更多信息，请访问以下链接：</h1>
                <h1>在国际范围内</h1>
                <ul>
                    <li>* 世界知识产权组织（WIPO）： <a href="">http：//www.wipo.int/</a></li>
                    <li>* 世界贸易组织（WTO）： <a href="">http：//www.wto.org/</a></li>
                    <li>* 国际商标协会（INTA）： <a href="">http：//www.inta.org/</a></li>
                    <li>* 国际反假冒联盟（IACC）： <a href="">http ：//www.iacc.org/</a> </li>
                </ul>
                <h1>在欧洲</h1>
                <ul>
                    <li>* 内部市场协调局（OAMI）： <a href="">http：//oami.europa.eu/</a></li>
                    <li>* 欧盟委员会和海关：<a href="">http：//ec.europa.eu/</a></li>
                    <li>* 欧盟刑事情报机构（欧洲刑警组织）：<a href="">http：//www.europol.europa.eu/</a></li>
                </ul>
                <h1>在法国</h1>
                <ul>
                    <li>* 国家工业产权局（INPI）：<a href="">http ：//www.inpi.fr/</a></li>
                    <li>* 国家反假冒委员会（CNAC）： <a href="">http ：//www.contrefacon-danger.com/</a></li>
                    <li>* l'Union des Fabricants（UNIFAB）： <a href="">http ：//www.unifab.com/</a></li>
                    <li>* 法国海关：<a href="">http ：//www.douane.gouv.fr/</a></li>
                    <li>* laDirectionGénéraledela Concurrence，de la Consommation et
                        delaRépressiondesFraudes（DGCCRF），法国经济和财政部的一个 Opens in New Window 部门：<a
                            href="">http：//www.economie.gouv.fr/</a></li>
                </ul>
                <h1>在美国</h1>
                <ul>
                    <li>* 移民和海关执法局（ICE）：<a href="">http：//www.ice.gov/</a></li>
                    <li>* 美国国土安全部（DHS）： <a href="">http：//www.dhs.gov/</a></li>
                    <li>* 知识产权协调中心（IPR中心）：<a href="">http：//www.iprcenter.gov/</a> </li>
                </ul>
                <h1>在加拿大</h1>
                <ul>
                    <li>* 加拿大反欺诈中心（CAFC）：<a href="">http：//www.antifraudcentre.ca/</a> </li>
                </ul><br>
                注意：以上内容不是任何组织，公司，商业，法律或其他方面的推荐或认可，而仅仅是为了方便读者。
            </div>
        </div>
    </div>
    <!-- 底部 -->
    <%- include('./layouts/footer.ejs')%>

    <!-- 底部链接 -->
    <%- include('./layouts/footerLink.ejs')%>

    <!-- js -->
    <script src="/js/stopfake.js"></script>
</body>

</html>