<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Christian Louboutin</title>
  <link rel="stylesheet" href="/css/women.css">
  <!-- 链接 -->
  <%- include('./layouts/otherLink.ejs')%>
</head>

<body>
  <!-- 顶部导航 -->
  <%- include('./layouts/header.ejs')%>

  <div class="common">
    <div class="common-women">
      <div class="women-text">
        <div class="wm-title">WOMEN</div>
        <div class="wm-list">
          <ul>
            <li><a href="">鞋子</a></li>
            <li><a href="">手袋</a></li>
            <li><a href="">皮草</a></li>
          </ul>
        </div>
      </div>
      <div class="women-img">
        <img src="./images/JPG-SH_SS19_S2__OpticalIllusions2_10.jpg" alt="">
      </div>
    </div>
  </div>

  <!-- 中间2 -->
  <div class="common2">
    <div class="introduction">
      <!-- Bom Dia Portugaba -->
      <div class="bom up1">
        <div class="bom-text">
          <a href="">
            <span>Nudes Collection</span>
          </a>
        </div>
        <div class="bom-img">
          <a href="">
            <img src="./images/SH__SS19_S2__NUDES_3_10.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- Nudes Collection -->
      <div class="nudes up2">
        <div class="nudes-text">
          <a href="">
            <span>介绍葡萄牙人</span>
          </a>
        </div>
        <div class="nudes-img">
          <a href="">
            <img src="./images/JPG-SH_FW19_S1__Portugaba_5_crop_1.jpg" alt="">
          </a>
        </div>
      </div>
      <!-- 包 -->
      <div class="bao up3">
        <ul>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-vieira-3191514_U387_1_1200x1200_1554807386.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>PORTUGABA</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-portugalcaba-3195183_H701_1_1200x1200_1554116193.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>PORTUGABA</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 鞋子 -->
    <div class="xie-lunbo up4">
      <div class="xie-text">
        <span>新来港定居人士</span>
      </div>
      <div class="xie">
        <ul>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-pigallefollies-3190006_M024_1_1200x1200_1554116165.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Pigalle Follies</span>
              </a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-pigallefollies-3140495_U481_1_1200x1200_1556016944.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Marie Jane Bucket Bag</span>
              </a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-newveryprive-3190129_M023_1_1200x1200_1552996415.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Sandale Du Desert</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-cabatasmall-3195095_CM09_1_1200x1200_1551786675.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Cabata小号手提包</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-wboudoirchainbelt-3195109_CM6S_1_1200x1200_1554807415.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>W Boudoir链带</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-agneska-3190434_BK01_1_1200x1200_1555411831.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>Agneska</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
      <a href=""></a>
      <a href=""></a>
    </div>
  </div>

  <div class="common2">
    <div class="introduction">
      <!-- Bom Dia Portugaba -->
      <div class="bom up6" style="float: left;">
        <div class="bom-text-a">
          <a href="">
            <span>Bom Dia Portugaba！</span>
          </a>
        </div>
        <div class="bom-img">
          <a href="">
            <img src="./images/Ok_news_femme_1_1.jpg" alt="" style="height: 380px;">
          </a>
        </div>
      </div>
      <!-- Nudes Collection -->
      <div class="nudes up7" style="float: left; margin-left: 79px; margin-top: 100px;">
        <div class="nudes-text" style="bottom: 12px; right: -30px;">
          <a href="">
            <span>新娘</span>
          </a>
        </div>
        <div class="nudes-img" style="margin-right: 0px; margin-top: 20px">
          <a href="">
            <img src="./images/JPG-SH_SS19_S2__Bridal_08_1_2.jpg" alt="" style="height: 460px;">
          </a>
        </div>
      </div>
      <!-- 包 -->
      <div class="bao up8" style="float: left;">
        <ul>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-folliesstrass-1191605_W021_1_1200x1200_1553600997.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>愚蠢的斯特拉斯</span></a>
              <div></div>
            </div>
          </li>
          <li>
            <div class="bao-img">
              <a href="">
                <img src="./images/christianlouboutin-follieslace-1191608_W021_1_1200x1200_1554202391.jpg" alt="">
              </a>
            </div>
            <div class="bao-text">
              <img src="./images/Snipaste_2019-05-13_09-36-12.png" alt="">
              <a href="">
                <span>愚蠢的蕾丝</span></a>
              <div></div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <script>
  
  
  </script>

  <!-- 底部 -->
  <%- include('./layouts/footer.ejs')%>

  <!-- 底部链接 -->
  <%- include('./layouts/footerLink.ejs')%>

</body>

</html>