<script type="text/template" id="categories_template">
  {{each list}}
  <tr>
      <td class="text-center"><input type="checkbox" data-id='{{$value.cate_id}}'></td>
      <td>{{$value.cate_name}}</td>
      <td>{{$value.cate_slug}}</td>
      <td class="text-center">
        <a href="javascript:;" class="btn btn-info btn-xs" data-id='{{$value.cate_id}}'>编辑</a>
        <a href="javascript:;" class="btn btn-danger btn-xs" data-id="{{$value.cate_id}}">删除</a>
      </td>
    </tr>
    {{/each}}
</script>