<div class="aside">
  <div class="profile">
    <img class="avatar" src="/img/download.png" style="border: none">
    <h3 class="name" style="color: white">CL</h3>
  </div>
  <ul class="nav">
    <li class="active">
      <a href="index.html"><i class="fa fa-dashboard"></i>仪表盘</a>
    </li>
    <li>
      <a href="#menu-posts" class="collapsed" data-toggle="collapse">
        <i class="fa fa-thumb-tack"></i>管理页面<i class="fa fa-angle-right"></i>
      </a>
      <ul id="menu-posts" class="collapse">
        <li><a href="posts.html">首页</a></li>
        <li><a href="/admin/post-add">搜索</a></li>
        <li><a href="">分类</a></li>
      </ul>
    </li>
    <li>
      <a href="/admin/users"><i class="fa fa-users"></i>用户</a>
    </li>
  </ul>
</div>