<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/THEBRIDA.css">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
</head>

<body>

  <!-- 商品导航 -->
  <div class="THEBRIDA clearfix">
    <div class="THEBRIDA_first clearfix">
      <!-- 左 -->
      <div class="THEBRIDA_first_left clearfix">
        <ul class="clearfix">
          <li><i>新娘</i></li>
          <li class="classify"> <i>宝宝</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a>新娘</a> </li>
                <li> <a>新郎</a> </li>
                <li> <a>宝宝</a> </li>
                <li> <a>就像这个时候</a> </li>
              </ul>
            </div></i>
          </li>
          <!-- <li class="classify"> <i>所有新娘</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a>新娘</a> </li>
                <li> <a>新郎</a> </li>
                <li> <a>宝宝</a> </li>
                <li> <a>就像这个时候</a> </li>
              </ul>
            </div>
          </li> -->
        </ul>
      </div>
      <!-- 右 -->
      <div class="THEBRIDA_first_right clearfix">
        <ul>
          <li class="classify"> <i>男士尺寸</i> <span></span>
            <div class="second">
              <ul class="clearfix measure">
                <li><a href="#">◯18</a></li>
                <li><a href="#">◯34</a></li>
                <li><a href="#">◯34.5</a></li>
                <li><a href="#">◯35</a></li>
                <li><a href="#">◯35.5</a></li>
                <li><a href="#">◯36</a></li>
                <li><a href="#">◯36.5</a></li>
                <li><a href="#">◯37</a></li>
                <li><a href="#">◯37.5</a></li>
                <li><a href="#">◯38</a></li>
                <li><a href="#">◯38.5</a></li>
                <li><a href="#">◯39</a></li>
                <li><a href="#">◯39.5</a></li>
                <li><a href="#">◯40</a></li>
                <li><a href="#">◯40.5</a></li>
                <li><a href="#">◯41</a></li>
                <li><a href="#">◯41.5</a></li>
                <li><a href="#">◯42</a></li>
                <li><a href="#">◯42.5</a></li>
                <li><a href="#">◯43</a></li>
              </ul>
            </div>
          </li>
          <li class="classify"><i>颜色</i> <span></span>
            <div class="second measure">
              <ul>
                <li> <p>⚪<i>红色</i><p</li>
                <li> <p>⚪<i>蓝色</i><p</li>
                <li> <p>⚪<i>白色</i><p</li>
                <li> <p>⚪<i>橙色</i><p</li>
                <li> <p>⚪<i>紫色</i><p</li>
              </ul>
            </div>
          </li>
          <li class="classify height"><i>鞋跟高度</i> <span></span>
            <div class="second">
              <ul>
                <li><img src="../public/img/lgp-women-Snipaste2.png" alt=""><a href="#">(30-60mm/1.2-2.3inches)</a></li>
              </ul>
            </div>
          </li>
          <li class="classify"> <i>材料</i> <span></span>
            <div class="second">
                <ul class="clearfix">
                    <li><a href="#">◯18</a></li>
                    </ul>
            </div>
          </li>
          <li class="classify iem"><img src="../public/img/lgp-women-Snipaste.png" alt=""></li>
        </ul>
      </div>
    </div>
    <!-- 鞋子展示-->
    <div class="THEBRIDA_scend ">
    <ul class="clearfix">
      <li><img src="../public/img/Thebrida1.jpg" alt=""> <img src="../img/Thebrida2.jpg" alt="" class="scend-now"> <a href="#">楼备平平</a>
        <p>80毫米</p> <i>在线独家</i>
      </li>
      <li><img src="../public/img/Thebrida1.jpg" alt=""> <img src="../img/Thebrida2.jpg" alt="" class="scend-now"> <a href="#">楼备平平</a>
        <p>80毫米</p> <i>在线独家</i>
      </li>
      <li><img src="../public/img/Thebrida1.jpg" alt=""> <img src="../img/Thebrida2.jpg" alt="" class="scend-now"> <a href="#">楼备平平</a>
        <p>80毫米</p> <i>在线独家</i>
      </li>
      <li><img src="../public/img/Thebrida1.jpg" alt=""> <img src="../img/Thebrida2.jpg" alt="" class="scend-now"> <a href="#">楼备平平</a>
        <p>80毫米</p> <i>在线独家</i>
      </li>
    </ul>
  </div>
  </div>
  <script src="../bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>