<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/THEBRIDA.css">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/bootstrap/bootstrap-3.3.7-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/EyeandNails.css">
</head>

<body>
  <!-- 头部 -->
  <div class="het">
    <!-- 左 -->
    <div class="het-left">
      <ul class="dl-jm">
        <!-- 用户登录 -->
        <li>
          <a href="">
            <i class="fa fa-user-o fa-fw"></i>
            <span>我的账户</span>
          </a>
        </li>
        <!-- 帮助 -->
        <li>
          <a href="">
            <i class="fa fa-exclamation fa-fw"></i>
            <span>帮助</span>
            <i class="fa fa-caret-down  fa-1x fa-fw"></i>
          </a>
          <!-- 鼠标移入的列表 -->
          <div class="help">
            <ul>
              <li><a href="">常见问题</a> </li>
              <li><a href="">送货政策</a> </li>
              <li><a href="">产品保养</a> </li>
              <li><a href="">退货政策</a> </li>
              <li><a href="">创造回报</a> </li>
              <li><a href="">隐私政策</a> </li>
              <li><a href="">Stopfake</a> </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <!-- 中 -->
    <div class="het-center">
      <!-- 左边的导航 -->
      <div class="center-left">
        <ul>
          <li><a href="">女士</a></li>
          <li><a href="">男士</a></li>
          <li><a href="">新娘</a></li>
        </ul>
      </div>
      <!-- 中间的logo -->
      <div class="center-logo">
        <a href=""><img src="../public/img/logo.png" alt=""></a>
      </div>
      <!-- 右边的导航 -->
      <div class="center-right">
        <ul>
          <li><a href="">美妆</a></li>
          <li><a href="">LOUBOUTINWORLD</a></li>
          <li><a href="">商店</a></li>
        </ul>
      </div>
    </div>
    <!-- 右 -->
    <div class="right">
      <div class="right-ico">
        <ul>
          <li><a href=""><i class="fa fa-search fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-heart-o fa-2x"></i></a></li>
          <li><a href=""><i class="fa fa-shopping-cart fa-2x"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!-- 商品导航 -->
  <div class="THEBRIDA clearfix">
    <div class="THEBRIDA_first clearfix">
      <!-- 左 -->
      <div class="THEBRIDA_first_left clearfix">
        <ul class="clearfix">
          <li><i>新娘</i></li>
          <li class="classify"> <i>嘴唇</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a href="">钉子</a> </li>
                <li> <a href="">嘴唇</a> </li>
                <li> <a href="">眼部收藏</a> </li>
                <li> <a href="">香水</a> </li>
              </ul>
            </div></i>
          </li>
          <li class="classify"> <i>所有的嘴唇</i> <span></span>
            <div class="fist">
              <ul>
                <li> <a href="">Rouge Louboutin</a> </li>
                <li> <a href="">丝滑般</a> </li>
                <li> <a href="">天鹅绒哑光</a> </li>
                <li> <a href="">纯粹的Voile</a> </li>
                <li> <a href="">Loubilaque</a></li>
                <li> <a href="">Loubibelle</a></li>
                <li> <a href="">Lip Denfiner</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 商品导航结束 -->
    <!-- 唇膏展示示-->
    <div class="THEBRIDA_Nails ">
    <ul class="clearfix">
      <li><img src="../public/img/Lips01.jpg" alt="" > <a href="#">Rouge Louboutin Velvet Matte</a>
      </li>
      <li><img src="../public/img/Lips01.jpg" alt="" > <a href="#">Rouge Louboutin Velvet Matte</a>
      </li>
      <li><img src="../public/img/Lips01.jpg" alt="" > <a href="#">Rouge Louboutin Velvet Matte</a>
      </li>
      <li><img src="../public/img/Lips01.jpg" alt="" > <a href="#">Rouge Louboutin Velvet Matte</a>
      </li>
      <li><img src="../public/img/Lips01.jpg" alt="" > <a href="#">Rouge Louboutin Velvet Matte</a>
      </li>
    </ul>
  </div>
  </div>
  <script src="../bootstrap/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
</body>

</html>